Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

hyper is the default
  docs/Learning-Environment-Design-Agents.md
  docs/Training-Configuration-File.md
Due: none

ObsType internal too, NumDimensions to Rank
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos.onnx.meta
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Sensors/ISensor.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationSpec.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Tests/Editor/ObservationSpecTests.cs
Due: none

Removing VectorSensor UpdateSensor method
  com.unity.ml-agents/Editor/VectorSensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensorComponent.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensorComponent.cs
Due: none

cleanup
  Project/Assets/ML-Agents/Examples/DungeonEscape.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Meshes.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Meshes/Cave.fbx
  Project/Assets/ML-Agents/Examples/DungeonEscape/Meshes/Cave.fbx.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Meshes/Door.fbx
  Project/Assets/ML-Agents/Examples/DungeonEscape/Meshes/Door.fbx.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Prefabs.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Prefabs/Column.prefab
  Project/Assets/ML-Agents/Examples/DungeonEscape/Prefabs/Column.prefab.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Prefabs/DungeonEscapeAgent.prefab
  Project/Assets/ML-Agents/Examples/DungeonEscape/Prefabs/DungeonEscapeAgent.prefab.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Prefabs/DungeonEscapePlatform.prefab
  Project/Assets/ML-Agents/Examples/DungeonEscape/Prefabs/DungeonEscapePlatform.prefab.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Prefabs/Sword.prefab
  Project/Assets/ML-Agents/Examples/DungeonEscape/Prefabs/Sword.prefab.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scenes.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scenes/DungeonEscape.unity
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scenes/DungeonEscape.unity.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scripts.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scripts/DungeonEscapeEnvController.cs
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scripts/DungeonEscapeEnvController.cs.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scripts/PushAgentEscape.cs
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scripts/PushAgentEscape.cs.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scripts/SimpleNPC.cs
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scripts/SimpleNPC.cs.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/TFModels.meta
  Project/Assets/ML-Agents/Examples/DungeonEscape/TFModels/DungeonEscape.onnx
  Project/Assets/ML-Agents/Examples/DungeonEscape/TFModels/DungeonEscape.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/DungeonEscapeAgent.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/DungeonEscapePlatform.prefab
Due: none

addressing comments
  com.unity.ml-agents/Editor/VectorSensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensor.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensorComponent.cs
  com.unity.ml-agents/Tests/Editor/Sensor/VectorSensorTests.cs
Due: none

minor edits
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensorComponent.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensor.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensorComponent.cs
Due: none

add group done to ELO computation
  ml-agents/mlagents/trainers/ghost/trainer.py
Due: validate-init-py

add not interrupted
  ml-agents/mlagents/trainers/ghost/trainer.py
Due: validate-init-py

R15 fix elo (#5151)
  ml-agents/mlagents/trainers/ghost/trainer.py
Due: validate-init-py

add group done to ELO computation (#5150)
  ml-agents/mlagents/trainers/ghost/trainer.py
Due: validate-init-py

Remove release tags
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Removing the Reward and Message Observation Type, will readd when used
  com.unity.ml-agents/Runtime/Sensors/ITypedSensor.cs
  ml-agents-envs/mlagents_envs/base_env.py
Due: validate-init-py

Change main install docs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Microsoft-Azure.md
  ml-agents-envs/README.md
  ml-agents/README.md
Due: none

add actuated sensors & rbsensor
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/BlueStriker.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/PurpleStriker.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/SoccerTwos.unity
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/AgentSoccer.cs
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-14999860.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-30999978.onnx.meta
  config/poca/Soccer.yaml
Due: none

trigger test on merge (#5129)
  .yamato/pytest-gpu.yml
Due: none

Remove duplicated changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Reducing the number of hypernetwork layers
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

optional ObsType in ObsSpec utils, clean up InplaceArray
  com.unity.ml-agents/Runtime/InplaceArray.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationSpec.cs
Due: none

Fix another duplicated line in the changelog...
  com.unity.ml-agents/CHANGELOG.md
Due: none

add tests
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Editor.asmdef
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Editor.asmdef.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/MLAgentsSettings.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/MLAgentsSettings/MLAgentsSettingsTests.cs
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/MLAgentsSettings/MLAgentsSettingsTests.cs.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Tests.asmdef.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/Runtime.asmdef
  com.unity.ml-agents/Editor/MLAgentsSettingsProvider.cs
  com.unity.ml-agents/Runtime/MLAgentsSettings.cs
  com.unity.ml-agents/Runtime/MLAgentsSettingsManager.cs
Due: none

address comments
  docs/Package-Settings.md
Due: none

don't allow obs type for variable length
  com.unity.ml-agents/Runtime/Sensors/ObservationSpec.cs
Due: none

add more models
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-10499984.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-10499984.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-10999791.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-10999791.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-14999860.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-14999860.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-22999945.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-22999945.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-2999986.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-2999986.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-30999978.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-30999978.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-3499896.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-3499896.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-3999890.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-3999890.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-4499758.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-4499758.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-4999834.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-4999834.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-5499834.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-5499834.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-5999998.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-5999998.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-6499852.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-6499852.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-6999973.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-6999973.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-7499656.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-7499656.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-9499966.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-9499966.onnx.meta
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-9999757.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-9999757.onnx.meta
Due: none

bring back unity version flags
  com.unity.ml-agents/Editor/MLAgentsSettingsBuildProvider.cs
  com.unity.ml-agents/Editor/MLAgentsSettingsProvider.cs
Due: none

add 22M model to prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/SoccerTwos.unity
Due: none

fix academy stepper tests
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTest.cs
Due: none

disable dotnet format temporarily (#5088) (#5111)
  .pre-commit-config.yaml
Due: none

V2 staging new model version (#5080)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Editor/BehaviorParametersEditor.cs
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Tests/Editor/DiscreteActionOutputApplierTest.cs
  com.unity.ml-agents/Tests/Editor/EditModeTestInternalBrainTensorApplier.cs
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Make IActuator implement IHeuristicProvider. (#5110)
  com.unity.ml-agents.extensions/Runtime/Input/InputActionActuator.cs
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Actuators/ActuatorManager.cs
  com.unity.ml-agents/Runtime/Actuators/IActuator.cs
  com.unity.ml-agents/Runtime/Actuators/VectorActuator.cs
  docs/Migrating.md
Due: none

Adding more tests for v2 models (#5138)
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/BehaviorParameterTests.cs
  com.unity.ml-agents/Tests/Editor/Inference.meta
  com.unity.ml-agents/Tests/Editor/Inference/DiscreteActionOutputApplierTest.cs
  com.unity.ml-agents/Tests/Editor/Inference/DiscreteActionOutputApplierTest.cs.meta
  com.unity.ml-agents/Tests/Editor/Inference/EditModeTestInternalBrainTensorApplier.cs
  com.unity.ml-agents/Tests/Editor/Inference/EditModeTestInternalBrainTensorApplier.cs.meta
  com.unity.ml-agents/Tests/Editor/Inference/EditModeTestInternalBrainTensorGenerator.cs
  com.unity.ml-agents/Tests/Editor/Inference/EditModeTestInternalBrainTensorGenerator.cs.meta
  com.unity.ml-agents/Tests/Editor/Inference/ModelRunnerTest.cs
  com.unity.ml-agents/Tests/Editor/Inference/ModelRunnerTest.cs.meta
  com.unity.ml-agents/Tests/Editor/Inference/ParameterLoaderTest.cs
  com.unity.ml-agents/Tests/Editor/Inference/ParameterLoaderTest.cs.meta
  com.unity.ml-agents/Tests/Editor/Inference/TensorUtilsTest.cs
  com.unity.ml-agents/Tests/Editor/Inference/TensorUtilsTest.cs.meta
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action_deprecated_v1_0.nn
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action_deprecated_v1_0.nn.meta
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action_v1_0.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action_v1_0.onnx.meta
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr_deprecated_v1_0.nn
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr_deprecated_v1_0.nn.meta
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr_v1_0.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr_v1_0.onnx.meta
  com.unity.ml-agents/Tests/Editor/TestModels/discrete_rank2_vector_v2_0.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/discrete_rank2_vector_v2_0.onnx.meta
  com.unity.ml-agents/Tests/Editor/TestModels/hybrid0vis53vec_3c_2daction_v1_0.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/hybrid0vis53vec_3c_2daction_v1_0.onnx.meta
Due: none

Fix merge
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
Due: none

Update docs/Training-Configuration-File.md
  docs/Training-Configuration-File.md
Due: none

Update docs/Learning-Environment-Design-Agents.md
  docs/Learning-Environment-Design-Agents.md
Due: none

addressing comments: Renaming goal observation to goal signal in docs
  docs/Learning-Environment-Design-Agents.md
Due: none

convert to compression spec
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/SensorBase.cs
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos.onnx.meta
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureSensor.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/PhysicsBodySensor.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/Match3SensorTests.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Policies/HeuristicPolicy.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  com.unity.ml-agents/Runtime/Sensors/CompressionSpec.cs
  com.unity.ml-agents/Runtime/Sensors/CompressionSpec.cs.meta
  com.unity.ml-agents/Runtime/Sensors/ISensor.cs
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
  com.unity.ml-agents/Runtime/Sensors/Reflection/ReflectionSensorBase.cs
  com.unity.ml-agents/Runtime/Sensors/RenderTextureSensor.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensor.cs
  com.unity.ml-agents/Tests/Editor/Communicator/GrpcExtensionsTests.cs
  com.unity.ml-agents/Tests/Editor/MLAgentsEditModeTest.cs
  com.unity.ml-agents/Tests/Editor/ParameterLoaderTest.cs
  com.unity.ml-agents/Tests/Editor/Sensor/FloatVisualSensorTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/SensorShapeValidatorTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/StackingSensorTests.cs
Due: none

move compression mapping logic and tests
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Sensors/CompressionSpec.cs
  com.unity.ml-agents/Tests/Editor/Communicator/GrpcExtensionsTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/CompressionSpecTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/CompressionSpecTests.cs.meta
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
