Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Rename some fields.
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
Due: none

Update copyright dates
  LICENSE
Due: none

Make GridSensor a non allocating object after initialization. (#5014)
  ML-Agents-Input-Example/Packages/packages-lock.json
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/GridFoodCollector.unity
  com.unity.ml-agents.extensions/Runtime/Sensors/CountingGridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Unity.ML-Agents.Extensions.asmdef
Due: none

Modified the model_serialization to have correct inputs and outputs
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

WIP clean up regex logic
  utils/validate_release_links.py
Due: validate-init-py

fix gpu tests
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

switching from CamelCase to snake_case
  ml-agents/mlagents/trainers/torch/model_serialization.py
Due: validate-init-py

temporary enable gpu pytest
  .yamato/pytest-gpu.yml
Due: none

revert test trigger
  .yamato/pytest-gpu.yml
Due: none

Fix compile error, increase rotation speed
  Project/Assets/ML-Agents/Examples/Dodgeball/Scripts/DodgeBallAgent.cs
  Project/Assets/ML-Agents/Examples/Dodgeball/Scripts/PlayBackgroundAudio.cs
Due: none

Rename GroupmateStatus to AgentStatus
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

Fix gpu pytests (#5019)
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Add VectorSensorComponent
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/DynamicPlatform.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDynamicTarget.unity
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgent.cs
  Project/Assets/ML-Agents/Examples/GoalNav/Prefabs/VisualArea.prefab
  Project/Assets/ML-Agents/Examples/GoalNav/Scripts/GoalNavAgent.cs
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgent.cs
  Project/Assets/ML-Agents/Examples/PushJump/Scripts/WJPBAgent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/GoalSensorComponent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/VectorSensorComponent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/VectorSensorComponent.cs.meta
  com.unity.ml-agents/Runtime/Sensors/VectorSensor.cs
Due: none

Adding the buffer sensors
  Project/Assets/ML-Agents/Examples/Dodgeball/Prefabs/DodgeballAgent.prefab
  Project/Assets/ML-Agents/Examples/Dodgeball/Prefabs/JiggleBushSmall.prefab
  Project/Assets/ML-Agents/Examples/Dodgeball/Scripts/DodgeBallAgent.cs
  Project/ProjectSettings/AudioManager.asset
  Project/ProjectSettings/ProjectVersion.txt
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
  config/ppo/DodgeBall.yaml
Due: none

Adding a name field to BufferSensorComponent
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensorComponent.cs
  com.unity.ml-agents/Tests/Editor/Sensor/BufferSensorTest.cs
Due: none

Adding a note to the CHANGELOG about var len obs
  com.unity.ml-agents/CHANGELOG.md
Due: none

Adding a helper method for creating observation placeholder names and removed the _h and _c placeholders
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Inference/TensorNames.cs
  ml-agents/mlagents/trainers/torch/model_serialization.py
Due: validate-init-py

Adding a custom editor for BufferSensorComponent
  com.unity.ml-agents/Editor/BufferSensorComponentEditor.cs
  com.unity.ml-agents/Editor/BufferSensorComponentEditor.cs.meta
  com.unity.ml-agents/Runtime/Sensors/BufferSensorComponent.cs
Due: none

Changing Sorter to use the new Editor and serialization
  Project/Assets/ML-Agents/Examples/Sorter/Prefabs/Area.prefab
Due: none

Address comments
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/VectorSensorComponent.cs
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Make GridSensor a non allocating object after initialization.
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
Due: none

Little optimization.
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
Due: none

Don't clear the array since we are only using the numFound property to look at it.
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
Due: none

Jobified grid sensor.
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/GridFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/GridFoodCollector.unity
  Project/Assets/ML-Agents/Examples/Sorter/Scripts/SorterAgent.cs
  Project/ProjectSettings/ProjectSettings.asset
  Project/ProjectSettings/TagManager.asset
  com.unity.ml-agents.extensions/Runtime/Sensors/CountingGridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Tests/Editor/Sensors/ChannelHotPerceiveTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Sensors/ChannelPerceiveTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Sensors/CountingGridSensorPerceiveTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Sensors/GridObservationPerceiveTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Sensors/GridSensorTestUtils.cs
Due: none

Jobify GridSensor, compile with burst
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/GridFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/GridFoodCollector.unity
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx.meta
  Project/Packages/manifest.json
  Project/ProjectSettings/EditorBuildSettings.asset
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Unity.ML-Agents.Extensions.asmdef
  com.unity.ml-agents.extensions/package.json
Due: none

Raycasts instead of gridsensor
  Project/Assets/ML-Agents/Examples/Dodgeball/Prefabs/DodgeballAgent.prefab
Due: none

added model
  Project/Assets/ML-Agents/Examples/Dodgeball/Prefabs/DodgeballAgent.prefab
  Project/Assets/ML-Agents/Examples/Dodgeball/TFModels.meta
  Project/Assets/ML-Agents/Examples/Dodgeball/TFModels/DodgeBall-17499863.onnx
  Project/Assets/ML-Agents/Examples/Dodgeball/TFModels/DodgeBall-17499863.onnx.meta
  Project/Assets/ML-Agents/Examples/Dodgeball/TFModels/DodgeBall.onnx
  Project/Assets/ML-Agents/Examples/Dodgeball/TFModels/DodgeBall.onnx.meta
  config/ppo/DodgeBall.yaml
Due: none

WIP
  ml-agents/mlagents/trainers/__init__.py
  utils/validate_release_links.py
Due: validate-versions, validate-init-py

adding the recorder
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
Due: none

adding inheritdoc
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
Due: none

add settings provider. support changing settings in editor
  .gitignore
  com.unity.ml-agents/Editor/MLAgentsSettingsProvider.cs
  com.unity.ml-agents/Editor/MLAgentsSettingsProvider.cs.meta
  com.unity.ml-agents/Runtime/MLAgentsSettings.cs
  com.unity.ml-agents/Runtime/MLAgentsSettings.cs.meta
Due: none
