Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Reverted validate versions.
  utils/validate_versions.py
Due: validate-init-py

Fixed bug with com.unity.ml-agents-test.yml
  .yamato/com.unity.ml-agents-test.yml
Due: none

Fixed bug with test_versions.metafile
  .yamato/test_versions.metafile
Due: none

README updated.
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Updated editor version for DevProject and bumped ml-agents versions in Project and DevProject to 2.2.0-exp.1
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  DevProject/ProjectSettings/ProjectVersion.txt
  Project/Packages/packages-lock.json
Due: none

Removed unreleased section. (#5667)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update CHANGELOG.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

Updated README for release. (#5670)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Updates for package validation errors. (#5671)
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  com.unity.ml-agents/LICENSE.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
Due: none

Fixed build-docker and updated CHANGELOG to add unreleased section.
  .github/workflows/build-docker.yaml
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fix Gridsize as public
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
Due: none

Updated backward compat mac training yamato test.
  .yamato/training-backcompat-tests.yml
Due: none

Updated backward compat mac training yamato test. (#5685)
  .yamato/training-backcompat-tests.yml
Due: none

Fixed build-docker and updated CHANGELOG to add unreleased section. (#5682)
  .github/workflows/build-docker.yaml
  .yamato/training-backcompat-tests.yml
  com.unity.ml-agents/CHANGELOG.md
Due: none

upgrade gym to 0.21.0 (#5639)
  gym-unity/setup.py
Due: validate-init-py

Update changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Removed previous changelog note (for now).
  com.unity.ml-agents/CHANGELOG.md
Due: none

static crawler and walker
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverse.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverse.cs
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/PlatformDiverse.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdollDiverse.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerDiverse.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgentDiverse.cs
  compare_policies.py
  config/sac/BasicDiverse_diayn.yaml
  config/sac/CrawlerDiverse1.yaml
  config/sac/CrawlerDiverse2.yaml
  config/sac/CrawlerDiverse3.yaml
  config/sac/CrawlerDiverse4.yaml
  config/sac/CrawlerDiverse5.yaml
  config/sac/CrawlerDiverse_diayn2.yaml
  config/sac/CrawlerDiverse_diayn3.yaml
  config/sac/CrawlerDiverse_diayn4.yaml
  config/sac/CrawlerDiverse_diayn5.yaml
  config/sac/WalkerDiverse.yaml
  config/sac/WalkerDiverse1.yaml
  config/sac/WalkerDiverse2.yaml
  config/sac/WalkerDiverse3.yaml
  config/sac/WalkerDiverse4.yaml
  config/sac/WalkerDiverse5.yaml
  config/sac/WalkerDiverse_diayn1.yaml
  config/sac/WalkerDiverse_diayn2.yaml
  config/sac/WalkerDiverse_diayn3.yaml
  config/sac/WalkerDiverse_diayn4.yaml
  config/sac/WalkerDiverse_diayn5.yaml
Due: validate-init-py

walker crawler prefabs
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/PlatformDiverseStatic.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/PlatformDiverseStatic.prefab.meta
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDiverseStatic.unity
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDiverseStatic.unity.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/PlatformDiverseStatic.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/PlatformDiverseStatic.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerDiverseStatic.unity
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerDiverseStatic.unity.meta
Due: none

add walker obs
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverse.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/PlatformDiverseStatic.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDiverseStatic.unity
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverse.cs
  config/sac/WalkerDiverse1.yaml
  config/sac/WalkerDiverse2.yaml
  config/sac/WalkerDiverse3.yaml
  config/sac/WalkerDiverse4.yaml
  config/sac/WalkerDiverse5.yaml
  config/sac/WalkerDiverse_diayn1.yaml
  config/sac/WalkerDiverse_diayn2.yaml
  config/sac/WalkerDiverse_diayn3.yaml
  config/sac/WalkerDiverse_diayn4.yaml
  config/sac/WalkerDiverse_diayn5.yaml
  config/sac/WormDiverse1.yaml
Due: none

Bumped PZ version to 1.14.0. Fixed failing tests.
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
  pettingzoo-unity/pettingzoo_unity/tests/simple_test_envs.py
  pettingzoo-unity/pettingzoo_unity/tests/test_pettingzoo_wrapper.py
  pettingzoo-unity/setup.py
Due: validate-init-py

add reg to gmm
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

add crawler look at reward
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverse.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/PlatformDiverseStatic.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverse.cs
Due: none

add args for gmm modes
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgentDiverse.cs
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

regularize mixture weights
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverse.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/PlatformDiverseStatic.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/PlatformDiverseStatic.prefab.meta
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDiverseStatic.unity
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDiverseStatic.unity.meta
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverse.cs
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/PlatformDiverse.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/PlatformDiverseStatic.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/PlatformDiverseStatic.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdollDiverse.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerDiverse.unity
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerDiverseStatic.unity
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerDiverseStatic.unity.meta
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgentDiverse.cs
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

fix regularize loss
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

Update code examples to use actionBuffers #5566
  docs/Learning-Environment-Create-New.md
Due: none

Added TODO to pydoc-config.yaml
  ml-agents-envs/pydoc-config.yaml
Due: none

bad try
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

formatted ``gym-unity/setup.py``
  gym-unity/setup.py
Due: validate-init-py

add gmm stats collection
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

fix reg loss
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

remove regularizer
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

add back regularizer
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Refactored gym and pz to be under a subpackage in mlagents_env package
  ml-agents-envs/GYM_README.md
  ml-agents-envs/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/envs/__init__.py
  ml-agents-envs/mlagents_envs/envs/env_helpers.py
  ml-agents-envs/mlagents_envs/envs/pettingzoo_env_factory.py
  ml-agents-envs/mlagents_envs/envs/unity_aec_env.py
  ml-agents-envs/mlagents_envs/envs/unity_gym_env.py
  ml-agents-envs/mlagents_envs/envs/unity_parallel_env.py
  ml-agents-envs/mlagents_envs/envs/unity_pettingzoo_base_env.py
  ml-agents-envs/pettingzoo_unity/__init__.py
  ml-agents-envs/tests/test_gym.py
  ml-agents-envs/tests/test_pettingzoo_wrapper.py
  ml-agents/tests/yamato/scripts/run_gym.py
Due: validate-versions, validate-init-py

fix clip logits
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

tighten test_process_pixels_gray bound
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
Due: validate-init-py
