Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

add to doc and changelog
  com.unity.ml-agents/CHANGELOG.md
  docs/Learning-Environment-Examples.md
Due: none

reset Academy at start of test
  com.unity.ml-agents/Tests/Runtime/RuntimeAPITest.cs
Due: none

remove unused
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/AgentGreen.mat
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/AgentGreen.mat.meta
Due: none

add to changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

redo trigger, add comment
  .yamato/com.unity.ml-agents-test.yml
Due: none

Run DevProject tests in yamato (#4542)
  .yamato/com.unity.ml-agents-test.yml
  com.unity.ml-agents/Tests/Runtime/RuntimeAPITest.cs
Due: none

make sure academy is initialized before accessing it
  com.unity.ml-agents/Runtime/Academy.cs
Due: none

Add gcloud configure-docker
  .github/workflows/build-docker.yaml
Due: none

Update to push to staging
  .github/workflows/build-docker.yaml
Due: none

Update com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

rename ActionModel
  ml-agents/mlagents/trainers/torch/action_model.py
Due: validate-init-py

Clean up AcademyFixedUpdateStepper when playmode changed (#4532)
  .yamato/com.unity.ml-agents-test.yml
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Performance.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Performance/SensorPerformanceTests.cs
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Performance/SensorPerformanceTests.cs.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Tests.asmdef
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Tests.asmdef.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTest.cs
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTest.cs.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTestScene.unity
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTestScene.unity.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/Runtime.asmdef
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/Runtime.asmdef.meta
  DevProject/ProjectSettings/EditorBuildSettings.asset
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Tests/Runtime/RuntimeAPITest.cs
Due: none

change observation type to enum
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Match3VisualObs.prefab
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3SensorComponent.cs
Due: none

add tooltips
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DAgent.cs
Due: none

Add Visual3DBall scene (#4513)
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBall.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/Visual3DBall.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/Visual3DBall.prefab.meta
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/3DBall.unity
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/Visual3DBall.unity
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/Visual3DBall.unity.meta
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DAgent.cs
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/Visual3DBall.nn
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/Visual3DBall.nn.meta
  com.unity.ml-agents/CHANGELOG.md
  config/ppo/Visual3DBall.yaml
  docs/Learning-Environment-Examples.md
Due: none

[Do not merge]
  ml-agents/tests/yamato/training_int_tests.py
Due: validate-init-py

remove old behaviorspec
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

add unit tests for __str__
  ml-agents/mlagents/trainers/tests/test_settings.py
Due: validate-init-py

fix typo
  .yamato/com.unity.ml-agents-compressed-sensor-test.yml
Due: none

add to_string for samplers (#4484)
  ml-agents/mlagents/trainers/environment_parameter_manager.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_settings.py
Due: validate-init-py

renaming file so pytest will not try to run it
  .yamato/com.unity.ml-agents-compressed-sensor-test.yml
  ml-agents/tests/yamato/scripts/run_compressed_sensor.py
Due: validate-init-py

rename yamato config file
  .yamato/compressed-sensor-test.yml
Due: none

Need standalone build for 2019.4
  .yamato/standalone-build-test.yml
Due: none

Running only on 2018.4 since it seems to be the only version thhat can build
  .yamato/compressed-sensor-test.yml
  .yamato/gym-interface-test.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
Due: none

Typo in the name of the testing script
  .yamato/compressed-sensor-test.yml
Due: none

update changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

update changelog before release
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update README.md
  docs/localized/RU/README.md
Due: none

remove comments
  ml-agents/mlagents/trainers/torch/action_model.py
Due: validate-init-py

RU - documentation localization (#4529)
  docs/localized/RU/README.md
  docs/localized/RU/docs/Начало работы.md
  docs/localized/RU/docs/Установка.md
Due: none

add localization PR to changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

using splitext rather than strip to find executable name`
  ml-agents/tests/yamato/standalone_build_tests.py
Due: validate-init-py

Rename and move TextureToTensor
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureSensor.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/Sensors/RenderTextureSensor.cs
  com.unity.ml-agents/Runtime/Utilities.cs
Due: none

Update changelog for release 8 (#4548)
  com.unity.ml-agents/CHANGELOG.md
Due: none

fix flip for compressed obs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
Due: none

update version on master
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

update versions on release branch
  README.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
