Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

sort out torch for gpu test
  .yamato/pytest-gpu.yml
Due: none

fix visual encoder gpu-test
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
Due: validate-init-py

Fix the deterministic showing up all the tiime (#5621)
  ml-agents/mlagents/trainers/torch/action_model.py
Due: validate-init-py

set warnaserror off
  Project/Assets/csc.rsp
Due: none

set warnaserror on
  Project/Assets/csc.rsp
Due: none

Quick changes to support Elo as a curriculum measure.
  ml-agents/mlagents/trainers/environment_parameter_manager.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

fix visual encoder gpu-test (#5625)
  Project/Assets/csc.rsp
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
Due: validate-init-py

basic diverse gmm
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverse.cs
  config/sac/BasicDiverse.yaml
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

Package Signature in CI (#5565)
  .yamato/com.unity.ml-agents-publish.yml
Due: none

Deterministic actions python training (#5626)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Editor/BehaviorParametersEditor.cs
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Inference/TensorNames.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
  com.unity.ml-agents/Tests/Editor/Inference/ModelRunnerTest.cs
  com.unity.ml-agents/Tests/Editor/TestModels/deterContinuous2vis8vec2action_v2_0.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/deterContinuous2vis8vec2action_v2_0.onnx.meta
  com.unity.ml-agents/Tests/Editor/TestModels/deterDiscrete1obs3action_v2_0.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/deterDiscrete1obs3action_v2_0.onnx.meta
  com.unity.ml-agents/Tests/Runtime/RuntimeAPITest.cs
  docs/Getting-Started.md
  docs/Learning-Environment-Design-Agents.md
  docs/Training-Configuration-File.md
  docs/images/3dball_learning_brain.png
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_settings.py
  ml-agents/mlagents/trainers/tests/torch/test_action_model.py
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Fix doc typos (#5620)
  docs/Package-Settings.md
  docs/Python-API.md
Due: none

Release cleanup for changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update CHANGELOG.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

Simple example of using Elo score as curriculum step completion criteria
  config/poca/SoccerTwosCurriculum.yaml
Due: none

Changelog cleanup. (#5627)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Add ENABLE_CLOUD_SERVICES_ANALYTICS Guards
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
Due: none

mmodal q heads
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverse.cs
  config/sac/BasicDiverse.yaml
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/torch/decoders.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

update scene
  Project/Assets/ML-Agents/Examples/BasicDiverse/Prefabs/Platform.prefab
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scenes/BasicDiverse.unity
Due: none

uneven basic div
  Project/Assets/ML-Agents/Examples/BasicDiverse/Prefabs/Platform.prefab
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scenes/BasicDiverse.unity
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverse.cs
  config/sac/BasicDiverse.yaml
  plot_q_heatmap.py
Due: validate-init-py

add metadata and behavior_specs initialization
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_aec_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_pettingzoo_base_env.py
Due: validate-versions, validate-init-py

One more missing guard
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
Due: none

Fix analytics error when compiling XBOX and PS5 (#5628)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
Due: none

update q heatmap script
  plot_q_heatmap.py
Due: validate-init-py

worm div works
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scenes/BasicDiverse.unity
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverse.cs
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Scenes/WormDiverse.unity
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgentDiverse.cs
  Project/Assets/ML-Agents/Examples/Worm/TFModels/mmq.onnx
  config/sac/BasicDiverse.yaml
  config/sac/WormDiverse.yaml
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  plot_q_heatmap.py
Due: validate-init-py

addressing behaviour_spec issues
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_pettingzoo_base_env.py
Due: validate-versions, validate-init-py

worm gmm works
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Scenes/WormDiverse.unity
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgentDiverse.cs
  Project/Assets/ML-Agents/Examples/Worm/TFModels/gmm.onnx
  config/sac/WormDiverse.yaml
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

update gmm model
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/TFModels/gmm.onnx
Due: none

add compare policies
  compare_policies.py
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

add prior export
  compare_policies.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

update mede configs
  config/sac/WormDiverse1.yaml
  config/sac/WormDiverse2.yaml
  config/sac/WormDiverse3.yaml
  config/sac/WormDiverse5.yaml
Due: none

add gmm configs
  config/sac/WormDiverse1.yaml
  config/sac/WormDiverse2.yaml
  config/sac/WormDiverse4.yaml
  config/sac/WormDiverse5.yaml
Due: none

remove print
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

comment out engtropy stat add
  ml-agents/mlagents/trainers/agent_processor.py
Due: validate-init-py

fix dynamic axes disc export
  ml-agents/mlagents/trainers/torch/model_serialization.py
Due: validate-init-py

add diayn configs
  config/sac/WormDiverse_diayn1.yaml
  config/sac/WormDiverse_diayn2.yaml
  config/sac/WormDiverse_diayn4.yaml
  config/sac/WormDiverse_diayn5.yaml
Due: none

clean up mede/diayn code
  config/sac/BasicDiverse.yaml
  config/sac/BasicDiverse_diayn.yaml
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  plot_q_heatmap.py
Due: validate-init-py

remove file writing
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgentDiverse.cs
Due: none

add min to mixture weight
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

Removed mention of release 19
  docs/Getting-Started.md
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
