Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

add 1.0.8 to the release table (#5398)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

update xvfb links
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
Due: none

update link script to handle pip commands in ipynb
  .pre-commit-config.yaml
  utils/validate_release_links.py
Due: validate-init-py

remove github action for now
  .github/workflows/colab.yml
Due: none

update changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

remove circleci config
  .circleci/config.yml
Due: none

[MLA-2017] Move colab notebooks to github (#5399)
  .pre-commit-config.yaml
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  com.unity.ml-agents/CHANGELOG.md
  utils/validate_release_links.py
Due: validate-init-py

update colab links in readme
  docs/Readme.md
Due: none

debug log level
  .github/workflows/colab.yml
Due: none

exe output to console
  colab/Colab_UnityEnvironment_1_Run.ipynb
  ml-agents-envs/mlagents_envs/registry/binary_utils.py
Due: validate-init-py

install mlagents locally
  .github/workflows/colab.yml
  ml-agents-envs/mlagents_envs/registry/binary_utils.py
Due: validate-init-py

debug
  colab/Colab_UnityEnvironment_1_Run.ipynb
Due: none

force xvfb
  colab/Colab_UnityEnvironment_1_Run.ipynb
Due: none

install dotnet
  .github/workflows/colab.yml
Due: none

deps
  .github/workflows/colab.yml
  .github/workflows/pytest.yml
  colab_requirements.txt
Due: none

Fix the reporting of histogram stats and adding a test
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

Appending to the Changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

update colab links in readme (#5408)
  docs/Readme.md
Due: none

undo pytest, use env variable to determine xvfb setup
  .github/workflows/colab.yml
  .github/workflows/pytest.yml
  colab/Colab_UnityEnvironment_1_Run.ipynb
  ml-agents-envs/mlagents_envs/registry/binary_utils.py
Due: validate-init-py

run all notebooks, smaller steps for qlearning
  .github/workflows/colab.yml
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
Due: none

fix qlearnning params
  colab/Colab_UnityEnvironment_2_Train.ipynb
Due: none

output paths
  .github/workflows/colab.yml
Due: none

distinct output paths
  .github/workflows/colab.yml
Due: none

output path (for reals this time), faster qlearning
  .github/workflows/colab.yml
Due: none

Fix the reporting of histogram stats and adding a test (#5410)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

Run CI on Colab notebooks. (#5409)
  .github/workflows/colab.yml
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  colab_requirements.txt
Due: none

mark RayPerceptionInput.OutputSize() and RayPerceptionOutput.ToFloatArray() as deprecated
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
Due: none

add virtual method for custom observations
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
Due: none

remove circleci config (#5407)
  .circleci/config.yml
Due: none

Removing misleading learning rate
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
Due: validate-init-py

forgot one
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
Due: validate-init-py

address comments
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
Due: none

update changelog for upcoming release
  com.unity.ml-agents/CHANGELOG.md
Due: none

fix create default sensor
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
Due: none

call writer.AddList for each ray
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
Due: none

add Unreleased section
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update changelog before Release 18 branch (#5412)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update package versions for main branch
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

update versions for release 18
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

run validate-release-links-py via pre-commit
  README.md
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/Migrating.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  ml-agents-envs/README.md
  ml-agents/README.md
  ml-agents/setup.py
Due: validate-init-py
