Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Move SB3 dependencies to colab (#29)
  colab/Colab_UnityEnvironment_4_SB3VectorEnv.ipynb
  docs/ML-Agents-Overview.md
  ml-agents-envs/mlagents_envs/envs/unity_vec_env.py
  ml-agents-envs/setup.py
  ml-agents-envs/tests/test_unity_vec_env.py
Due: validate-init-py

bump to barracuda 3.0.0 (#30)
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
Due: none

fix markdown docs linking issue (#40)
  .github/workflows/pre-commit.yml
  docs/Installation.md
  docs/Learning-Environment-Examples.md
  docs/Limitations.md
  docs/Training-ML-Agents.md
Due: none

Add sonarqube yamato job (#38)
  .yamato/sonar-python-package.yml
Due: none

Pinning markdown link check to 3.8.7 on nightly gha. (#43)
  .github/workflows/nightly.yml
Due: none

pin black version to 22.3.0 (#46)
  .pre-commit-config.yaml
  .yamato/pytest-gpu.yml
Due: none

fix-sonar-bugs (#44)
  docs/doxygen/unity.css
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/tests/test_settings.py
  ml-agents/mlagents/trainers/tests/test_trainer_controller.py
  ml-agents/mlagents/trainers/tests/test_trainer_util.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
Due: validate-init-py

bump version to 0.29.0 (#42)
  .yamato/pytest-gpu.yml
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  colab/Colab_UnityEnvironment_4_SB3VectorEnv.ipynb
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Migrating.md
  docs/Training-on-Microsoft-Azure.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  ml-agents/mlagents/trainers/tests/results/ppo/run_logs/training_status.json
Due: validate-versions, validate-init-py

Update automated trigger references to support develop branch (#36)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/colab.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .yamato/com.unity.ml-agents-coverage.yml
  .yamato/com.unity.ml-agents-optional-dep-tests.yml
  .yamato/com.unity.ml-agents-performance.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/compressed-sensor-test.yml
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/pytest-gpu.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/standalone-build-webgl-test.yml
  .yamato/training-backcompat-tests.yml
  .yamato/training-int-tests.yml
Due: none

Learning-Environment-Design-Agents added
  docs/localized/KR/docs/Learning-Environment-Design-Agents.md
Due: none

Update Learning-Environment-Design-Agents.md
  docs/localized/KR/docs/Learning-Environment-Design-Agents.md
Due: none

Removed dead links in pull request template. (#48)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix string typing on trainer_factory.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

Fix typing on directory_utils.py
  ml-agents/mlagents/trainers/directory_utils.py
Due: validate-init-py

pre
  docs/localized/KR/README.md
Due: none

0409
  DevProject/Assets/csc.rsp
  DevProject/DevProject.sln.DotSettings
  DevProject/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
  Project/Assets/ML-Agents/Examples/PushBlockWithInput/PushBlockActions.inputactions
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/ShaderOutline.shader
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/ShaderRadialGrid.shader
  Project/Project.sln.DotSettings
  com.unity.ml-agents.extensions/.gitignore
  com.unity.ml-agents.extensions/Runtime/Input/Unity.ML-Agents.Extensions.Input.asmdef
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Unity.ML-Agents.Extensions.Input.Tests.Runtime.asmdef
  com.unity.ml-agents/Plugins/IL2CPP.DL.Stubs.c
  com.unity.ml-agents/Runtime/Grpc/Unity.ML-Agents.CommunicatorObjects.asmdef
  com.unity.ml-agents/com.unity.ml-agents.sln.DotSettings
  config/sac/FoodCollector.yaml
  docs/localized/KR/README.md
  docs/localized/KR/docs/Installation-Anaconda-Windows.md
  docs/localized/KR/docs/Installation.md
  docs/localized/KR/docs/Learning-Environment-Design-Agents.md
  docs/localized/KR/docs/Learning-Environment-Examples.md
  docs/localized/KR/docs/Training-Imitation-Learning.md
  docs/localized/KR/docs/Training-PPO.md
  docs/localized/KR/docs/Using-Docker.md
  docs/localized/TR/docs/Getting-Started.md
  docs/localized/TR/docs/Readme.md
  docs/localized/zh-CN/docs/Readme.md
  test_constraints_max_version.txt
  test_constraints_mid_version.txt
  test_constraints_min_version.txt
Due: none

Use pinned version of package-ci/mac image (#50)
  .yamato/sonar-python-package.yml
Due: none

Added Hugging Face Integration
  ml-agents/mlagents/utils/load_from_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
  ml-agents/setup.py
Due: validate-init-py

init add of wandb ai writer
  ml-agents/mlagents/plugins/stats_writer.py
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

Add shared critic configurability for PPO (#45)
  docs/Training-Configuration-File.md
  docs/Training-ML-Agents.md
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
Due: validate-init-py

Updated Unity version to 2020.3.33f1. (#53)
  DevProject/ProjectSettings/ProjectVersion.txt
  Project/ProjectSettings/ProjectVersion.txt
Due: none

Update submodules (#56)
  ml-agents-envs/setup.py
  utils/validate_inits.py
Due: validate-init-py

Add poca reference and update to latex refs (#57)
  docs/Readme.md
  ml-agents/README.md
Due: none

add poca ref in docs (#58)
  docs/ML-Agents-Overview.md
Due: none

Reorder angles in RayPerceptionSensor
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensorComponentBase.cs
Due: none

Update Python-API.md
  docs/Python-API.md
Due: none

Update Training-Configuration-File.md (#59)
  docs/Learning-Environment-Design-Agents.md
  docs/Training-Configuration-File.md
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
