Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Fix some issues, add API to behavior params along with an event for when a policy is applied to an Agent.
  com.unity.ml-agents.extensions/Runtime/Input/InputActionActuator.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorComponent.cs
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
Due: none

revert pinning pip (#4944)
  .github/workflows/pytest.yml
Due: none

Update versions for release 13.
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

Release 13 versions.
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Fix typo in gym-unity doc (#4937)
  gym-unity/README.md
Due: none

Fix tests.
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorComponent.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActionActuatorTests.cs
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
  com.unity.ml-agents/Tests/Editor/BehaviorParameterTests.cs
Due: none

Comment on static var.
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorComponent.cs
Due: none

Fix collider
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
Due: none

Remove old code.
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorComponent.cs
Due: none

fix tets.
  com.unity.ml-agents.extensions/Tests/Runtime/Input/TestPushBlockActions.cs
Due: none

Update combine method to not alloc, added doc.
  com.unity.ml-agents/Runtime/Actuators/ActionSpec.cs
Due: none

Update changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Address PR feedback.
  com.unity.ml-agents.extensions/Documentation~/InputActuatorComponent.md
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
  config/imitation/PushBlock.yaml
Due: none

Fix versions.
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Proper critic memories for PPO
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
Due: validate-init-py

store registered agents in set
  com.unity.ml-agents.extensions/Runtime/MultiAgent/BaseMultiAgentGroup.cs
Due: none

Remove mesh colliders from soccer scenes
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/StrikersVsGoalieField.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/SoccerTwos.unity
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/StrikersVsGoalie.unity
Due: none

Modify crawler to make variable speed use goals
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerBase.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgent.cs
Due: none

Fix typo.
  com.unity.ml-agents.extensions/Documentation~/InputActuatorComponent.md
Due: none

Remove mesh colliders from soccer scenes (#4949)
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/StrikersVsGoalieField.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/SoccerTwos.unity
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/StrikersVsGoalie.unity
Due: none

built-in actuator type
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Actuator.cs
  com.unity.ml-agents/Runtime/Actuators/IBuiltInActuator.cs
  com.unity.ml-agents/Runtime/Actuators/IBuiltInActuator.cs.meta
  com.unity.ml-agents/Runtime/Actuators/VectorActuator.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
  com.unity.ml-agents/Runtime/Policies/RemotePolicy.cs
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs
Due: none

undo testing, add docstring
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
Due: none

tests
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs
Due: none

update release versions for release_13.
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  utils/make_readme_table.py
  utils/validate_release_links.py
Due: validate-versions, validate-init-py

Still somewhat broken but cleaner
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

make new PR for README changes.
  utils/make_readme_table.py
Due: validate-init-py

Update readme for release_13.
  README.md
  utils/make_readme_table.py
Due: validate-init-py

more release changes to readme.
  README.md
Due: none

Use temp dir for temp files.
  utils/validate_release_links.py
Due: validate-init-py

snake case for var name.
  utils/validate_release_links.py
Due: validate-init-py

simplify allow logic for replacements.
  utils/validate_release_links.py
Due: validate-init-py

Update master versions for release 13. (#4945)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Fix tests again.
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
  com.unity.ml-agents/Tests/Editor/BehaviorParameterTests.cs
Due: none

Release 13 versions. (#4946)
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  utils/validate_release_links.py
Due: validate-versions, validate-init-py

Update readme for release_13. (#4951)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Fix indexing issue
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
