Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Updated input system to 1.3.0 (#5661)
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  Project/Assets/ML-Agents/Examples/PushBlockWithInput/Scripts/PushBlockActions.cs
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents.extensions/Runtime/Input/Unity.ML-Agents.Extensions.Input.asmdef
Due: none

Prepped changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Prepped changelog. (#5663)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Updated release version numbers and release links.
  README.md
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/Migrating.md
  docs/Readme.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  ml-agents/setup.py
  utils/validate_versions.py
Due: validate-versions, validate-init-py

enable 3D Ball sample import button in package manager for unity sdk
  com.unity.ml-agents/package.json
Due: none

Changelog prepped for release
  com.unity.ml-agents/CHANGELOG.md
Due: none

Added missing PRs to the changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Added missing CHANGELOG item.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Changelog prepped for release (#5629)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Removed unreleased section.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Removed unreleased section. (#5667)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Updated versions for main. Also updated validate versions script to remove exp.1 from package version.
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  utils/validate_versions.py
Due: validate-versions, validate-init-py

Updated release versions and release links.
  README.md
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/Migrating.md
  docs/Readme.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  ml-agents/setup.py
  utils/validate_versions.py
Due: validate-versions, validate-init-py

Updated README for release.
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Updated README for release. (#5670)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Updated release versions and release links. (#5669)
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/Migrating.md
  docs/Readme.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  ml-agents/setup.py
  utils/validate_versions.py
Due: validate-versions, validate-init-py

Updates for package validation errors.
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  com.unity.ml-agents/LICENSE.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
Due: none

Updates for package validation errors. (#5671)
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  com.unity.ml-agents/LICENSE.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
Due: none

Updated Project and DevProject to 2020.3 LTS.
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  Project/ProjectSettings/ProjectVersion.txt
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/package.json
Due: none

Build new environment, dive into copy scripts
  Project/Assembly-CSharp.csproj.DotSettings
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/SoccerTwos.unity
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/SoccerTwosSettings.lighting
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/SoccerTwosSettings.lighting.meta
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/AgentSoccer.cs
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerEnvController.cs
  Project/Assets/Project/Main.unity
  Project/Assets/Project/Main.unity.meta
  Project/Assets/Project/Prefabs.meta
  Project/Assets/Project/Prefabs/BlueStriker.prefab
  Project/Assets/Project/Prefabs/BlueStriker.prefab.meta
  Project/Assets/Project/Prefabs/Field.prefab
  Project/Assets/Project/Prefabs/Field.prefab.meta
  Project/Assets/Project/Prefabs/PurpleStriker.prefab
  Project/Assets/Project/Prefabs/PurpleStriker.prefab.meta
  Project/Assets/Project/Prefabs/Soccer Ball.prefab
  Project/Assets/Project/Prefabs/Soccer Ball.prefab.meta
  Project/Assets/Project/Scripts.meta
  Project/Assets/Project/Scripts/MSoccerBall.cs
  Project/Assets/Project/Scripts/MSoccerBall.cs.meta
  Project/Assets/Project/Scripts/MSoccerEnvironment.cs
  Project/Assets/Project/Scripts/MSoccerEnvironment.cs.meta
  Project/Assets/Project/Scripts/MSoccerPlayerAgent.cs
  Project/Assets/Project/Scripts/MSoccerPlayerAgent.cs.meta
  Project/ProjectSettings/BurstAotSettings_StandaloneWindows.json
  Project/ProjectSettings/CommonBurstAotSettings.json
  Project/ProjectSettings/EditorBuildSettings.asset
  Project/ProjectSettings/UnityConnectSettings.asset
Due: none

Update Main.unity
  Project/Assets/Project/Main.unity
Due: none

Updated supported LTS version to 2020.3.
  .yamato/com.unity.ml-agents-pack.yml
  .yamato/com.unity.ml-agents-performance.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/test_versions.metafile
  .yamato/training-backcompat-tests.yml
  com.unity.ml-agents/CHANGELOG.md
  docs/Installation.md
  docs/Migrating.md
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

Updated changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Bumped up CI Unity version from 2020.2 to 2020.3.
  .yamato/com.unity.ml-agents-optional-dep-tests.yml
  .yamato/coverage_tests.metafile
  .yamato/standalone-build-webgl-test.yml
Due: none

Update CHANGELOG.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

Removing VS Studio dependency from manifest.json.
  Project/Packages/manifest.json
Due: none

Update packages-lock.json
  Project/Packages/packages-lock.json
Due: none

into player_agent
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/SoccerTwos.unity
  Project/Assets/Project/Scripts/MSoccerEnvironment.cs
  Project/Assets/Project/Scripts/MSoccerPlayerAgent.cs
Due: none

finish ball, into agent
  Project/Assets/Project/Scripts/MSoccerBall.cs
  Project/Assets/Project/Scripts/MSoccerEnvironment.cs
  Project/Assets/Project/Scripts/MSoccerPlayerAgent.cs
Due: none

finish recoding
  Project/Assets/Project/Scripts/MSoccerEnvironment.cs
  Project/Assets/Project/Scripts/MSoccerPlayerAgent.cs
Due: none

finish scene
  Project/Assets/Project/Main.unity
  Project/Assets/Project/Prefabs/BlueStriker.prefab
  Project/Assets/Project/Prefabs/BlueStriker.prefab.meta
  Project/Assets/Project/Prefabs/Field.prefab
  Project/Assets/Project/Prefabs/PurpleStriker.prefab
  Project/Assets/Project/Prefabs/PurpleStriker.prefab.meta
  Project/Assets/Project/Prefabs/Soccer Ball.prefab
  Project/Assets/Project/Prefabs/Striker.prefab
  Project/Assets/Project/Prefabs/Striker.prefab.meta
  Project/Assets/Project/Scripts/MSoccerEnvironment.cs
  Project/Assets/Project/Scripts/MSoccerPlayerAgent.cs
  Project/ProjectSettings/TagManager.asset
Due: none

Release 19 branch lts deprecation (#5673)
  .yamato/com.unity.ml-agents-optional-dep-tests.yml
  .yamato/com.unity.ml-agents-pack.yml
  .yamato/com.unity.ml-agents-performance.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/coverage_tests.metafile
  .yamato/standalone-build-webgl-test.yml
  .yamato/test_versions.metafile
  .yamato/training-backcompat-tests.yml
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  Project/ProjectSettings/ProjectVersion.txt
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
  docs/Installation.md
  docs/Migrating.md
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

merge once with zhuli
  Project/Assets/Project/Main.unity
  Project/Assets/Project/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/Project/Prefabs/SoccerFieldTwos.prefab.meta
  Project/Assets/Project/Prefabs/Striker.prefab
  Project/Assets/Project/Scripts/MSoccerBall.cs
  Project/Assets/Project/Scripts/MSoccerEnvironment.cs
  Project/Assets/Project/Scripts/MSoccerPlayerAgent.cs
  Project/ProjectSettings/TagManager.asset
Due: none

add reward
  Project/Assets/Project/Prefabs/Field.prefab
  Project/Assets/Project/Prefabs/Striker.prefab
  Project/Assets/Project/Scripts/MSoccerEnvironment.cs
  Project/Assets/Project/Scripts/MSoccerPlayerAgent.cs
  Project/Assets/results.meta
  Project/Assets/results/ppo.meta
  Project/Assets/results/ppo/SoccerTwos.meta
  Project/Assets/results/ppo/SoccerTwos.onnx
  Project/Assets/results/ppo/SoccerTwos/SoccerTwos-93732.onnx
  Project/Assets/results/ppo/SoccerTwos/SoccerTwos-93732.pt
  Project/Assets/results/ppo/SoccerTwos/checkpoint.pt
  Project/Assets/results/ppo/SoccerTwos/events.out.tfevents.1641973399.LAPTOP-LQO69T7V.32088.0
  Project/Assets/results/ppo/SoccerTwos/events.out.tfevents.1641973399.LAPTOP-LQO69T7V.32088.0.meta
  Project/Assets/results/ppo/configuration.yaml
  Project/Assets/results/ppo/run_logs.meta
  Project/Assets/results/ppo/run_logs/timers.json
  Project/Assets/results/ppo/run_logs/training_status.json
Due: none

result
  Project/Assets/results/ppo/SoccerTwos.onnx.meta
  Project/Assets/results/ppo/SoccerTwos/SoccerTwos-93732.onnx.meta
  Project/Assets/results/ppo/SoccerTwos/SoccerTwos-93732.pt.meta
  Project/Assets/results/ppo/SoccerTwos/checkpoint.pt.meta
  Project/Assets/results/ppo/configuration.yaml.meta
  Project/Assets/results/ppo/run_logs/timers.json.meta
  Project/Assets/results/ppo/run_logs/training_status.json.meta
Due: none

add reward and observation
  Project/Assets/Project/Main.unity
  Project/Assets/Project/Prefabs/Field.prefab
  Project/Assets/Project/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/Project/Prefabs/Striker.prefab
  Project/Assets/Project/Scripts/MSoccerBall.cs
  Project/Assets/Project/Scripts/MSoccerEnvironment.cs
  Project/Assets/Project/Scripts/MSoccerPlayerAgent.cs
  Project/ProjectSettings/EditorBuildSettings.asset
  Project/ProjectSettings/TagManager.asset
  Project/demo/striker11.demo
  Project/demo/striker11_0.demo
  Project/demo/striker11_1.demo
Due: none

change kick power to continue
  Project/Assets/Project/Main.unity
  Project/Assets/Project/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/Project/Prefabs/Striker.prefab
  Project/Assets/Project/Scripts/MSoccerPlayerAgent.cs
  Project/demo/striker11_2.demo
  Project/demo/striker11_3.demo
  Project/demo/striker11_4.demo
  Project/demo/striker11_5.demo
Due: none
