Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

WIP showing petting --> rllib
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
  wip.py
  wip.py.requirements.txt
Due: validate-init-py

Added normalization to critic during training for poca, ppo, and sac.
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
Due: validate-init-py

Two small bugfixes
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
Due: validate-init-py

Update the changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fixing the analytics side-channel for curriculum learning. (#5586)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/subprocess_env_manager.py
  ml-agents/mlagents/trainers/tests/test_training_analytics_side_channel.py
  ml-agents/mlagents/trainers/training_analytics_side_channel.py
Due: validate-init-py

update env string
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
Due: validate-versions, validate-init-py

Following petting_zoo registry API (#5557)
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  com.unity.ml-agents/CHANGELOG.md
  gym-unity/gym_unity/envs/__init__.py
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/__init__.py
  ml-agents-envs/mlagents_envs/side_channel/default_training_analytics_side_channel.py
  ml-agents/mlagents/training_analytics_side_channel.py
  pettingzoo-unity/Colab_PettingZoo.ipynb
  pettingzoo-unity/pettingzoo_unity/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
  pettingzoo-unity/pettingzoo_unity/tests/__init__.py
Due: validate-versions, validate-init-py

Added testing and returning staked observation flat.
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/StackingSensorTests.cs
Due: none

Method to return stacked observations
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
Due: none

Update the comment lines.
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
Due: none

Upgrade Barracuda to 2.3.0-preview
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
Due: none

Init: actor.forward outputs separate deterministic actions
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Remove brainstorm commits.
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
Due: none

Method to return stacked observations (#5547)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/StackingSensorTests.cs
Due: none

Fixed critic normalization bug. Added new tests to cover.
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/test_trainers.py
Due: validate-init-py

Updated CHANGELOG.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Upgrade to 2.3.1-preview
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
Due: none

Progress on propagating the setting to the action model.
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Upgrade Barracuda to 2.3.1-preview (#5591)
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
Due: none

Added the _sample_action logic and tests.
  ml-agents/mlagents/trainers/tests/test_settings.py
  ml-agents/mlagents/trainers/tests/torch/test_action_model.py
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

Add information to the changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Prioritize the CLI over the configuration file.
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Update README.md
  README.md
Due: none

Update README.md (#5598)
  README.md
Due: none

Update documentation for config file.
  docs/Training-Configuration-File.md
Due: none

fix tensor shape for discrete actions
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

clean up
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

CR refactor.
  ml-agents/mlagents/trainers/torch/action_model.py
Due: validate-init-py

Update docs/Training-Configuration-File.md
  docs/Training-Configuration-File.md
Due: none

Update the logo.
  ml-agents/mlagents/trainers/learn.py
Due: validate-init-py

Update ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Update ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/cli_utils.py
Due: validate-init-py

Fix CR requests
  ml-agents/mlagents/trainers/tests/test_settings.py
  ml-agents/mlagents/trainers/torch/action_model.py
Due: validate-init-py

Fix Mac backcompat test (#5519)
  .yamato/training-backcompat-tests.yml
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  ml-agents/tests/yamato/training_int_tests.py
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
