Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

revert release 19 doc changes
  docs/Getting-Started.md
  docs/Learning-Environment-Design-Agents.md
  docs/Training-Configuration-File.md
Due: none

Removed mention of release 19 (#5637)
  docs/Getting-Started.md
  docs/Learning-Environment-Design-Agents.md
  docs/Training-Configuration-File.md
Due: none

remove references of beta_schedule as change is not release yet
  docs/Learning-Environment-Create-New.md
  docs/Training-Configuration-File.md
  docs/Training-ML-Agents.md
Due: none

upgrade gym to 0.21.0
  gym-unity/setup.py
Due: validate-init-py

add max for mix weights
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

replace max with clamp
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

add pz to diayn reward
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

update walker env
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdollDiverse.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerDiverse.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgentDiverse.cs
  config/sac/WalkerDiverse.yaml
  config/sac/WalkerDiverse1.yaml
  config/sac/WalkerDiverse2.yaml
  config/sac/WalkerDiverse3.yaml
  config/sac/WalkerDiverse4.yaml
  config/sac/WalkerDiverse5.yaml
  config/sac/WalkerDiverse_diayn1.yaml
  config/sac/WalkerDiverse_diayn2.yaml
  config/sac/WalkerDiverse_diayn3.yaml
  config/sac/WalkerDiverse_diayn4.yaml
  config/sac/WalkerDiverse_diayn5.yaml
  config/sac/WormDiverse.yaml
  config/sac/WormDiverse1.yaml
  config/sac/WormDiverse2.yaml
  config/sac/WormDiverse3.yaml
  config/sac/WormDiverse4.yaml
  config/sac/WormDiverse5.yaml
  config/sac/WormDiverse_diayn1.yaml
  config/sac/WormDiverse_diayn2.yaml
  config/sac/WormDiverse_diayn3.yaml
  config/sac/WormDiverse_diayn4.yaml
  config/sac/delete.sh
Due: none

add prior to export
  config/sac/WormDiverse.yaml
  config/sac/WormDiverse2.yaml
  config/sac/WormDiverse3.yaml
  config/sac/WormDiverse4.yaml
  config/sac/WormDiverse5.yaml
  config/sac/WormDiverseMix.yaml
  config/sac/WormDiverse_diayn1.yaml
  config/sac/WormDiverse_diayn2.yaml
  config/sac/WormDiverse_diayn3.yaml
  config/sac/WormDiverse_diayn4.yaml
  config/sac/WormDiverse_diayn5.yaml
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

add mixture policy
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

update walker reward
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgentDiverse.cs
Due: none

add q onnx export
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
Due: validate-init-py

add compare script
  compare_policies.py
Due: validate-init-py

add configs
  config/sac/BasicDiverse.yaml
  config/sac/WormDiverseMix.yaml
Due: none

update compare policies and add q export
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverse.cs
  compare_policies.py
  config/sac/BasicDiverse.yaml
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
Due: validate-init-py

update compare policies
  compare_policies.py
Due: validate-init-py

fix basic diverse prefab
  Project/Assets/ML-Agents/Examples/BasicDiverse/Prefabs/Platform.prefab
Due: none

update compare polic
  compare_policies.py
Due: validate-init-py

Minor edit in Colab docs.
  colab/Colab_UnityEnvironment_2_Train.ipynb
Due: none

WIP
  ml-agents/mlagents/trainers/tests/test_env_param_manager.py
Due: validate-init-py

Update tests to work with new parameter in curriculum update for Elo, and to test Elo curriculum functionality.
  ml-agents/mlagents/trainers/environment_parameter_manager.py
  ml-agents/mlagents/trainers/tests/test_env_param_manager.py
Due: validate-init-py

Remove comment about possible bug (no bug). Fix test for not advancing to non-existent next state. As it was it would have failed because of the curriculum test and not the reason we want to check.
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_env_param_manager.py
Due: validate-init-py

Delete unnecessary .lighting file.
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorldColabSettings.lighting
Due: none

Update changelog and fix curriculum test name.
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/tests/test_env_param_manager.py
Due: validate-init-py

Update changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fixed formatting of a Note in Training-Plugins.md (#5522)
  docs/Training-Plugins.md
Due: none

Update colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
Due: none

Fix error in colab metadata name.
  colab/Colab_UnityEnvironment_2_Train.ipynb
Due: none

Add suggested comments and fix incorrect parameter ordering.
  colab/Colab_UnityEnvironment_2_Train.ipynb
Due: none

Update docs for Elo curriculum completion measure.
  docs/Training-ML-Agents.md
Due: none

add Samples for unity build to enable direct import in package manager
  com.unity.ml-agents/.gitignore
  com.unity.ml-agents/Samples/3DBall/Demos.meta
  com.unity.ml-agents/Samples/3DBall/Demos/Expert3DBall.demo
  com.unity.ml-agents/Samples/3DBall/Demos/Expert3DBall.demo.meta
  com.unity.ml-agents/Samples/3DBall/Demos/Expert3DBallHard.demo
  com.unity.ml-agents/Samples/3DBall/Demos/Expert3DBallHard.demo.meta
  com.unity.ml-agents/Samples/3DBall/Prefabs.meta
  com.unity.ml-agents/Samples/3DBall/Prefabs/3DBall.prefab
  com.unity.ml-agents/Samples/3DBall/Prefabs/3DBall.prefab.meta
  com.unity.ml-agents/Samples/3DBall/Prefabs/3DBallHard.prefab
  com.unity.ml-agents/Samples/3DBall/Prefabs/3DBallHard.prefab.meta
  com.unity.ml-agents/Samples/3DBall/Prefabs/Visual3DBall.prefab
  com.unity.ml-agents/Samples/3DBall/Prefabs/Visual3DBall.prefab.meta
  com.unity.ml-agents/Samples/3DBall/Scenes.meta
  com.unity.ml-agents/Samples/3DBall/Scenes/3DBall.unity
  com.unity.ml-agents/Samples/3DBall/Scenes/3DBall.unity.meta
  com.unity.ml-agents/Samples/3DBall/Scenes/3DBallHard.unity
  com.unity.ml-agents/Samples/3DBall/Scenes/3DBallHard.unity.meta
  com.unity.ml-agents/Samples/3DBall/Scenes/Visual3DBall.unity
  com.unity.ml-agents/Samples/3DBall/Scenes/Visual3DBall.unity.meta
  com.unity.ml-agents/Samples/3DBall/Scripts.meta
  com.unity.ml-agents/Samples/3DBall/Scripts/Ball3DAgent.cs
  com.unity.ml-agents/Samples/3DBall/Scripts/Ball3DAgent.cs.meta
  com.unity.ml-agents/Samples/3DBall/Scripts/Ball3DHardAgent.cs
  com.unity.ml-agents/Samples/3DBall/Scripts/Ball3DHardAgent.cs.meta
  com.unity.ml-agents/Samples/3DBall/TFModels.meta
  com.unity.ml-agents/Samples/3DBall/TFModels/3DBall.nn
  com.unity.ml-agents/Samples/3DBall/TFModels/3DBall.nn.meta
  com.unity.ml-agents/Samples/3DBall/TFModels/3DBallHard.onnx
  com.unity.ml-agents/Samples/3DBall/TFModels/3DBallHard.onnx.meta
  com.unity.ml-agents/Samples/3DBall/TFModels/Visual3DBall.nn
  com.unity.ml-agents/Samples/3DBall/TFModels/Visual3DBall.nn.meta
  com.unity.ml-agents/Samples/3DBall/mlagents-sample.json
  com.unity.ml-agents/Samples/3DBall/mlagents-sample.json.meta
  com.unity.ml-agents/package.json
Due: none

add meta data
  com.unity.ml-agents/Samples/3DBall.meta
Due: none

Update DQN Colab example to support export for Barracuda inference (#5643)
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/AreaColab.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/AreaColab.prefab.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorldColab.unity
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorldColab.unity.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorldColabSettings.lighting.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgent.cs
  Project/Assets/ML-Agents/Examples/GridWorld/TFModels/GridWorldColab.onnx
  Project/Assets/ML-Agents/Examples/GridWorld/TFModels/GridWorldColab.onnx.meta
  colab/Colab_UnityEnvironment_2_Train.ipynb
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-ML-Agents.md
Due: none

Removing erroneous meta file.
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorldColabSettings.lighting.meta
Due: none

Removing erroneous meta file. (#5658)
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorldColabSettings.lighting.meta
Due: none

Precommit fixes.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Package verison updates.
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  utils/validate_versions.py
Due: validate-versions, validate-init-py

Updated input system to 1.3.0
  Project/Assets/ML-Agents/Examples/PushBlockWithInput/Scripts/PushBlockActions.cs
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents.extensions/Runtime/Input/Unity.ML-Agents.Extensions.Input.asmdef
Due: none

Updated DevProject to Input System 1.3.0.
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
