Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

validate the checkpoint name
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

Fix FoodCollector behavior name in SAC config (#5468)
  config/sac/FoodCollector.yaml
Due: none

Add docs for training on headless server (#5469)
  docs/Learning-Environment-Executable.md
  ml-agents-envs/mlagents_envs/rpc_communicator.py
Due: validate-init-py

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Bug fix and coef schedule
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Fix torch device option in argparser (#5467)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

improvements
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/envs/gym_env.py
Due: validate-versions, validate-init-py

Writing brand new tests. Needs more
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/envs/gym_env.py
  gym-unity/gym_unity/tests/test_gym.py
Due: validate-versions, validate-init-py

Setting logging
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/trainer.py
Due: validate-init-py

Removed doc parameter for nonexistent argument
  ml-agents/mlagents/trainers/learn.py
Due: validate-init-py

removing __del__ method
  gym-unity/gym_unity/envs/gym_env.py
Due: validate-init-py

Max diversity coef
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Hacking the side channel to the gym interface, probably not a great idea since I need to access private fields
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/envs/gym_env.py
Due: validate-versions, validate-init-py

Fix broken link in documentation
  docs/Python-API.md
Due: none

added capability to query the sim directly, called them immediate queries
  ml-agents-envs/mlagents_envs/communicator_objects/command_pb2.py
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

added command.proto modifications
  protobuf-definitions/proto/mlagents_envs/communicator_objects/command.proto
Due: none

added RpcCommunicator.cs modifications
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
Due: none

reverted command_pb2 back
  ml-agents-envs/mlagents_envs/communicator_objects/command_pb2.py
Due: validate-init-py

added space instead of tabs to command.proto
  protobuf-definitions/proto/mlagents_envs/communicator_objects/command.proto
Due: none

generated command_pb2 through GRPC
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Command.cs
  ml-agents-envs/mlagents_envs/communicator_objects/command_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/command_pb2.pyi
Due: validate-init-py

Some edits
  gym-unity/gym_unity/envs/gym_env.py
Due: validate-init-py

tmpfile.gettempdir() does not do what is expected on Mac.
  ml-agents-envs/mlagents_envs/registry/binary_utils.py
Due: validate-init-py

added annotations to two new functions
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

Remove unecessary Path
  ml-agents-envs/mlagents_envs/registry/binary_utils.py
Due: validate-init-py

fixed formatting
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

formatting
  gym-unity/gym_unity/__init__.py
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/envs/gym_env.py
  gym-unity/gym_unity/tests/test_gym.py
  gym-unity/setup.py
Due: validate-versions, validate-init-py

hacking around the setup
  gym-unity/gym_unity/__init__.py
Due: validate-versions, validate-init-py

tmpfile.gettempdir() does not do what is expected on Mac. (#5480)
  ml-agents-envs/mlagents_envs/registry/binary_utils.py
Due: validate-init-py

fix test : nographics in tests
  gym-unity/gym_unity/envs/gym_env.py
  gym-unity/gym_unity/tests/test_gym.py
Due: validate-init-py

new buffer but very very broken. does not run
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

Spawner and destroy
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollector-5449-ppo.onnx
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollector-5449-ppo.onnx.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollector-5449.onnx
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollector-5449.onnx.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Prefabs/Agent.prefab
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnArea.cs
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnButton.cs
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnCollectorAgent.cs
Due: none

Modifying the make method so we can search for available ports when creating the environment
  gym-unity/gym_unity/envs/__init__.py
Due: validate-versions, validate-init-py

Fixed argument order
  ml-agents/mlagents/trainers/learn.py
Due: validate-init-py

edits to the markdown
  gym-unity/README.md
Due: none

Adding some docstrings
  gym-unity/gym_unity/envs/gym_env.py
Due: validate-init-py

adding a comment around the hack
  gym-unity/gym_unity/__init__.py
Due: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
