Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

created config for low and high reward
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/goal_highReward.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/goal_highReward.prefab.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config/GoalConfig_highReward.asset
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config/GoalConfig_highReward.asset.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config/GoalConfig_lowReward.asset
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config/GoalConfig_lowReward.asset.meta
Due: none

duplicated scene for edition
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorldMultipleGoals.unity
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorldMultipleGoals.unity.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GoalControl.cs
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GoalControl.cs.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgentMultipleGoals.cs
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgentMultipleGoals.cs.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAreaMultipleGoals.cs
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAreaMultipleGoals.cs.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config/GoalConfig_highReward.asset
Due: none

prepared new scene with new model
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/AreaMultipleGoals.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/AreaMultipleGoals.prefab.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/goal.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/goal_highReward.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorldMultipleGoals.unity
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgentMultipleGoals.cs
  Project/Assets/ML-Agents/Examples/GridWorld/TFModels/GridWorldMultipleGoals.onnx
  Project/Assets/ML-Agents/Examples/GridWorld/TFModels/GridWorldMultipleGoals.onnx.meta
Due: none

kind of working
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentCollab.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
Due: none

update doc for 3.8, test 3.9
  .github/workflows/pytest.yml
  docs/Using-Virtual-Environment.md
  ml-agents-envs/setup.py
Due: validate-init-py

3.9 doesn't work yet
  .github/workflows/pytest.yml
Due: none

Fixing bugs and started integration
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensorComponent.cs
Due: none

Removed a debug message
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
Due: none

Clarify Python 3.8 support (#4784)
  .github/workflows/pytest.yml
  docs/Using-Virtual-Environment.md
  ml-agents-envs/setup.py
Due: validate-init-py

Clarify Python 3.8 support (#4784)
  docs/Using-Virtual-Environment.md
  ml-agents-envs/setup.py
Due: validate-init-py

Clarify Python 3.8 support (#4784) (#4785)
  docs/Using-Virtual-Environment.md
  ml-agents-envs/setup.py
Due: validate-init-py

Scale size of CC network
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Scale value network based on num agents
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Add 3rd symbol to hallway collab
  Project/Assets/ML-Agents/Examples/Hallway/Prefabs/SymbolFinderArea.prefab
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayCollabAgent.cs
Due: none

Update com.unity.ml-agents/Runtime/Sensors/IDimensionPropertiesSensor.cs
  com.unity.ml-agents/Runtime/Sensors/IDimensionPropertiesSensor.cs
Due: none

Replace possible with suitable in description of TRANSLATIONAL_EQUIVARIANCE
  com.unity.ml-agents/Runtime/Sensors/IDimensionPropertiesSensor.cs
  ml-agents-envs/mlagents_envs/base_env.py
Due: validate-init-py

Make comms one-hot
  Project/Assets/ML-Agents/Examples/Hallway/Prefabs/SymbolFinderArea.prefab
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayCollabAgent.cs
Due: none

fix changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

revert devproject changes
  DevProject/Packages/manifest.json
Due: none

proof-of-concept - setuptools-based plugin for StatsWriters
  ml-agents-plugin-examples/README.py
  ml-agents-plugin-examples/mlagents_plugin_examples/__init__.py
  ml-agents-plugin-examples/mlagents_plugin_examples/example_stats_writer.py
  ml-agents-plugin-examples/setup.py
  ml-agents/mlagents/plugins/__init__.py
  ml-agents/mlagents/plugins/stats_writer.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/setup.py
Due: validate-versions, validate-init-py

placeholder, fix setup.py
  ml-agents-plugin-examples/README.md
  ml-agents-plugin-examples/README.py
  ml-agents/setup.py
Due: validate-init-py

handle imports
  ml-agents/mlagents/plugins/stats_writer.py
  ml-agents/setup.py
Due: validate-init-py

add DevProject manifest changes back to master
  DevProject/Packages/manifest.json
Due: none

remove wget and gdebi for xvfb and add to apt-get
  Dockerfile
Due: none

Add DevProject manifest changes back to master (#4789)
  DevProject/Packages/manifest.json
Due: none

addressing comments. ObservationSpec is no longer a list
  com.unity.ml-agents/Runtime/Sensors/IDimensionPropertiesSensor.cs
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/tests/test_gym.py
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_envs.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/check_env_trains.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
  ml-agents/mlagents/trainers/tests/test_demo_loader.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_extrinsic.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_rnd.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tests/torch/test_utils.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/rnd_reward_provider.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
  ml-agents/tests/yamato/scripts/run_llapi.py
Due: validate-versions, validate-init-py

Renaming ObservationSpec to SensorSpec
  gym-unity/gym_unity/envs/__init__.py
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_envs.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
  ml-agents/mlagents/trainers/tests/test_demo_loader.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/rnd_reward_provider.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
  ml-agents/tests/yamato/scripts/run_llapi.py
Due: validate-versions, validate-init-py

Modifying the documentation
  docs/Python-API.md
Due: none

Fixing the tests
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
Due: validate-init-py

renaming obs_spec variables
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/tests/test_gym.py
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_extrinsic.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_rnd.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tests/torch/test_utils.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/utils.py
  ml-agents/tests/yamato/scripts/run_llapi.py
Due: validate-versions, validate-init-py

stock image, nuget installed (I hope)
  .yamato/protobuf-generation-test.yml
Due: none

try brew again
  .yamato/protobuf-generation-test.yml
Due: none

Testing previous nuget version
  .yamato/protobuf-generation-test.yml
Due: none

update soccer raycasts
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/AgentSoccerCollab.cs
  config/ppo/SoccerTwos.yaml
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

brew no update
  .yamato/protobuf-generation-test.yml
Due: none

[package] Add analytics dependency to package.json.
  com.unity.ml-agents/package.json
Due: none

update changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

whitespace.
  com.unity.ml-agents/package.json
Due: none

update package version and release tag, update doc links
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
