Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Fixed typo in test_trainers.py
  ml-agents/mlagents/trainers/tests/test_trainers.py
Due: validate-init-py

Fix for critic normalization bug (#5595)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/test_trainers.py
Due: validate-init-py

Cap cattrs version for now(#5397)
  ml-agents/setup.py
Due: validate-init-py

clean up
  ml-agents/mlagents/training_analytics_side_channel.py
Due: validate-init-py

[Cherry-pick for 2.0.1 verified patch] default analytics channel (#5511) (#5584)
  com.unity.ml-agents/CHANGELOG.md
  gym-unity/gym_unity/tests/test_gym.py
  gym-unity/setup.py
  junit/test-results.xml
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/__init__.py
  ml-agents-envs/mlagents_envs/side_channel/default_training_analytics_side_channel.py
  ml-agents/mlagents/training_analytics_side_channel.py
  ml-agents/setup.py
Due: validate-versions, validate-init-py

Renaming
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Add more tests
  ml-agents/mlagents/trainers/tests/torch/test_action_model.py
Due: validate-init-py

set stochasticInference in package
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Inference/TensorNames.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
  com.unity.ml-agents/Tests/Runtime/RuntimeAPITest.cs
Due: none

Add test and editor flag
  com.unity.ml-agents/Editor/BehaviorParametersEditor.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Tests/Editor/Inference/ModelRunnerTest.cs
  com.unity.ml-agents/Tests/Editor/TestModels/deterContinuous2vis8vec2action_v2_0.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/deterContinuous2vis8vec2action_v2_0.onnx.meta
  com.unity.ml-agents/Tests/Editor/TestModels/deterDiscrete1obs3action_v2_0.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/deterDiscrete1obs3action_v2_0.onnx.meta
Due: none

Fix Mac backcompat test (#5519)
  .yamato/training-backcompat-tests.yml
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  ml-agents/tests/yamato/training_int_tests.py
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

Add tests for discrete.
  ml-agents/mlagents/trainers/tests/torch/test_action_model.py
Due: validate-init-py

Update ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

Reverting to "Deterministic Inference"
  com.unity.ml-agents/Editor/BehaviorParametersEditor.cs
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
  com.unity.ml-agents/Tests/Editor/Inference/ModelRunnerTest.cs
  com.unity.ml-agents/Tests/Runtime/RuntimeAPITest.cs
Due: none

formatting
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
Due: none

update tooltip/warning messages
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
Due: none

Update stale config
  .github/stale.yml
Due: none

cleanup
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
Due: none

Harden user PII protection logic and extend TrainingAnalytics to expose detailed configuration parameters. (#5512)
  com.unity.ml-agents/Runtime/Analytics/AnalyticsUtils.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/TrainingAnalytics.cs
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.pyi
  ml-agents/mlagents/training_analytics_side_channel.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/training_analytics.proto
Due: validate-init-py

Fixing the analytics side-channel for curriculum learning. (#5586)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/subprocess_env_manager.py
  ml-agents/mlagents/trainers/tests/test_training_analytics_side_channel.py
  ml-agents/mlagents/trainers/training_analytics_side_channel.py
Due: validate-init-py

update CHANGELOG
  com.unity.ml-agents/CHANGELOG.md
Due: none

[Cherry-pick for 2.0.1 verified patch]Harden user PII in analytics (#5512) harden analytics (#5604)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Analytics/AnalyticsUtils.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/TrainingAnalytics.cs
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.pyi
  ml-agents/mlagents/trainers/subprocess_env_manager.py
  ml-agents/mlagents/trainers/tests/test_training_analytics_side_channel.py
  ml-agents/mlagents/trainers/training_analytics_side_channel.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/training_analytics.proto
Due: validate-init-py

Fix test failures on trunk with input system 1.1.1 (#5542)
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
Due: none

Update changeLog
  com.unity.ml-agents/CHANGELOG.md
Due: none

[Cherrypick] Fix test failures on trunk with input system 1.1.1 (#5542) to 2.0.1 verified (#5608)
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fixing license file name
  LICENSE.md
  README.md
Due: none

Update the logo. (#5600)
  ml-agents/mlagents/trainers/learn.py
Due: validate-init-py

Update stale config (#5603)
  .github/stale.yml
Due: none

Fixing license file name (#5609)
  LICENSE.md
  README.md
Due: none

Two small bugfixes (#5589)
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
Due: validate-init-py

Updated gym to 0.21.0 and petting zoo to 1.13.1, fixed bugs with AEC wrapper for gym and PZ updates. API tests are passing.
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
  pettingzoo-unity/setup.py
Due: validate-init-py

Some refactoring.
  pettingzoo-unity/pettingzoo_unity/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/env_helpers.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_aec_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_base_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
  pettingzoo-unity/pettingzoo_unity/tests/test_pettingzoo_wrapper.py
Due: validate-versions, validate-init-py

Finished inital implementation of parallel. Tests not passing.
  pettingzoo-unity/pettingzoo_unity/envs/unity_aec_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_base_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
Due: validate-init-py

Finished parallel API implementation and refactor. All PZ tests passing.
  pettingzoo-unity/pettingzoo_unity/envs/unity_base_env.py
  pettingzoo-unity/pettingzoo_unity/tests/test_pettingzoo_wrapper.py
Due: validate-init-py

Cleanup.
  pettingzoo-unity/pettingzoo_unity/envs/env_helpers.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_aec_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_base_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
Due: validate-init-py

Refactoring.
  pettingzoo-unity/pettingzoo_unity/envs/unity_aec_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_base_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
Due: validate-init-py
