Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Update logger
  ml-agents/mlagents/utils/load_from_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Stop pinning numpy to a specific version
  ml-agents-envs/setup.py
Due: validate-init-py

Pre-commit
  DevProject/Assets/csc.rsp
  DevProject/DevProject.sln.DotSettings
  DevProject/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
  Project/Assets/ML-Agents/Examples/PushBlockWithInput/PushBlockActions.inputactions
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/ShaderOutline.shader
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/ShaderRadialGrid.shader
  Project/Project.sln.DotSettings
  com.unity.ml-agents.extensions/.gitignore
  com.unity.ml-agents.extensions/Runtime/Input/Unity.ML-Agents.Extensions.Input.asmdef
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Unity.ML-Agents.Extensions.Input.Tests.Runtime.asmdef
  com.unity.ml-agents/CODEOWNERS
  com.unity.ml-agents/Plugins/IL2CPP.DL.Stubs.c
  com.unity.ml-agents/README.md
  com.unity.ml-agents/Runtime/Grpc/Unity.ML-Agents.CommunicatorObjects.asmdef
  com.unity.ml-agents/Runtime/Unity.ML-Agents.asmdef
  com.unity.ml-agents/com.unity.ml-agents.sln.DotSettings
  config/sac/FoodCollector.yaml
  docs/Python-Custom-Trainer-Plugin.md
  localized_docs/KR/docs/Training-Imitation-Learning.md
  localized_docs/KR/docs/Training-PPO.md
  localized_docs/TR/docs/Getting-Started.md
  ml-agents-envs/colabs/Colab_PettingZoo.ipynb
  ml-agents-envs/setup.py
  ml-agents/mlagents/utils/push_to_hf.py
  ml-agents/pydoc-config.yaml
  ml-agents/setup.py
Due: validate-init-py

Update Tuple
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Update metadata generation
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Ignore mypy error
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Update setup.py to remove duplicate numpy entry
  ml-agents-envs/setup.py
Due: validate-init-py

Update ELO-Rating-System.md
  docs/ELO-Rating-System.md
Due: none

Run pre-commit
  DevProject/Assets/csc.rsp
  DevProject/DevProject.sln.DotSettings
  DevProject/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
  Project/Assets/ML-Agents/Examples/PushBlockWithInput/PushBlockActions.inputactions
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/ShaderOutline.shader
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/ShaderRadialGrid.shader
  Project/Project.sln.DotSettings
  com.unity.ml-agents.extensions/.gitignore
  com.unity.ml-agents.extensions/Runtime/Input/Unity.ML-Agents.Extensions.Input.asmdef
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Unity.ML-Agents.Extensions.Input.Tests.Runtime.asmdef
  com.unity.ml-agents/CODEOWNERS
  com.unity.ml-agents/Plugins/IL2CPP.DL.Stubs.c
  com.unity.ml-agents/README.md
  com.unity.ml-agents/Runtime/Grpc/Unity.ML-Agents.CommunicatorObjects.asmdef
  com.unity.ml-agents/Runtime/Unity.ML-Agents.asmdef
  com.unity.ml-agents/com.unity.ml-agents.sln.DotSettings
  config/sac/FoodCollector.yaml
  docs/ELO-Rating-System.md
  docs/Python-Custom-Trainer-Plugin.md
  localized_docs/KR/docs/Training-Imitation-Learning.md
  localized_docs/KR/docs/Training-PPO.md
  localized_docs/TR/docs/Getting-Started.md
  ml-agents-envs/colabs/Colab_PettingZoo.ipynb
  ml-agents/pydoc-config.yaml
Due: none

Create Hugging-Face-Integration.md
  docs/Hugging-Face-Integration.md
Due: none

Update ML-Agents-Toolkit-Documentation.md
  docs/ML-Agents-Toolkit-Documentation.md
Due: none

Update style of Hugging-Face-Integration.md
  docs/Hugging-Face-Integration.md
Due: none

Typo
  docs/Hugging-Face-Integration.md
Due: none

Remove spaces
  docs/Hugging-Face-Integration.md
Due: none

Update setup.py to remove duplicate numpy entry (#5924)
  ml-agents-envs/setup.py
Due: validate-init-py

Update citation sources in Readme.md (#5909)
  docs/Readme.md
Due: none

Update publish_docs.yaml (#5886)
  .github/workflows/publish_docs.yaml
Due: none

Update to release_20 in installation instructions (#5864)
  docs/Installation.md
Due: none

Remove misleading comment in docs (#5860)
  docs/Training-ML-Agents.md
Due: none

Remove tennis illustration link
  docs/ELO-Rating-System.md
Due: none

Add ELO link
  docs/ML-Agents-Overview.md
Due: none

Fix #5799 (#5820)
  com.unity.ml-agents/Plugins/ProtoBuffer/System.Interactive.Async.dll.meta
Due: none

Revert "Fix #5799 (#5820)"
  com.unity.ml-agents/Plugins/ProtoBuffer/System.Interactive.Async.dll.meta
Due: none

Integrating Hugging Face Hub 🤗 (updated) (#5856)
  DevProject/Assets/csc.rsp
  DevProject/DevProject.sln.DotSettings
  DevProject/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
  Project/Assets/ML-Agents/Examples/PushBlockWithInput/PushBlockActions.inputactions
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/ShaderOutline.shader
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/ShaderRadialGrid.shader
  Project/Project.sln.DotSettings
  com.unity.ml-agents.extensions/.gitignore
  com.unity.ml-agents.extensions/Runtime/Input/Unity.ML-Agents.Extensions.Input.asmdef
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Unity.ML-Agents.Extensions.Input.Tests.Runtime.asmdef
  com.unity.ml-agents/CODEOWNERS
  com.unity.ml-agents/Plugins/IL2CPP.DL.Stubs.c
  com.unity.ml-agents/README.md
  com.unity.ml-agents/Runtime/Grpc/Unity.ML-Agents.CommunicatorObjects.asmdef
  com.unity.ml-agents/Runtime/Unity.ML-Agents.asmdef
  com.unity.ml-agents/com.unity.ml-agents.sln.DotSettings
  config/sac/FoodCollector.yaml
  docs/Hugging-Face-Integration.md
  docs/ML-Agents-Toolkit-Documentation.md
  docs/Python-Custom-Trainer-Plugin.md
  localized_docs/KR/docs/Training-Imitation-Learning.md
  localized_docs/KR/docs/Training-PPO.md
  localized_docs/TR/docs/Getting-Started.md
  ml-agents-envs/colabs/Colab_PettingZoo.ipynb
  ml-agents/mlagents/utils/__init__.py
  ml-agents/mlagents/utils/load_from_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
  ml-agents/pydoc-config.yaml
  ml-agents/setup.py
Due: validate-versions, validate-init-py

Pre-commit
  docs/ML-Agents-Overview.md
Due: none

Added ELO Rating System Doc (#4685)
  docs/ELO-Rating-System.md
  docs/ML-Agents-Overview.md
  docs/images/elo_example.png
  docs/images/elo_expected_score_formula.png
  docs/images/elo_score_update_formula.png
Due: none

Update setup.py
  ml-agents-envs/setup.py
Due: validate-init-py

Update setup.py
  ml-agents/setup.py
Due: validate-init-py

Update ML-Agents to Python 3.10.12 (Colab) (#5929)
  ml-agents-envs/setup.py
  ml-agents/setup.py
Due: validate-init-py

Update Contributing.md
  docs/CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Due: none

Added DecisionStep parameter to the decision requester * Updated com.unity.ml-agents/Runtime/DecisionRequester.cs
  com.unity.ml-agents/Runtime/DecisionRequester.cs
Due: none

Added DecisionStep parameter to the decision requester - Updated the changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Added DecisionStep parameter to the decision requester (#5939)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/DecisionRequester.cs
Due: none

Updated document on DecisionStep feature in DecisionRequester * Updated docs/Learning-Environment-Design-Agents.md * Fixed a typo in comments in com.unity.ml-agents/Runtime/DecisioRequester.cs
  com.unity.ml-agents/Runtime/DecisionRequester.cs
  docs/Learning-Environment-Design-Agents.md
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
