Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

update barracuda version, enable tests for 2020.2 (#4571)
  .yamato/test_versions.metafile
  .yamato/training-int-tests.yml
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

Assign new BrainParametersProto fields based on capabilities (#4581)
  com.unity.ml-agents/Runtime/Actuators/ActionSpec.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
Due: none

more interesting scoring, smarter heuristic
  Project/Assets/ML-Agents/Examples/Match3/Scenes/Match3.unity
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Agent.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Board.cs
Due: none

add ActionSpec; test_simple_rl torch passes
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_extrinsic.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_rnd.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
Due: validate-init-py

remove uneccesary type from set_actions
  ml-agents-envs/mlagents_envs/base_env.py
Due: validate-init-py

ignoring Instance of 'AbstractContextManager' has no 'enter_context' member (no-member)
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/rnd_reward_provider.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

fixing tensorflow tests
  ml-agents/mlagents/trainers/policy/tf_policy.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_models.py
  ml-agents/mlagents/trainers/tf/components/bc/model.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/curiosity/model.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/gail/model.py
Due: validate-init-py

use proper spec in environment.py
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

fix tf bc test
  ml-agents/mlagents/trainers/tf/components/bc/module.py
Due: validate-init-py

Basic files were prepared.
  docs/localized/TR/docs/Getting-Started.md
  docs/localized/TR/docs/images/3dball_learning_brain.png
  docs/localized/TR/docs/images/balance.png
  docs/localized/TR/docs/images/mlagents-3DBallHierarchy.png
  docs/localized/TR/docs/images/mlagents-TensorBoard.png
  docs/localized/TR/docs/images/platform_prefab.png
Due: none

fix mlagents-envs tests
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/tests/test_envs.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Add battle food arena scene
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/BattleFood.unity
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/BattleFood.unity.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/BattleFoodAgent.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/BattleFoodAgent.cs.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/BattleFoodScoring.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/BattleFoodScoring.cs.meta
Due: none

hyperparameteers and tweaks
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/BattleFood.unity
  config/ppo/BattleFoodCollector.yaml
Due: none

Update docs/Unity-Inference-Engine.md with correct tf2onnx versions
  docs/Unity-Inference-Engine.md
Due: none

Add reward signal class comments
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
Due: validate-init-py

More descriptive import of is_available
  ml-agents/mlagents/trainers/training_status.py
Due: validate-init-py

Updated installation instructions for PyTorch
  docs/Installation.md
Due: none

More reward signal comments
  ml-agents/mlagents/trainers/sac/trainer.py
Due: validate-init-py

More Windows instructions
  docs/Installation.md
Due: none

Fix Gym for ActionSpec
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/tests/test_gym.py
Due: validate-versions, validate-init-py

Fix TF policy test
  ml-agents/mlagents/trainers/tests/tensorflow/test_tf_policy.py
Due: validate-init-py

[refactor] Make PyTorch the default and TensorFlow optional (#4517)
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  com.unity.ml-agents/CHANGELOG.md
  docs/Background-Machine-Learning.md
  docs/Background-PyTorch.md
  docs/Getting-Started.md
  docs/Installation.md
  docs/Learning-Environment-Executable.md
  docs/ML-Agents-Overview.md
  docs/Readme.md
  docs/Training-Configuration-File.md
  docs/Training-ML-Agents.md
  docs/Unity-Inference-Engine.md
  ml-agents/mlagents/tf_utils/__init__.py
  ml-agents/mlagents/tf_utils/tf.py
  ml-agents/mlagents/torch_utils/__init__.py
  ml-agents/mlagents/torch_utils/torch.py
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/tests/test_stats.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
  ml-agents/mlagents/trainers/trainer_controller.py
  ml-agents/mlagents/trainers/training_status.py
  ml-agents/setup.py
  ml-agents/tests/yamato/training_int_tests.py
  test_constraints_min_version.txt
  test_requirements.txt
Due: validate-versions, validate-init-py

[bug-fix] Fix Gym and some Policy tests for ActionSpec (#4590)
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/tests/test_gym.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_tf_policy.py
Due: validate-versions, validate-init-py

Update Training-on-Amazon-Web-Service.md
  docs/Training-on-Amazon-Web-Service.md
Due: none

more steps
  config/ppo/Match3.yaml
Due: none

RemotePolicy with hybrid actions
  com.unity.ml-agents/Runtime/Actuators/ActuatorManager.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Policies/RemotePolicy.cs
Due: none

Update Training-on-Amazon-Web-Service.md (#4591)
  docs/Training-on-Amazon-Web-Service.md
Due: none

Always initialize non-wrapped policy
  ml-agents/mlagents/trainers/ghost/trainer.py
Due: validate-init-py

Load ghosted policy
  ml-agents/mlagents/trainers/ghost/trainer.py
Due: validate-init-py

Update changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Resume test
  ml-agents/mlagents/trainers/tests/tensorflow/test_ghost.py
Due: validate-init-py

Add test
  ml-agents/mlagents/trainers/tests/tensorflow/test_ghost.py
Due: validate-init-py

Add torch test and fix torch.
  ml-agents/mlagents/trainers/ghost/trainer.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
Due: validate-init-py

check if input action is null
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
Due: none

less allocation for constructing ActionBuffer
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
Due: none

try training tests on windows (breaks other tests)
  .yamato/standalone-build-test.yml
  .yamato/test_versions.metafile
  .yamato/training-int-tests.yml
  Project/ProjectSettings/ProjectVersion.txt
Due: none

fix agent fields
  .yamato/training-int-tests.yml
Due: none

fix agent fields
  .yamato/standalone-build-test.yml
Due: none

job name and pip fixes
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
Due: none

fix installer on standalone
  .yamato/standalone-build-test.yml
  .yamato/test_versions.metafile
Due: none
