Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Pin torch version to 2.8.0 to prevent breaking onnx changes in 2.9.0
  ml-agents/setup.py
Due: validate-init-py

Add torch version constraint to be equal or less than 2.8.0
  ml-agents/setup.py
Due: validate-init-py

Update CHANGELOG.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update README.md
  Project/README.md
Due: none

Update README.ko.md
  Project/README.ko.md
Due: none

test
  .yamato/com.unity.ml-agents-publish.yml
Due: none

Update package versions
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  DevProject/ProjectSettings/ProjectVersion.txt
  DevProject/ProjectSettings/SceneTemplateSettings.json
  PerformanceProject/Packages/manifest.json
  PerformanceProject/Packages/packages-lock.json
  PerformanceProject/ProjectSettings/ProjectVersion.txt
  Project/Assets/ML-Agents/Examples/PushBlockWithInput/Scripts/PushBlockActions.cs
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  Project/ProjectSettings/ProjectVersion.txt
Due: none

revert project files
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  Project/ProjectSettings/PackageManagerSettings.asset
Due: none

Remove unused TouchedTarget methods from examples Port PR #5772
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgent.cs
Due: none

Fix sequence length buffer truncate Porting PR #5456 to current code.
  ml-agents/mlagents/trainers/tests/torch_entities/test_sac.py
  ml-agents/mlagents/trainers/trainer/off_policy_trainer.py
Due: validate-init-py

update changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

fix link
  com.unity.ml-agents/CHANGELOG.md
Due: none

remove trailing space
  com.unity.ml-agents/Documentation~/Learning-Environment-Create-New.md
Due: none

Fix links for link validation script
  utils/validate_release_links.py
Due: validate-init-py

fix link - line too long
  utils/validate_release_links.py
Due: validate-init-py

fix base path for generated documentation
  mkdocs.yml
Due: none

fix path for documentation generation
  ml-agents-envs/pydoc-config.yaml
  ml-agents/pydoc-config.yaml
Due: none

do not regenerate docs since the ones already present were reviewed and updated
  .pre-commit-config.yaml
Due: none

Update package versions
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  DevProject/ProjectSettings/ProjectSettings.asset
  DevProject/ProjectSettings/ProjectVersion.txt
  PerformanceProject/Packages/manifest.json
  PerformanceProject/Packages/packages-lock.json
  PerformanceProject/ProjectSettings/ProjectSettings.asset
  PerformanceProject/ProjectSettings/ProjectVersion.txt
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  Project/ProjectSettings/ProjectSettings.asset
  Project/ProjectSettings/ProjectVersion.txt
  Project/ProjectSettings/TimeManager.asset
Due: none

Revert asset files
  DevProject/ProjectSettings/ProjectSettings.asset
  PerformanceProject/ProjectSettings/ProjectSettings.asset
  Project/ProjectSettings/ProjectSettings.asset
  Project/ProjectSettings/TimeManager.asset
Due: none

clean up
  DevProject/ProjectSettings/EditorBuildSettings.asset
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  ml-agents/mlagents/trainers/torch_entities/distributions.py
  ml-agents/mlagents/trainers/torch_entities/utils.py
  ml-agents/setup.py
  utils/validate_versions.py
Due: validate-versions, validate-init-py

revert this file since no useful change
  .yamato/wrench/wrench_config.json
Due: none

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

fix layout
  ml-agents/mlagents/trainers/torch_entities/distributions.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-init-py

remove unused import
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-init-py

Add some tests. Small fixes from PR review.
  ml-agents/mlagents/trainers/tests/torch_entities/test_distributions.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_utils.py
  ml-agents/mlagents/trainers/torch_entities/distributions.py
  ml-agents/mlagents/trainers/torch_entities/utils.py
Due: validate-init-py

fix when normalize is false
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-init-py

Add "xpu" and "mps" as target devices
  ml-agents/mlagents/torch_utils/torch.py
Due: validate-init-py

more simplifications
  ml-agents/mlagents/torch_utils/torch.py
  ml-agents/mlagents/trainers/torch_entities/utils.py
Due: validate-init-py

update documentation
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/Training-ML-Agents.md
  ml-agents/mlagents/trainers/cli_utils.py
Due: validate-init-py

update documentation and tests
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/Training-ML-Agents.md
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/tests/test_torch_utils.py
Due: validate-init-py

try to fix test
  ml-agents/mlagents/trainers/tests/test_torch_utils.py
Due: validate-init-py

revert version updates
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  PerformanceProject/Packages/manifest.json
  PerformanceProject/Packages/packages-lock.json
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
Due: none

Need to update inputsystem
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  PerformanceProject/Packages/packages-lock.json
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
Due: none

Use Unity 6.5 instead of trunk as a workaround
  .yamato/com.unity.ml-agents-test.yml
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  DevProject/ProjectSettings/ProjectSettings.asset
  PerformanceProject/Packages/manifest.json
  PerformanceProject/Packages/packages-lock.json
  PerformanceProject/ProjectSettings/ProjectSettings.asset
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  Project/ProjectSettings/ProjectSettings.asset
Due: none

Try to fix tests that are failing in CI
  com.unity.ml-agents/Plugins/ProtoBuffer/runtimes/linux/native/libgrpc_csharp_ext.x64.so.meta
  com.unity.ml-agents/Plugins/ProtoBuffer/runtimes/linux/native/libgrpc_csharp_ext.x86.so.meta
Due: none

Replace hardcoded value 200f by agentRotationSpeed in MoveAgent()
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scenes/DungeonEscape.unity
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scripts/PushAgentEscape.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlock.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentBasic.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentCollab.cs
  com.unity.ml-agents/CHANGELOG.md
Due: none
