Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Upgrade dependency to barracuda 1.2.1 (#4744)
  com.unity.ml-agents/package.json
Due: none

update type of evaluate_actions to list tensor (#4747)
  ml-agents/mlagents/trainers/policy/torch_policy.py
Due: validate-init-py

Update prefab
  Project/Assets/ML-Agents/Examples/WallJump/Prefabs/WallJumpCollabArea.prefab
Due: none

"fix" simple RL test
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
Due: validate-init-py

update analytics notice
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
Due: none

update GridFoodCollector and VisualFoodCollector
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/GridFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/VisualFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorAgent.cs
Due: none

update doc
  docs/Learning-Environment-Examples.md
Due: none

Add OneHot util to goal sensor
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/Area.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorld.unity
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/GoalSensorComponent.cs
Due: none

fix tests
  com.unity.ml-agents/Tests/Editor/Communicator/RpcCommunicatorTests.cs
Due: none

updat images
  docs/images/3dball_learning_brain.png
  docs/images/team_id.png
Due: none

readme too
  README.md
Due: none

Action Docs part2 (#4739)
  docs/Getting-Started.md
  docs/Learning-Environment-Design-Agents.md
  docs/Learning-Environment-Examples.md
  docs/Learning-Environment-Executable.md
  docs/ML-Agents-Overview.md
  docs/Python-API.md
  docs/Training-Configuration-File.md
  docs/images/monitor.png
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/policy/tf_policy.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
Due: validate-init-py

Update Training-on-Microsoft-Azure.md (#4730)
  docs/Training-on-Microsoft-Azure.md
Due: none

Collaborative Hallway
  Project/Assets/ML-Agents/Examples/Hallway/Prefabs/SymbolFinderArea.prefab
  Project/Assets/ML-Agents/Examples/Hallway/Scenes/Hallway.unity.meta
  Project/Assets/ML-Agents/Examples/Hallway/Scenes/HallwayCollab.unity
  Project/Assets/ML-Agents/Examples/Hallway/Scenes/HallwayCollab.unity.meta
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayAgent.cs
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayCollabAgent.cs
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayCollabAgent.cs.meta
Due: none

use sensor types to differentiate obs (#4749)
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

Simpler solution
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/GoalSensorComponent.cs
Due: none

Set num teammates to 2
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Add config and group ids to HallwayCollab
  Project/Assets/ML-Agents/Examples/Hallway/Prefabs/SymbolFinderArea.prefab
  Project/Assets/ML-Agents/Examples/Hallway/Scenes/HallwayCollab.unity
  config/ppo/HallwayCollab.yaml
Due: none

update unreleased section in changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

clone when copy branch size array
  com.unity.ml-agents/Runtime/Policies/BrainParameters.cs
Due: none

Fix bug with hallway collab
  Project/Assets/ML-Agents/Examples/Hallway/Prefabs/SymbolFinderArea.prefab
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayCollabAgent.cs
  Project/Assets/ML-Agents/Examples/Hallway/TFModels/HallwayCollab.onnx
  Project/Assets/ML-Agents/Examples/Hallway/TFModels/HallwayCollab.onnx.meta
Due: none

Fix bug in BrainParameter Drawer (#4752)
  com.unity.ml-agents/Runtime/Policies/BrainParameters.cs
Due: none

Use separate hypernetwork module
  ml-agents/mlagents/trainers/torch/decoders.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

black formatting
  ml-agents/mlagents/trainers/torch/decoders.py
Due: validate-init-py

fix unit test (path changed on merge)
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
Due: none

update python to 0.24.0.dev0 and C# to 1.7.0
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

remove unreleased section of changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

update lib versions and references to release 10
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

[refactor] Remove critic pass during inference (#4743)
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Edits to HallwayCollab
  Project/Assets/ML-Agents/Examples/Hallway/Scenes/HallwayCollab.unity
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayCollabAgent.cs
Due: none

Update onnx file meta
  Project/Assets/ML-Agents/Examples/Hallway/TFModels/HallwayCollab.onnx.meta
Due: none

add blank line
  com.unity.ml-agents/CHANGELOG.md
Due: none

Make the env easier
  Project/Assets/ML-Agents/Examples/Hallway/Scenes/HallwayCollab.unity
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayCollabAgent.cs
Due: none

update readme table and README
  README.md
  utils/make_readme_table.py
Due: validate-init-py

In-Editor Analytics for inference (#4677)
  README.md
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Analytics.meta
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs.meta
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs.meta
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
  com.unity.ml-agents/Tests/Editor/Analytics.meta
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs.meta
Due: none

[MLA-1587] Don't warn about minor version mismatch, add links in specific messages (#4688)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  com.unity.ml-agents/Tests/Editor/Communicator/RpcCommunicatorTests.cs
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

[cherry-pick] Cherry-pick #4743 into Release 11 (#4756)
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
