Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Remove dungeon escape
  docs/images/dungeon_escape.png
Due: none

Update docs/Installation.md
  docs/Installation.md
Due: none

integrated group manager into soccer
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/AgentSoccer.cs
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerBallController.cs
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerEnvController.cs
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerEnvController.cs.meta
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerFieldArea.cs
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerFieldArea.cs.meta
Due: none

Refactor extrinsic reward provider
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
Due: validate-init-py

Create POCASettings class
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
Due: validate-init-py

use group reward + final reward to calculate ELO
  ml-agents/mlagents/trainers/ghost/trainer.py
Due: validate-init-py

Exporting all the branches size instead of omly the sum
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

use ObservationSpec everywhere
  Project/Assets/ML-Agents/Examples/Basic/Scripts/BasicSensorComponent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/SensorBase.cs
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureSensor.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/PhysicsBodySensor.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/Match3SensorTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Sensors/ChannelHotShapeTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Sensors/ChannelShapeTests.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Policies/HeuristicPolicy.cs
  com.unity.ml-agents/Runtime/SensorHelper.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/Sensors/Reflection/ReflectionSensorBase.cs
  com.unity.ml-agents/Runtime/Sensors/SensorShapeValidator.cs
  com.unity.ml-agents/Tests/Editor/Communicator/GrpcExtensionsTests.cs
  com.unity.ml-agents/Tests/Editor/MLAgentsEditModeTest.cs
  com.unity.ml-agents/Tests/Editor/ParameterLoaderTest.cs
  com.unity.ml-agents/Tests/Editor/Sensor/BufferSensorTest.cs
  com.unity.ml-agents/Tests/Editor/Sensor/CameraSensorComponentTest.cs
  com.unity.ml-agents/Tests/Editor/Sensor/FloatVisualSensorTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/RayPerceptionSensorTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/RenderTextureSensorComponentTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/SensorShapeValidatorTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/StackingSensorTests.cs
Due: none

parameter docstring to POCA Value
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
Due: validate-init-py

rename group obs to groupmate obs
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
Due: validate-init-py

Make Observation Encoder a module
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

rename to groupmate obs
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
Due: validate-init-py

Fix copy normalize
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Update docs.
  README.md
  docs/Installation.md
Due: none

Clean up docs a bit
  docs/Learning-Environment-Design-Agents.md
Due: none

[poca] Make Observation Encoder a module (#5093)
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

Get processors out of observation_encoder
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

rename to groupmate obs (#5094)
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
Due: validate-init-py

Fix references to MultiAgentGroup
  com.unity.ml-agents/CHANGELOG.md
  docs/Learning-Environment-Design-Agents.md
Due: none

Update getting started for 3D Ball.
  docs/Getting-Started.md
Due: none

Update getting started.
  docs/Getting-Started.md
Due: none

Update install docs to mention samples and link to the forum for feedback (#5091)
  README.md
  docs/Getting-Started.md
  docs/Installation.md
Due: none

Exporting all the branches size instead of omly the sum (#5092)
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

cleanup
  Project/ProjectSettings/EditorBuildSettings.asset
  Project/ProjectSettings/ProjectSettings.asset
  com.unity.ml-agents/Editor/MLAgentsSettingsProvider.cs
  com.unity.ml-agents/Runtime/MLAgentsManager.cs
Due: none

Update changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

POCA trainer (#5005)
  com.unity.ml-agents/Runtime/SimpleMultiAgentGroup.cs
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/ghost/trainer.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/poca/__init__.py
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/tests/check_env_trains.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
  ml-agents/mlagents/trainers/tests/torch/test_agent_action.py
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
  ml-agents/mlagents/trainers/tests/torch/test_poca.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_extrinsic.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
  ml-agents/mlagents/trainers/torch/agent_action.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-versions, validate-init-py

InplaceArray for shape
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/Match3SensorTests.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/InplaceArray.cs
  com.unity.ml-agents/Runtime/InplaceArray.cs.meta
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  com.unity.ml-agents/Runtime/Sensors/ISensor.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationSpec.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Tests/Editor/Communicator/GrpcExtensionsTests.cs
  com.unity.ml-agents/Tests/Editor/ParameterLoaderTest.cs
  com.unity.ml-agents/Tests/Editor/Sensor/BufferSensorTest.cs
  com.unity.ml-agents/Tests/Editor/Sensor/CameraSensorComponentTest.cs
  com.unity.ml-agents/Tests/Editor/Sensor/RenderTextureSensorComponentTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/StackingSensorTests.cs
Due: none

[docs] Documentation for POCA and cooperative behaviors (#5056)
  com.unity.ml-agents/CHANGELOG.md
  docs/Learning-Environment-Design-Agents.md
  docs/ML-Agents-Overview.md
  docs/Training-Configuration-File.md
  docs/images/cooperative_pushblock.png
  docs/images/groupmanager_teamid.png
Due: none

[environment] Push Block Collaborative (#5090)
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentGridCollab.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentGridCollab.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaGrid.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaGrid.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/GoalDetectTrigger.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/GoalDetectTrigger.cs.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentCollab.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentCollab.cs.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollab.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollab.onnx.meta
  config/ppo/PushBlockCollab.yaml
  docs/Learning-Environment-Examples.md
Due: none

update lights and 3d models
  Project/Assets/ML-Agents/Examples/PushBlock/Meshes/Cave.fbx
  Project/Assets/ML-Agents/Examples/PushBlock/Meshes/Cave.fbx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Meshes/Door.fbx
  Project/Assets/ML-Agents/Examples/PushBlock/Meshes/Door.fbx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/Column.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/DungeonEscapePlatform.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/DungeonEscape.unity
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockgrid-4499955.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockgrid-4499955.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockgrid-7499953.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockgrid-7499953.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockrays-5999988.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockrays-5999988.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockrays-9499979.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockrays-9499979.onnx.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/Brown.mat
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/Brown.mat.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/Door.mat
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/Door.mat.meta
  Project/ProjectSettings/TagManager.asset
Due: none

update lights
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/Column.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/DungeonEscapeAgent.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/DungeonEscapePlatform.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/DungeonEscape.unity
Due: none

Add multiAgentGroup capabilities flag
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/UnityRLCapabilities.cs
  ml-agents-envs/mlagents_envs/environment.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/capabilities.proto
Due: validate-init-py

Add proto
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Capabilities.cs
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.pyi
Due: validate-init-py

Fix compiler error
  com.unity.ml-agents/Runtime/Communicator/UnityRLCapabilities.cs
Due: none

Add warning for multiagent group
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
Due: none

Add comment
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
Due: none

Fix spelling mistake
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
Due: none

[docs] Update changelog (#5095)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Add multiAgentGroup capabilities flag (#5096)
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/UnityRLCapabilities.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Capabilities.cs
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.pyi
  ml-agents-envs/mlagents_envs/environment.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/capabilities.proto
Due: validate-init-py

fix initialization
  com.unity.ml-agents/Editor/MLAgentsSettingsProvider.cs
  com.unity.ml-agents/Runtime/MLAgentsManager.cs
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
