Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

soccer fours, agent prefabs
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/BlueStriker.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/BlueStriker.prefab.meta
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/PurpleStriker.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/PurpleStriker.prefab.meta
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/SoccerTwos.unity
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerEnvController.cs
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-14999860.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-14999860.onnx.meta
  Project/ProjectSettings/TagManager.asset
  config/ppo/SoccerTwos.yaml
Due: none

move config
  config/poca/PushBlockCollab.yaml
Due: none

use get step to determine curriculum
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

add to CHANGELOG
  com.unity.ml-agents/CHANGELOG.md
Due: none

Move PushBlockCollab config to poca directory (#5097)
  config/poca/PushBlockCollab.yaml
Due: none

Make step in trainer private
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
  ml-agents/mlagents/trainers/trainer/trainer.py
Due: validate-init-py

Make step in trainer private (#5099)
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
  ml-agents/mlagents/trainers/trainer/trainer.py
Due: validate-init-py

[cherry-pick] Move PushBlockCollab config to poca directory (#5097)
  config/poca/PushBlockCollab.yaml
Due: none

Update versions
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Fix for validate release links
  utils/validate_release_links.py
Due: validate-init-py

Update release tag and docs
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Update changelog for samples.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fix ghost curriculum and make steps private (#5098)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
  ml-agents/mlagents/trainers/trainer/trainer.py
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

more ball rays
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/BlueStriker.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/PurpleStriker.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
Due: none

add collision physics
  Project/ProjectSettings/DynamicsManager.asset
Due: none

[cherry-pick] Fix ghost curriculum and make steps private (#5098)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
  ml-agents/mlagents/trainers/trainer/trainer.py
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

Update changelog for samples. (#5103)
  com.unity.ml-agents/CHANGELOG.md
Due: none

add trained model
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/DungeonEscapeAgent.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/DungeonEscapePlatform.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/DungeonEscape.unity
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/DungeonEscape.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/DungeonEscape.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/DungeonEscapeRays.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/DungeonEscapeRays.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockgrid-2499988.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockgrid-2499988.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockgrid-4499955.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockgrid-4499955.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockrays-2499957.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockrays-2499957.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockrays-5999988.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockrays-5999988.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockrays-9499979.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockrays-9499979.onnx.meta
Due: none

Update changelog for samples. (#5103) (#5106)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update versions on main (#5102)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

[release_15] Release 15 update versions (#5101)
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  utils/validate_release_links.py
Due: validate-versions, validate-init-py

Update readme and changelog
  README.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

addressing comments
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
Due: none

Add missing package docs
  com.unity.ml-agents/Runtime/IMultiAgentGroup.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
  com.unity.ml-agents/Runtime/SimpleMultiAgentGroup.cs
Due: none

Fix grammar
  com.unity.ml-agents/Runtime/SimpleMultiAgentGroup.cs
Due: none

Update comment on Dispose
  com.unity.ml-agents/Runtime/SimpleMultiAgentGroup.cs
Due: none

Update com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
Due: none

readding tests
  com.unity.ml-agents/Tests/Editor/EditModeTestInternalBrainTensorApplier.cs
  com.unity.ml-agents/Tests/Editor/EditModeTestInternalBrainTensorGenerator.cs
Due: none

disable dotnet format temporarily (#5088)
  .pre-commit-config.yaml
Due: none

Fix yml.
  .yamato/com.unity.ml-agents-test.yml
Due: none

update changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fix version. Remove uneeded project settings.
  com.unity.ml-agents/Runtime/Unity.ML-Agents.asmdef
Due: none

Update defines, remove project settings from test project.
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/AudioManager.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/ClusterInputManager.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/DynamicsManager.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/EditorBuildSettings.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/EditorSettings.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/GraphicsSettings.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/InputManager.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/NavMeshAreas.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/NetworkManager.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/Physics2DSettings.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/PresetManager.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/ProjectSettings.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/ProjectVersion.txt
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/QualitySettings.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/TagManager.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/TimeManager.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/UnityConnectSettings.asset
  OptionalDepedencyTests/NoAnalyticsModule/ProjectSettings/VFXManager.asset
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Analytics/AnalyticsUtils.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  com.unity.ml-agents/Runtime/MLAgentsDefines.cs
  com.unity.ml-agents/Runtime/MLAgentsDefines.cs.meta
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  com.unity.ml-agents/Runtime/Policies/RemotePolicy.cs
  com.unity.ml-agents/Runtime/SideChannels/TrainingAnalyticsSideChannel.cs
  com.unity.ml-agents/Runtime/Unity.ML-Agents.asmdef
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs
  com.unity.ml-agents/Tests/Editor/Communicator/GrpcExtensionsTests.cs
  com.unity.ml-agents/Tests/Editor/TrainingAnalyticsSideChannelTests.cs
  com.unity.ml-agents/Tests/Editor/Unity.ML-Agents.Editor.Tests.asmdef
Due: none
