Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

WIP
  com.unity.ml-agents/Runtime/DecisionRequester.cs
  com.unity.ml-agents/Tests/Editor/PublicAPI/PublicApiValidation.cs
Due: none

separate grid sensor and component
  com.unity.ml-agents.extensions/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents.extensions/Editor/GridSensorComponentEditor.cs.meta
  com.unity.ml-agents.extensions/Runtime/Sensors/CountingGridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/CountingGridSensor.cs.meta
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs.meta
Due: none

update scene
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/FoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/FoodCollector.unity
Due: none

Fixing the GymWrapper Logging issue (#5201)
  ml-agents-envs/mlagents_envs/logging_util.py
Due: validate-init-py

better diff
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

rename. comments
  com.unity.ml-agents.extensions/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

store index instead of color for debug gizmo
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

create sensor for gizmo
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

update scene
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/FoodCollectorArea.prefab
Due: none

Fix padding in optimizer value estimate
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Don't clear update buffer, but don't append to it either
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
Due: validate-init-py

Update changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update ml-agents/mlagents/trainers/ghost/trainer.py
  ml-agents/mlagents/trainers/ghost/trainer.py
Due: validate-init-py

comments and renames
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgent.cs
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridArea.cs
Due: none

Update docs/Learning-Environment-Examples.md
  docs/Learning-Environment-Examples.md
Due: none

Fix additional bugs and POCA
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
Due: validate-init-py

improve get cell position
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

adding reference to gridworld in docs about goal signal
  docs/Learning-Environment-Design-Agents.md
Due: none

Fix groupmate obs, add tests
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_poca.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
Due: validate-init-py

[Bug Fix] Issue 5204 : GymToUnityWrapper must call reset if done
  gym-unity/gym_unity/envs/__init__.py
Due: validate-versions, validate-init-py

Address comments
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
Due: validate-init-py

Make experience replay buffer saving more verbose
  ml-agents/mlagents/trainers/sac/trainer.py
Due: validate-init-py

review feedback
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Board.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3ExampleActuator.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3ExampleActuatorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Match3/AbstractBoard.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Actuator.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3ActuatorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Move.cs
Due: none

Minor updates.
  docs/Learning-Environment-Create-New.md
Due: none

[Bug Fix] set_action_for_agent expects a ActionTuple with batch size 1.
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/tests/test_set_action.py
Due: validate-init-py

Whitespace fixes.
  docs/Learning-Environment-Create-New.md
Due: none

Documentation updates: Added Unity instance parallelization to enviro… (#5143)
  docs/Learning-Environment-Create-New.md
Due: none

moving a line around
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

rename m_cellpoints
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
Due: none

[🐛 🔨 ]Adding the ELO to the GlobalTrainingStatus (#5202)
  ml-agents/mlagents/trainers/ghost/trainer.py
  ml-agents/mlagents/trainers/training_status.py
Due: validate-init-py

[Bug Fix] Issue 5204 : GymToUnityWrapper must call reset if done (#5207)
  gym-unity/gym_unity/envs/__init__.py
Due: validate-versions, validate-init-py

[🐛 🔨 ] set_action_for_agent expects a ActionTuple with batch size 1. (#5208)
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/tests/test_set_action.py
Due: validate-init-py

put variable name into const string
  com.unity.ml-agents.extensions/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

cleanup
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

make layer mask and rotate editable at run time
  com.unity.ml-agents.extensions/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

format
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

Improve tests
  ml-agents/mlagents/trainers/tests/torch/test_poca.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
Due: validate-init-py

revert naming for better diff. defer to next PR
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
