Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

fix heal cap
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

Move landmarks a little
  Project/Assets/ML-Agents/Examples/GoalNav/Prefabs/Area.prefab
Due: none

typo
  docs/Migrating.md
Due: none

Adding a new line to Readme.md so the next line is not part of the table
  README.md
Due: none

Add histogram aggregation type
  com.unity.ml-agents/Runtime/StatsRecorder.cs
  ml-agents-envs/mlagents_envs/side_channel/stats_side_channel.py
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
Due: validate-init-py

just run plugin tests in main pytest
  .github/workflows/pytest.yml
  .github/workflows/pytest_plugins.yml
Due: none

exclude from GPU tests
  ml-agents-plugin-examples/mlagents_plugin_examples/tests/test_stats_writer_plugin.py
Due: validate-init-py

changelog, docs
  com.unity.ml-agents/CHANGELOG.md
  ml-agents-plugin-examples/README.md
Due: none

cubewars config
  config/ppo/CubeWars.yaml
Due: none

WIP
  ml-agents/mlagents/trainers/demonstrations/__init__.py
  ml-agents/mlagents/trainers/demonstrations/demonstration_proto_utils.py
  ml-agents/mlagents/trainers/demonstrations/demonstration_provider.py
  ml-agents/mlagents/trainers/demonstrations/local_demonstration_provider.py
Due: validate-versions, validate-init-py

change manager id from string to int
  com.unity.ml-agents.extensions/Runtime/Teams.meta
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs.meta
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/AgentInfo.cs
  com.unity.ml-agents/Runtime/ITeamManager.cs
  com.unity.ml-agents/Runtime/TeamManagerIdCounter.cs
  com.unity.ml-agents/Runtime/TeamManagerIdCounter.cs.meta
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.pyi
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents/mlagents/trainers/agent_processor.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/agent_info.proto
Due: validate-init-py

baseline with teammanager as ID
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/ZombiePushBlockDeathCollabArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/ZombiePushBlockDeathCollabArea.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/2ZombieVs3AgentsPushBlock.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ZombiePushBlockDeathEnvController.cs
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs
Due: none

change teammanager id from string to int
  com.unity.ml-agents.extensions/Runtime/Teams.meta
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs.meta
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/AgentInfo.cs
  com.unity.ml-agents/Runtime/ITeamManager.cs
  com.unity.ml-agents/Runtime/TeamManagerIdCounter.cs
  com.unity.ml-agents/Runtime/TeamManagerIdCounter.cs.meta
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.pyi
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents/mlagents/trainers/agent_processor.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/agent_info.proto
Due: validate-init-py

increase heal reward/reward tank for damage
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

Fix to max step of large agent, heal laser
  Project/Assets/ML-Agents/Examples/CubeWars/Materials/heal_laser.mat
  Project/Assets/ML-Agents/Examples/CubeWars/Materials/heal_laser.mat.meta
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/CubeWarArea.cs
Due: none

tweak values of heal/life
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

Working ONNX files
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/LargeCubeSoldier.nn
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/LargeCubeSoldier.nn.meta
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/LargeCubeSoldier.onnx
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/LargeCubeSoldier.onnx.meta
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/SmallCubeSoldier.nn
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/SmallCubeSoldier.nn.meta
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/SmallCubeSoldier.onnx
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/SmallCubeSoldier.onnx.meta
Due: none

Reduce dragon damage
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/LargeCubeAgent.cs
Due: none

push prefab
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
Due: none

Add CreateActuators API, obsolete old method. (#4899)
  Project/Assets/ML-Agents/Examples/Basic/Scripts/BasicActuatorComponent.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3ExampleActuatorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3ActuatorComponent.cs
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Actuators/ActuatorComponent.cs
  com.unity.ml-agents/Runtime/Actuators/ActuatorManager.cs
  com.unity.ml-agents/Runtime/Agent.cs
  docs/Migrating.md
Due: none

WIP
  ml-agents/mlagents/trainers/demonstrations/demonstration_proto_utils.py
  ml-agents/mlagents/trainers/demonstrations/local_demonstration_provider.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

barracuda@1.3.0 (#4898)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
Due: none

cp
  Project/Assets/Particle Examples/EffectExamples/Water Effects/Prefabs/BigSplash.prefab
Due: none

convert buffer to MutableMapping
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/torch/action_log_probs.py
  ml-agents/mlagents/trainers/torch/agent_action.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
Due: validate-init-py

editing the prefab for the environment
  Project/Assets/ML-Agents/Examples/Arena-Sequence/Prefabs/Area.prefab
Due: none

fix unit test
  ml-agents/mlagents/trainers/tests/test_buffer.py
Due: validate-init-py

renaming some methods and verifying imiation learning works as expected
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
Due: validate-init-py

Editing the scene to use the right observation size
  Project/Assets/ML-Agents/Examples/Arena-Sequence/Scenes/ArenaLearnSequence.unity
Due: none

Add DeadLargeAgent tags
  Project/ProjectSettings/TagManager.asset
Due: none

increase raycasts
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/SmallAgent.prefab
Due: none

Balancing changes
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/LargeCubeAgent.cs
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

More balance changes
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/SmallAgent.prefab
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

Add visual version of task and simply encoders
  Project/Assets/ML-Agents/Examples/GoalNav/Materials.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Materials/rainbow.mat
  Project/Assets/ML-Agents/Examples/GoalNav/Materials/rainbow.mat.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Prefabs/Area.prefab
  Project/Assets/ML-Agents/Examples/GoalNav/Prefabs/VisualArea.prefab
  Project/Assets/ML-Agents/Examples/GoalNav/Prefabs/VisualArea.prefab.meta
  Project/Assets/ML-Agents/Examples/GoalNav/RainbowFloor.mat
  Project/Assets/ML-Agents/Examples/GoalNav/RainbowFloor.mat.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Scenes/VisualGoalNav.unity
  Project/Assets/ML-Agents/Examples/GoalNav/Scenes/VisualGoalNav.unity.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Scripts/GoalNavAgent.cs
  Project/Assets/ML-Agents/Examples/GoalNav/rainbow.png
  Project/Assets/ML-Agents/Examples/GoalNav/rainbow.png.meta
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensorComponent.cs
  com.unity.ml-agents/Runtime/Sensors/ITypedSensor.cs
  com.unity.ml-agents/Tests/Editor/Sensor/CameraSensorTest.cs
  com.unity.ml-agents/Tests/Editor/Sensor/StackingSensorTests.cs
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

fix grouping for int id
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/behavior_id_utils.py
Due: validate-init-py

-
  Project/Assets/ML-Agents/Examples/Arena-Sequence/Scripts/SequencerAgent.cs
  config/ppo/Sorter.yaml
  config/ppo/Sorter_curriculum.yaml
Due: none

adding meta files
  Project/Assets/ML-Agents/Examples/Arena-Sequence.meta
  Project/Assets/ML-Agents/Examples/Arena-Sequence/Prefabs.meta
Due: none

move from average to sum of rewards
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

Divide team reward among living agents
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/CubeWarArea.cs
Due: none

Use reward sum
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py
