Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

addressing comments
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  docs/Learning-Environment-Design-Agents.md
Due: none

reduce obs of adventurer
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/SmallAgent.prefab
Due: none

Fix arena for 2018
  Project/Assets/ML-Agents/Examples/CubeWars/Meshes/ArenaWalls.fbx.meta
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
Due: none

update yamato tests from master
  .pre-commit-config.yaml
  .yamato/com.unity.ml-agents-pack.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
  Project/Assets/ML-Agents/Editor/Tests/StandaloneBuildTest.cs
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents/tests/yamato/check_coverage_percent.py
  ml-agents/tests/yamato/scripts/run_compressed_sensor.py
  ml-agents/tests/yamato/scripts/run_gym.py
  ml-agents/tests/yamato/scripts/run_llapi.py
  ml-agents/tests/yamato/standalone_build_tests.py
  ml-agents/tests/yamato/training_int_tests.py
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

remove copied test
  ml-agents/tests/yamato/scripts/run_compressed_sensor.py
Due: validate-init-py

fix proto test, revert gym and llapi tests
  .yamato/protobuf-generation-test.yml
  ml-agents/tests/yamato/scripts/run_gym.py
  ml-agents/tests/yamato/scripts/run_llapi.py
Due: validate-init-py

Move floor a bit
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
Due: none

setuptools-based plugin for StatsWriters (#4788)
  .github/workflows/pytest.yml
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-Plugins.md
  ml-agents-plugin-examples/README.md
  ml-agents-plugin-examples/mlagents_plugin_examples/__init__.py
  ml-agents-plugin-examples/mlagents_plugin_examples/example_stats_writer.py
  ml-agents-plugin-examples/mlagents_plugin_examples/tests/__init__.py
  ml-agents-plugin-examples/mlagents_plugin_examples/tests/test_stats_writer_plugin.py
  ml-agents-plugin-examples/setup.py
  ml-agents/mlagents/plugins/__init__.py
  ml-agents/mlagents/plugins/stats_writer.py
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/stats.py
  ml-agents/setup.py
Due: validate-versions, validate-init-py

cherrypick change from master
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/SideChannels/SideChannelsManager.cs
Due: none

sensor shape strings too
  com.unity.ml-agents/Runtime/Sensors/SensorShapeValidator.cs
Due: none

changelog PR numbers
  com.unity.ml-agents/CHANGELOG.md
Due: none

Make healer splash much smaller
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

replace IEnumerables in TensorApplier&Generator
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
Due: none

use IList in ObservationWriter
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensor.cs
  com.unity.ml-agents/Tests/Editor/Sensor/ObservationWriterTests.cs
Due: none

Convert 3DBallHard to use Observables (#4913)
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBallHardNew.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DHardAgent.cs
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/3DBallHard.nn
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/3DBallHard.nn.meta
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/3DBallHard.onnx
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/3DBallHard.onnx.meta
  docs/Learning-Environment-Design-Agents.md
Due: none

Buffer key enums (#4907)
  .github/workflows/pytest.yml
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/__init__.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/test_buffer.py
  ml-agents/mlagents/trainers/tests/test_demo_loader.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tests/torch/test_sac.py
  ml-agents/mlagents/trainers/torch/action_log_probs.py
  ml-agents/mlagents/trainers/torch/agent_action.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-versions, validate-init-py

remove cdf and output tensor allocations
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/Utils/Multinomial.cs
Due: none

[MLA-1742] backport SideChannel GC reduction (#4915)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Sensors/SensorShapeValidator.cs
  com.unity.ml-agents/Runtime/SideChannels/SideChannelsManager.cs
Due: none

Update README.md
  docs/localized/KR/README.md
Due: none

add base team manager
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs
  com.unity.ml-agents/Runtime/Actuators/ITeamManager.cs
  com.unity.ml-agents/Runtime/Actuators/ITeamManager.cs.meta
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/AgentInfo.cs
  com.unity.ml-agents/Runtime/ITeamManager.cs
  com.unity.ml-agents/Runtime/ITeamManager.cs.meta
  com.unity.ml-agents/Runtime/TeamManagerIdCounter.cs
  com.unity.ml-agents/Runtime/TeamManagerIdCounter.cs.meta
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.pyi
  ml-agents-envs/mlagents_envs/rpc_utils.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/agent_info.proto
Due: validate-init-py

add team reward field to agent and proto
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/AgentInfo.cs
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.pyi
  protobuf-definitions/proto/mlagents_envs/communicator_objects/agent_info.proto
Due: validate-init-py

set team reward
  com.unity.ml-agents/Runtime/Agent.cs
Due: none

add maxstep to teammanager and hook to academy
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/ITeamManager.cs
  com.unity.ml-agents/Runtime/Agent.cs
Due: none

fix passing manager id to trainer
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  ml-agents/mlagents/trainers/agent_processor.py
Due: validate-init-py

update PushBlockTeamManager
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockTeamManager.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ZombiePushBlockDeathEnvController.cs
Due: none

make global manager id
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/behavior_id_utils.py
Due: validate-init-py

remove temporary tensors
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/Utils/Multinomial.cs
Due: none

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

[MLA-1743] Backport inference GC Optimizations (#4916)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensor.cs
  com.unity.ml-agents/Tests/Editor/Sensor/ObservationWriterTests.cs
Due: none

[skip ci] Attempting new config
  config/ppo/Sorter_curriculum.yaml
Due: none

Editing the Changelog for the changes made to observation_specs
  com.unity.ml-agents/CHANGELOG.md
Due: none

Better link
  com.unity.ml-agents/CHANGELOG.md
Due: none

Better laser graphic
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/Laser.cs
Due: none

continuous flame damage
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/LargeCubeAgent.cs
Due: none

Use more generic exception catching
  com.unity.ml-agents/Runtime/Timer.cs
Due: none

Simplify small agent reward fn
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

Add test models
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/Adventurer-16999096.onnx
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/Adventurer-16999096.onnx.meta
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/Dragon-16999913.onnx
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/Dragon-16999913.onnx.meta
Due: none

add wall tag
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
Due: none
