Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Fix the attention module embedding size (#5272)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/tests/torch/test_utils.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

Minor edits to documentation (#5239)
  docs/Background-Machine-Learning.md
  docs/ML-Agents-Overview.md
  docs/Using-Tensorboard.md
Due: none

check for missing AbstractBoard, display warning
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Drawer.cs
  com.unity.ml-agents/Editor/Match3ActuatorComponentEditor.cs
  com.unity.ml-agents/Editor/Match3SensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Integrations/Match3/Match3ActuatorComponent.cs
  com.unity.ml-agents/Runtime/Integrations/Match3/Match3SensorComponent.cs
  com.unity.ml-agents/Tests/Editor/Integrations/Match3/Match3ActuatorTests.cs
  com.unity.ml-agents/Tests/Editor/Integrations/Match3/Match3SensorTests.cs
Due: none

[bug-fix] Delete .pt checkpoints past keep-checkpoints (#5271)
  ml-agents/mlagents/trainers/model_saver/model_saver.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/policy/checkpoint_manager.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/tests/test_training_status.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
  ml-agents/mlagents/trainers/training_status.py
Due: validate-init-py

[bug-fix] Fix null ref exception in the demo recorder (#5274)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
Due: none

Modifying the changelog for release 17
  com.unity.ml-agents/CHANGELOG.md
Due: none

Change version to 2.0.0-exp.1
  com.unity.ml-agents/CHANGELOG.md
Due: none

Removing the [Unreleased] section
  com.unity.ml-agents/CHANGELOG.md
Due: none

Modifying the changelog for release 17 (#5277)
  com.unity.ml-agents/CHANGELOG.md
Due: none

check for missing AbstractBoard, display warning (#5276)
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Drawer.cs
  com.unity.ml-agents/Editor/Match3ActuatorComponentEditor.cs
  com.unity.ml-agents/Editor/Match3SensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Integrations/Match3/Match3ActuatorComponent.cs
  com.unity.ml-agents/Runtime/Integrations/Match3/Match3SensorComponent.cs
  com.unity.ml-agents/Tests/Editor/Integrations/Match3/Match3ActuatorTests.cs
  com.unity.ml-agents/Tests/Editor/Integrations/Match3/Match3SensorTests.cs
Due: none

moving custom defaults to get_default_stats_writers
  ml-agents/mlagents/plugins/stats_writer.py
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

new test for TensorboardWriter.hidden_keys
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

improved testing
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

Version bump for the main branch following branching of release_17
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Messed up the extensions package version
  com.unity.ml-agents.extensions/package.json
Due: none

check for missing AbstractBoard, display warning (#5276) (#5278)
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Drawer.cs
  com.unity.ml-agents/Editor/Match3ActuatorComponentEditor.cs
  com.unity.ml-agents/Editor/Match3SensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Integrations/Match3/Match3ActuatorComponent.cs
  com.unity.ml-agents/Runtime/Integrations/Match3/Match3SensorComponent.cs
  com.unity.ml-agents/Tests/Editor/Integrations/Match3/Match3ActuatorTests.cs
  com.unity.ml-agents/Tests/Editor/Integrations/Match3/Match3SensorTests.cs
Due: none

Release 17 version bumps and docs version bumps
  README.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Migrating.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  ml-agents/setup.py
Due: validate-versions, validate-init-py

explicit None evaluation
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

make hidden_keys optional
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

adding optional argument
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

lowering the training threshold to 0.8 on test_var_len_obs_and_goal_poca
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
Due: validate-init-py

POCA Attention will use h_size for embedding size and not 128
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Update pytest.yml
  .github/workflows/pytest.yml
Due: none

Do not merge! droping pytest 3.9 job
  .github/workflows/pytest.yml
Due: none

add doc for deriving from grid sensor base
  com.unity.ml-agents.extensions/Documentation~/CustomGridSensors.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
Due: none

Revert "pin CI image version (#5250)"
  .yamato/com.unity.ml-agents-optional-dep-tests.yml
  .yamato/com.unity.ml-agents-pack.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/compressed-sensor-test.yml
  .yamato/coverage_tests.metafile
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/pytest-gpu.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/standalone-build-webgl-test.yml
  .yamato/training-int-tests.yml
Due: none

Revert "pin CI image version (#5250)" (#5285)
  .yamato/com.unity.ml-agents-optional-dep-tests.yml
  .yamato/com.unity.ml-agents-pack.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/compressed-sensor-test.yml
  .yamato/coverage_tests.metafile
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/pytest-gpu.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/standalone-build-webgl-test.yml
  .yamato/training-int-tests.yml
Due: none

-add back pytest -format imports and comments
  .github/workflows/pytest.yml
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

POCA Attention will use h_size for embedding size and not 128 (#5281)
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

back to default threshold for test_var_len_obs_and_goal_poca
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
Due: validate-init-py

[DO NOT MERGE] gpu testing for release
  .yamato/pytest-gpu.yml
Due: none

[Release 17] Updating the release table on README.md
  README.md
  utils/make_readme_table.py
Due: validate-init-py

run package tests with warn-as-error
  .yamato/com.unity.ml-agents-test.yml
Due: none

fix coverage trigger
  .yamato/com.unity.ml-agents-coverage.yml
Due: none

Updating the barracuda 1.4.0
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
Due: none

Add doc for deriving from grid sensor base (#5282)
  com.unity.ml-agents.extensions/Documentation~/CustomGridSensors.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
Due: none

[Release 17] Updating the release table on README.md (#5289)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
