Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

[Release 8] update versions on master (#4549)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

[Release 8] update versions on release branch (#4550)
  README.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

update release table
  README.md
  com.unity.ml-agents/CHANGELOG.md
  utils/make_readme_table.py
Due: validate-init-py

Addressing comments
  .yamato/standalone-build-test.yml
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureCompressed.unity
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureSensor.cs
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/Texture.png
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/Texture.png.meta
  ml-agents/tests/yamato/scripts/run_compressed_sensor.py
Due: validate-init-py

reverting build test to 2019.3
  .yamato/standalone-build-test.yml
Due: none

update
  README.md
Due: none

update readme
  README.md
Due: none

Add more versions for yamato testing
  .yamato/compressed-sensor-test.yml
  .yamato/gym-interface-test.yml
  .yamato/python-ll-api-test.yml
Due: none

[Release 8] update release table (#4551)
  README.md
  com.unity.ml-agents/CHANGELOG.md
  utils/make_readme_table.py
Due: validate-init-py

Need to make the texture readable and uncompressed
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/Texture.png.meta
Due: none

bring back useVectorFrozenFlag option
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/VisualFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorAgent.cs
Due: none

Make Empty texture black
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
Due: none

add method summaries
  com.unity.ml-agents/Runtime/SensorHelper.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
Due: none

Update Learning-Environment-Create-New.md
  docs/Learning-Environment-Create-New.md
Due: none

WIP special pieces
  com.unity.ml-agents.extensions/Runtime/Match3/AbstractBoard.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
Due: none

Add method documentations (#4553)
  com.unity.ml-agents/Runtime/SensorHelper.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
Due: none

Add useVectorFrozenFlag option in FoodCollector (#4552)
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/VisualFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorAgent.cs
Due: none

Using SetPixels rather than setting individual pixels
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
Due: none

save dimensions on sensor
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
Due: none

save dimension on actuator
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Actuator.cs
Due: none

More yamato tests
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
Due: none

tf tests except gail pass
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/tf_policy.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
Due: validate-init-py

creature crawler working
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CreaturePlatform.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CreaturePlatform.prefab.meta
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDynamicVariableSpeed.unity
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerGRAVEYARD.unity
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerGRAVEYARD.unity.meta
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CreatureAgent.cs
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CreatureAgent.cs.meta
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/Creature2Legs.nn
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/Creature2Legs.nn.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockGridSensor.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockGridSensorTests.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockGridSensorTests.unity.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/MOON.mat
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/MOON.mat.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/ProjectileMat.mat
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/ProjectileMat.mat.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/WhiteEmissive.mat
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/WhiteEmissive.mat.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/PlayerCubeWithGun.prefab
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/PlayerCubeWithGun.prefab.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/Projectile.prefab
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/Projectile.prefab.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AgentCubeGroundCheck.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AgentCubeGroundCheck.cs.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AgentCubeMovement.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AvgCenterOfMass.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AvgCenterOfMass.cs.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/Projectile.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/Projectile.cs.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ShootProjectiles.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ShootProjectiles.cs.meta
Due: none

remove demostration recorder
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerStaticVariableSpeed.unity
Due: none

Not building 2020.1 anymore as it does not work on yamato
  .yamato/standalone-build-test.yml
Due: none

add special piece types to obs (need more from master first)
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Match3Heuristic.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Match3VectorObs.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Match3VisualObs.prefab
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Board.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Drawer.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3SensorComponent.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/AbstractBoardTests.cs
Due: none

added trained 6 leg creature
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CreaturePlatform.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerGRAVEYARD.unity
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CreatureAgent.cs
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/CrawlerDynamicVariableSpeedUpsideDownPenGroundPen.nn
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/CrawlerDynamicVariableSpeedUpsideDownPenGroundPen.nn.meta
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/Creature6Legs.nn
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/Creature6Legs.nn.meta
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/Creature6LegsOld.nn
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/Creature6LegsOld.nn.meta
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/CreatureMaster.nn
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/CreatureMaster.nn.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/Targets/DynamicTarget.prefab
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AvgCenterOfMass.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/JointDriveController.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/RandomTorqueEveryXSec.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/RandomTorqueEveryXSec.cs.meta
  Project/Assets/ML-Agents/Examples/WallJump/Materials/spawnVolumeMaterial.mat
Due: none

[Test] Make tests to compare compressed and non-compressed obs (#4547)
  .yamato/compressed-sensor-test.yml
  .yamato/gym-interface-test.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  Project/Assets/ML-Agents/Examples/SharedAssets/Template.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Template/AgentPrefabsAndColors.unity
  Project/Assets/ML-Agents/Examples/SharedAssets/Template/AgentPrefabsAndColors.unity.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Template/Scene.unity
  Project/Assets/ML-Agents/Examples/SharedAssets/Template/Scene.unity.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Template/Scripts.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Template/Scripts/TemplateAgent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Template/Scripts/TemplateAgent.cs.meta
  Project/Assets/ML-Agents/TestScenes.meta
  Project/Assets/ML-Agents/TestScenes/TestCompressedGrid.meta
  Project/Assets/ML-Agents/TestScenes/TestCompressedGrid/TestGridCompressed.unity
  Project/Assets/ML-Agents/TestScenes/TestCompressedGrid/TestGridCompressed.unity.meta
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture.meta
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureCompressed.unity
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureCompressed.unity.meta
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureSensor.cs
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureSensor.cs.meta
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureSensorComponent.cs
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureSensorComponent.cs.meta
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/Texture.png
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/Texture.png.meta
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/Sensors/RenderTextureSensor.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Runtime/Utilities.cs
  ml-agents/tests/yamato/scripts/run_compressed_sensor.py
  ml-agents/tests/yamato/standalone_build_tests.py
Due: validate-init-py

update sensors and models
  Project/Assets/ML-Agents/Examples/Match3/Scenes/Match3.unity
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Board.cs
  Project/Assets/ML-Agents/Examples/Match3/TFModels/Match3VectorObs.onnx
  Project/Assets/ML-Agents/Examples/Match3/TFModels/Match3VisualObs.nn
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
Due: none

Moving back the template to the Examples folder rather than shared assets
  Project/Assets/ML-Agents/Examples/Template.meta
  Project/Assets/ML-Agents/Examples/Template/AgentPrefabsAndColors.unity
  Project/Assets/ML-Agents/Examples/Template/AgentPrefabsAndColors.unity.meta
  Project/Assets/ML-Agents/Examples/Template/Scene.unity
  Project/Assets/ML-Agents/Examples/Template/Scene.unity.meta
  Project/Assets/ML-Agents/Examples/Template/Scripts.meta
  Project/Assets/ML-Agents/Examples/Template/Scripts/TemplateAgent.cs
  Project/Assets/ML-Agents/Examples/Template/Scripts/TemplateAgent.cs.meta
Due: none

Moving back the template to the Examples folder rather than shared assets (#4559)
  Project/Assets/ML-Agents/Examples/Template.meta
  Project/Assets/ML-Agents/Examples/Template/AgentPrefabsAndColors.unity
  Project/Assets/ML-Agents/Examples/Template/AgentPrefabsAndColors.unity.meta
  Project/Assets/ML-Agents/Examples/Template/Scene.unity
  Project/Assets/ML-Agents/Examples/Template/Scene.unity.meta
  Project/Assets/ML-Agents/Examples/Template/Scripts.meta
  Project/Assets/ML-Agents/Examples/Template/Scripts/TemplateAgent.cs
  Project/Assets/ML-Agents/Examples/Template/Scripts/TemplateAgent.cs.meta
Due: none

recursion checker proof-of-concept
  com.unity.ml-agents/Runtime/Academy.cs
Due: none

use downloader, update versions
  .yamato/compressed-sensor-test.yml
  .yamato/gym-interface-test.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

Bump tensorboard to 1.15 to fix the tests
  ml-agents/setup.py
Due: validate-init-py

pip command, delete old code
  .yamato/standalone-build-test.yml
  ml-agents/tests/yamato/editmode_tests.py
Due: validate-init-py

clean up EndEpisode demo code
  docs/Learning-Environment-Create-New.md
  docs/Learning-Environment-Design-Agents.md
Due: none

print version
  .yamato/standalone-build-test.yml
Due: none

putting tensorboard 1.15.0 as min version requirement
  test_constraints_min_version.txt
Due: none

installer path
  .yamato/standalone-build-test.yml
Due: none
