Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Adding an option to make basic diverse continuous (#5552)
  Project/Assets/ML-Agents/Examples/BasicDiverse/Prefabs/Platform.prefab
  Project/Assets/ML-Agents/Examples/BasicDiverse/Prefabs/PlatformRotate.prefab
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverse.cs
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverseRotate.cs
  Project/ProjectSettings/EditorBuildSettings.asset
Due: none

Fixing SAC bugs
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Fixing SAC bugs (#5555)
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

init petting_zoo registry
  pettingzoo-unity/pettingzoo_unity/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
Due: validate-versions, validate-init-py

More fixes for MEDE
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

More fixes for MEDE (#5556)
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Addressed CR comments.
  docs/Training-Configuration-File.md
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_settings.py
Due: validate-init-py

Hash128 is not a cryptographic hash, replace with HMAC-SHA256.
  com.unity.ml-agents/Runtime/Analytics/AnalyticsUtils.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
Due: none

Extend TrainingAnalytics side channel to expose configuration details
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/TrainingAnalytics.cs
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.pyi
  ml-agents/mlagents/training_analytics_side_channel.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/training_analytics.proto
Due: validate-init-py

Change member function scopes and hash demo_paths
  ml-agents/mlagents/training_analytics_side_channel.py
Due: validate-init-py

Simplify imports used by AnalyticsUtils.cs
  com.unity.ml-agents/Runtime/Analytics/AnalyticsUtils.cs
Due: none

Address comments about moving hash to a class function and not nested.
  ml-agents/mlagents/training_analytics_side_channel.py
Due: validate-init-py

Extract tbiEvent hashing method and add test coverage
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs
Due: none

Extend TrainingAnalytics side channel to expose configuration details
  ml-agents/mlagents/training_analytics_side_channel.py
Due: validate-init-py

Remove import accidentally pulled from rebase
  ml-agents/mlagents/training_analytics_side_channel.py
Due: validate-init-py

Feature/mla 2205 separate schedule lr beta epsilon (#5538)
  com.unity.ml-agents/CHANGELOG.md
  docs/Learning-Environment-Create-New.md
  docs/Training-Configuration-File.md
  docs/Training-ML-Agents.md
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_config_conversion.py
  ml-agents/mlagents/trainers/tests/test_settings.py
Due: validate-init-py

Update optimizer_torch.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Updated colab name.
  pettingzoo-unity/Colab_PettingZoo.ipynb
Due: none

Update optimizer_torch.py (#5560)
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Update DiversitySamplerComponent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/DiversitySamplerComponent.cs
Due: none

Link PR in CHANGELOG
  com.unity.ml-agents/CHANGELOG.md
Due: none

Package Signature in CI
  .yamato/com.unity.ml-agents-publish.yml
Due: none

Updated OnActionReceived to use new ActionBuffers.ContinuousActions
  docs/Learning-Environment-Create-New.md
Due: none

Updated added code to match code style of docs
  docs/Learning-Environment-Create-New.md
Due: none

Added little tips
  docs/Learning-Environment-Create-New.md
Due: none

Update README.md
  pettingzoo-unity/README.md
Due: none

Added comments and updated create tutorial for training area replicator.
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
  docs/Learning-Environment-Create-New.md
Due: none

Updated CHANGELOG.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Harden user PII protection logic and extend TrainingAnalytics to expose detailed configuration parameters. (#5512)
  com.unity.ml-agents/Runtime/Analytics/AnalyticsUtils.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/TrainingAnalytics.cs
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.pyi
  ml-agents/mlagents/training_analytics_side_channel.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/training_analytics.proto
Due: validate-init-py

Fixed some failing tests.
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/tests/test_learn.py
Due: validate-init-py

cherrypick Custom trainer editor analytics (#5511)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/__init__.py
  ml-agents-envs/mlagents_envs/side_channel/default_training_analytics_side_channel.py
  ml-agents/mlagents/training_analytics_side_channel.py
Due: validate-versions, validate-init-py

validate env-id
  pettingzoo-unity/pettingzoo_unity/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
Due: validate-versions, validate-init-py

cherrypick "Update dotnet-format to address breaking changes introduced by upstream changes (#5528)"
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Update colab to match pettingZoo import api
  pettingzoo-unity/Colab_PettingZoo.ipynb
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
Due: validate-versions, validate-init-py

ToRevert: pull exp-petting-registry branch
  pettingzoo-unity/Colab_PettingZoo.ipynb
Due: none

Add init file to tests
  pettingzoo-unity/pettingzoo_unity/tests/__init__.py
Due: validate-versions, validate-init-py

Install pettingzoo-unity requirements for pytest
  .github/workflows/pytest.yml
Due: none

Update com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
