Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

run build job on bigger flavor (#4819)
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
  ml-agents/tests/yamato/standalone_build_tests.py
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

update FAQ for tensorflow and py3.9 (#4827)
  docs/FAQ.md
Due: none

fix blog link that moved
  README.md
Due: none

Address comments
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Sensors/ITypedSensor.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensor.cs
  ml-agents-envs/mlagents_envs/rpc_utils.py
Due: validate-init-py

add trained models
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/ZombiePushBlock.unity
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZomb.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZomb.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombCC.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombCC.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombCC2.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombCC2.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombMaster2.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombMaster2.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombMasterBranch.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombMasterBranch.onnx.meta
  Project/ProjectSettings/GraphicsSettings.asset
  Project/ProjectSettings/UnityConnectSettings.asset
  config/ppo/PushBlock.yaml
Due: none

fix blog link that moved (#4829)
  README.md
Due: none

go back to root before generating patch file
  .yamato/protobuf-generation-test.yml
Due: none

Self-attention Centralized Critic
  ml-agents/mlagents/trainers/torch/attention.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

replace crawler
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/ZombiePushBlockCollabArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/ZombiePushBlock.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/SimpleNPC.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/SimpleNPC.cs.meta
Due: none

try switching to linux for proto gen
  .yamato/protobuf-generation-test.yml
Due: none

update platform string
  .yamato/protobuf-generation-test.yml
Due: none

run on linux
  .yamato/protobuf-generation-test.yml
Due: none

apply generated patch
  ml-agents-envs/mlagents_envs/communicator_objects/unity_to_external_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/unity_to_external_pb2_grpc.py
Due: validate-init-py

refractor StatsSummary to add sum as property
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/tests/check_env_trains.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

fixed tests
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

Switching to linux for proto gen, fix output paths (#4831)
  .yamato/protobuf-generation-test.yml
Due: none

layer norm
  config/ppo/Bullet.yaml
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/attention.py
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Rename to ObservationType
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Sensors/ITypedSensor.cs
  docs/Python-API.md
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_envs.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/observation.proto
Due: validate-init-py

More renaming
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
Due: validate-init-py

Rename more files
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
  ml-agents/mlagents/trainers/tests/test_demo_loader.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_extrinsic.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_rnd.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tests/torch/test_utils.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/rnd_reward_provider.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
  ml-agents/tests/yamato/scripts/run_llapi.py
Due: validate-init-py

Fix some mis-renamings
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_extrinsic.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_rnd.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/tests/yamato/scripts/run_llapi.py
Due: validate-init-py

One more rename
  ml-agents/mlagents/trainers/tests/dummy_config.py
Due: validate-init-py

Build protos
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Observation.cs
  ml-agents-envs/mlagents_envs/communicator_objects/observation_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/observation_pb2.pyi
  ml-agents-envs/mlagents_envs/communicator_objects/unity_to_external_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/unity_to_external_pb2_grpc.py
Due: validate-init-py

Rename
  ml-agents-envs/mlagents_envs/rpc_utils.py
Due: validate-init-py

Apply proto patch
  ml-agents-envs/mlagents_envs/communicator_objects/unity_to_external_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/unity_to_external_pb2_grpc.py
Due: validate-init-py

Fix gym tests
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/tests/test_gym.py
Due: validate-versions, validate-init-py

add generated files to test trigger
  .yamato/protobuf-generation-test.yml
Due: none

remove yaml condition (shouldn't run test)
  .yamato/protobuf-generation-test.yml
Due: none

python change (should run tests)
  ml-agents-envs/mlagents_envs/communicator_objects/agent_action_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_action_pb2.pyi
Due: validate-init-py

change .cs file (should run tests)
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/SpaceType.cs
Due: none

Unity coding standard
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayAgent.cs
Due: none

reverted docstring empty lines
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
Due: validate-init-py

GaugeWriter fix
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

revert some whitespace
  ml-agents/mlagents/trainers/agent_processor.py
Due: validate-init-py

undo whitespace
  ml-agents/mlagents/trainers/ppo/trainer.py
Due: validate-init-py

undo undesired change, undo whitespace
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
Due: validate-init-py

revert unit test logging strings
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

remove pylint
  .pre-commit-config.yaml
  .pylintrc
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/registry/binary_utils.py
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents/mlagents/torch_utils/torch.py
  ml-agents/mlagents/trainers/barracuda.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch/test_sac.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
Due: validate-init-py
