Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

force different nodes for new and deprecated action output
  ml-agents/mlagents/trainers/torch/action_model.py
Due: validate-init-py

fix dynamic axis
  ml-agents/mlagents/trainers/torch/model_serialization.py
Due: validate-init-py

fix agent processor test
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
Due: validate-init-py

fix trajectory test
  ml-agents/mlagents/trainers/tests/test_trajectory.py
Due: validate-init-py

fix tf policy test
  ml-agents/mlagents/trainers/tests/tensorflow/test_tf_policy.py
Due: validate-init-py

fix sac/action model tests
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_action_model.py
Due: validate-init-py

fix clipping/hybrid test
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
  ml-agents/mlagents/trainers/torch/action_model.py
Due: validate-init-py

remove pre_action from tests
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
Due: validate-init-py

Fix staging tests (#4708)
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_tf_policy.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_action_model.py
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
  ml-agents/mlagents/trainers/torch/action_model.py
Due: validate-init-py

Edit the documentation and the changelog for the tensorflow removal
  com.unity.ml-agents/CHANGELOG.md
  docs/ML-Agents-Overview.md
  docs/Training-Configuration-File.md
  docs/Training-ML-Agents.md
  docs/Unity-Inference-Engine.md
Due: none

removing upper limit for numpy
  ml-agents-envs/setup.py
Due: validate-init-py

removing tensorflow testing for pytest and yamato
  .github/workflows/pytest.yml
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/__init__.py
  ml-agents/mlagents/trainers/tests/test_trainer_controller.py
  ml-agents/mlagents/trainers/trainer_controller.py
  ml-agents/setup.py
  ml-agents/tests/yamato/yamato_utils.py
  test_constraints_max_tf1_version.txt
  test_constraints_max_tf2_version.txt
  test_constraints_min_version.txt
  test_requirements.txt
Due: validate-versions, validate-init-py

Formatting
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

Force different nodes for new and deprecated action output (#4705)
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
Due: validate-init-py

Fxing test
  ml-agents/mlagents/trainers/sac/trainer.py
Due: validate-init-py

Fix set_action_for_agent (#4691)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

Use time instead of datetime
  ml-agents/mlagents/trainers/subprocess_env_manager.py
Due: validate-init-py

read deprecated fields in BrainParmeterProto if ActionSpec not set
  ml-agents-envs/mlagents_envs/rpc_utils.py
Due: validate-init-py

fix bc tests
  ml-agents-envs/mlagents_envs/mock_communicator.py
  ml-agents/mlagents/trainers/demo_loader.py
Due: validate-init-py

Fix SubprocessEnvManager hanging on unexpected exceptions. (#4699)
  ml-agents/mlagents/trainers/subprocess_env_manager.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/test_subprocess_env_manager.py
Due: validate-init-py

remove yamato trigger
  .yamato/com.unity.ml-agents-performance.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/compressed-sensor-test.yml
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
Due: none

fix llapi and gym yamato
  gym-unity/gym_unity/envs/__init__.py
  ml-agents/tests/yamato/scripts/run_llapi.py
Due: validate-versions, validate-init-py

rename event and add [Serialize]
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
Due: none

fix tests
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
Due: validate-init-py

make non-editor friendly
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
Due: none

Allow gridworld agent to have different goals
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgent.cs
Due: none

trying to fix a yamato issue
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

fix torch bc tests
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
Due: validate-init-py

update hashing - use Hash128, always limit number of floats
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
Due: none

more observation fields, use struct for dimensions
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
Due: none

Reintrodute TF for some testing
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

docstrings
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
Due: none

more docstrings
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
