Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Update docs/Learning-Environment-Create-New.md
  docs/Learning-Environment-Create-New.md
Due: none

Update com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
Due: none

Addressed CR comments.
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
  com.unity.ml-agents/Runtime/Communicator/ICommunicator.cs
  com.unity.ml-agents/Tests/Editor/Areas/TrainingAreaReplicatorTests.cs
  docs/Python-API-Documentation.md
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/tests/test_learn.py
Due: validate-init-py

Restart crashed Unity environments (#5553)
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-ML-Agents.md
  ml-agents-envs/mlagents_envs/rpc_communicator.py
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/subprocess_env_manager.py
  ml-agents/mlagents/trainers/tests/test_subprocess_env_manager.py
Due: validate-init-py

update pytest command
  .github/workflows/pytest.yml
Due: none

Add docstrings and comments
  pettingzoo-unity/Colab_PettingZoo.ipynb
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
Due: validate-versions, validate-init-py

update coverage to pettingzoo folder
  .github/workflows/pytest.yml
Due: none

update the clone branch in colab
  .github/workflows/pytest.yml
  pettingzoo-unity/Colab_PettingZoo.ipynb
Due: none

update coverage to pettingzoo folder
  .github/workflows/pytest.yml
  pettingzoo-unity/Colab_PettingZoo.ipynb
Due: none

separate pytest coverage
  .github/workflows/pytest.yml
Due: none

removing the use of SetJoinStrength in Worm
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgentDiverse.cs
Due: none

forgot to change the action size
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab
Due: none

removing the use of SetJoinStrength in Worm (#5576)
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgentDiverse.cs
Due: none

remove strength from crawler
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverse.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverse.cs
  config/sac/CrawlerDiverse.yaml
Due: none

update configs/remove alpha tuning
  config/sac/CrawlerDiverse.yaml
  config/sac/WormDiverse.yaml
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

update configs/remove alpha tuning (#5579)
  config/sac/CrawlerDiverse.yaml
  config/sac/WormDiverse.yaml
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Add worm areas
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Scenes/WormDiverse.unity
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgentDiverse.cs
Due: none

remove strength from crawler (#5578)
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverse.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverse.cs
  config/sac/CrawlerDiverse.yaml
Due: none

update area prefab
  Project/Assets/ML-Agents/Examples/Worm/Scenes/WormDiverse.unity
Due: none

revert reward func crawler
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverse.cs
Due: none

fix space
  .github/workflows/pytest.yml
Due: none

separate discriminator buffer
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/trainer.py
Due: validate-init-py

Removing link to ML-Agents Challenge 1 on Unity Connect
  docs/Learning-Environment-Examples.md
Due: none

Removing link to ML-Agents Challenge 1 on Unity Connect (#5581)
  docs/Learning-Environment-Examples.md
Due: none

unset log level
  .github/workflows/pytest.yml
  gym-unity/gym_unity/envs/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
Due: validate-versions, validate-init-py

cherry pick default_analytics_side_channel from 5511
  com.unity.ml-agents/CHANGELOG.md
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/__init__.py
  ml-agents-envs/mlagents_envs/side_channel/default_training_analytics_side_channel.py
  ml-agents/mlagents/training_analytics_side_channel.py
Due: validate-versions, validate-init-py

add tsne
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

update package version from 2.0.0 to 2.0.1
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

Develop add training area replicator (#5568)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Areas.meta
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs.meta
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/ICommunicator.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/UnityRlInitializationInput.cs
  com.unity.ml-agents/Runtime/Unity.ML-Agents.asmdef
  com.unity.ml-agents/Tests/Editor/Areas.meta
  com.unity.ml-agents/Tests/Editor/Areas/TrainingAreaReplicatorTests.cs
  com.unity.ml-agents/Tests/Editor/Areas/TrainingAreaReplicatorTests.cs.meta
  com.unity.ml-agents/Tests/Editor/Unity.ML-Agents.Editor.Tests.asmdef
  docs/Learning-Environment-Create-New.md
  docs/Python-API-Documentation.md
  ml-agents-envs/mlagents_envs/communicator_objects/unity_rl_initialization_input_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/unity_rl_initialization_input_pb2.pyi
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_learn.py
  ml-agents/mlagents/trainers/tests/test_settings.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/unity_rl_initialization_input.proto
Due: validate-init-py

update changelog from #5511
  com.unity.ml-agents/CHANGELOG.md
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/__init__.py
  ml-agents-envs/mlagents_envs/side_channel/default_training_analytics_side_channel.py
  ml-agents/mlagents/training_analytics_side_channel.py
Due: validate-versions, validate-init-py

Update README.md with new survey link(#5500)
  README.md
Due: none

Update README.md with new survey link(#5500) (#5585)
  README.md
Due: none

Fixing the analytics side-channel for curriculum learning.
  ml-agents/mlagents/trainers/subprocess_env_manager.py
  ml-agents/mlagents/trainers/tests/test_training_analytics_side_channel.py
  ml-agents/mlagents/trainers/training_analytics_side_channel.py
Due: validate-init-py

Making Worm have fixed diversity settings and setting setting to 4
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Scenes/WormDiverse.unity
Due: none

add velocity obs crawler
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverse.cs
Due: none

adding modal heads to the policy
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Made a more robust test.
  ml-agents/mlagents/trainers/tests/test_training_analytics_side_channel.py
Due: validate-init-py

set gym=0.20.0 #5540, update changelog
  com.unity.ml-agents/CHANGELOG.md
  gym-unity/gym_unity/tests/test_gym.py
  gym-unity/setup.py
  junit/test-results.xml
Due: validate-init-py

Removing sklearn import
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py
