Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Fix typos
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
Due: validate-init-py

Added SUM as aggregation type for custom statistics (#4816)
  .gitignore
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayAgent.cs
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/StatsRecorder.cs
  ml-agents-envs/mlagents_envs/side_channel/stats_side_channel.py
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/tests/check_env_trains.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
  ml-agents/mlagents/trainers/tests/test_learn.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

remove other pylint disables
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

Plurals
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/rnd_reward_provider.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

remove pylint (#4836)
  .pre-commit-config.yaml
  .pylintrc
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/registry/binary_utils.py
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents/mlagents/torch_utils/torch.py
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/barracuda.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch/test_sac.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
Due: validate-init-py

remove barracuda conversion, tensorflow cleanup
  ml-agents/mlagents/trainers/barracuda.py
  ml-agents/mlagents/trainers/env_manager.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/__init__.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
Due: validate-versions, validate-init-py

unused var
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

add generated files to test trigger (#4832)
  .yamato/protobuf-generation-test.yml
Due: none

[MLA-470] Barracuda + TF cleanup (#4837)
  ml-agents/mlagents/trainers/barracuda.py
  ml-agents/mlagents/trainers/env_manager.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/__init__.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
Due: validate-versions, validate-init-py

newest pytest
  test_requirements.txt
Due: none

layer norm and weight decay with fixed architecture
  Project/Assets/Bullet/Prefabs/BulletArea.prefab
  Project/Assets/Bullet/Scenes/Bullet.unity
  Project/Assets/Bullet/Scripts/DodgeAgent.cs
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/attention.py
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

bullet config
  config/ppo/Bullet.yaml
Due: none

add weight decay to trainers
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Add comments
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Sensors/ITypedSensor.cs
  ml-agents-envs/mlagents_envs/base_env.py
Due: validate-init-py

Pre-commit fit
  ml-agents-envs/mlagents_envs/base_env.py
Due: validate-init-py

separate entity encoder and RSA
  ml-agents/mlagents/trainers/torch/attention.py
  ml-agents/mlagents/trainers/torch/layers.py
Due: validate-init-py

clean up args in mha
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

add proto definitions for trainer events
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Capabilities.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/TrainingAnalytics.cs
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.pyi
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.pyi
  ml-agents-envs/mlagents_envs/communicator_objects/unity_to_external_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/unity_to_external_pb2_grpc.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/training_analytics.proto
Due: validate-init-py

more cleanups
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

add new env scene
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/ZombiePushBlockCollabArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/ZombiePushBlock.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/ZombiePushBlockWithDeath.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/ZombiePushBlockWithDeath.unity.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/SimpleNPC.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ZombiePushBlockEnvController.cs
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCC.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCC.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockMaster.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockMaster.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombCC.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombCC.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombCC2.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombCC2.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombMaster2.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombMaster2.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombMasterBranch.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockZombMasterBranch.onnx.meta
  config/ppo/PushBlockZombie.yaml
Due: none

fixed tests
  ml-agents/mlagents/trainers/tests/torch/test_attention.py
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

any proto WIP
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/TrainingAnalytics.cs
  com.unity.ml-agents/Runtime/SideChannels/TrainingAnalyticsSideChannel.cs
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.pyi
  ml-agents/mlagents/training_analytics_side_channel.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/training_analytics.proto
Due: validate-init-py

address comments on embedding size
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

reduce layers in entity encoder
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

entity embeddings work with no max Integrate into CC
  ml-agents/mlagents/trainers/torch/attention.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

entity embeddings have no max option
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

Add exceptions for variable export
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

remove group id
  com.unity.ml-agents/Editor/BehaviorParametersEditor.cs
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
Due: none

very rough sketch for TeamManager interface
  com.unity.ml-agents.extensions/Runtime/Teams.meta
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs.meta
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/ITeamManager.cs
  com.unity.ml-agents/Runtime/ITeamManager.cs.meta
Due: none

make sure DefaultTrainerDict is pickle-able
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_settings.py
Due: validate-init-py

comment and changelog
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

use head size to calculate embedding size
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

Fix test
  ml-agents/mlagents/trainers/tests/torch/test_attention.py
Due: validate-init-py

Refactor of attention (#4840)
  ml-agents/mlagents/trainers/tests/torch/test_attention.py
  ml-agents/mlagents/trainers/torch/attention.py
  ml-agents/mlagents/trainers/torch/layers.py
Due: validate-init-py

Preliminary work for inference with attention
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Inference/TensorNames.cs
Due: none

Add docstrings
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

add comment
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

make sure DefaultTrainerDict is pickle-able (#4842)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_settings.py
Due: validate-init-py

fix proto.Any reading
  com.unity.ml-agents/Runtime/SideChannels/TrainingAnalyticsSideChannel.cs
Due: none
