Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

add observation size limit of visual encoder type to doc
  docs/Training-Configuration-File.md
Due: none

add env.render() to limitations
  gym-unity/README.md
Due: none

handle null RB, tests
  com.unity.ml-agents.extensions/Runtime/Sensors/RigidBodySensorComponent.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Sensors/RigidBodySensorTests.cs
Due: none

Warn if no joints on Root Body (#5387)
  com.unity.ml-agents.extensions/Editor/RigidBodySensorComponentEditor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/RigidBodySensorComponent.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Sensors/RigidBodySensorTests.cs
  com.unity.ml-agents/CHANGELOG.md
Due: none

add doc string
  gym-unity/README.md
  gym-unity/gym_unity/envs/__init__.py
Due: validate-versions, validate-init-py

pre-commit - fix depencency on pydoc-markdown
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  utils/generate_markdown_docs.py
Due: validate-init-py

pre-commit - fix depencency on pydoc-markdown (#5390)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  utils/generate_markdown_docs.py
Due: validate-init-py

update sensor stacking doc
  docs/Learning-Environment-Design-Agents.md
Due: none

Update docs/Learning-Environment-Design-Agents.md
  docs/Learning-Environment-Design-Agents.md
Due: none

Update visual stacking doc (#5391)
  docs/Learning-Environment-Design-Agents.md
Due: none

sort alphabetically
  docs/Glossary.md
Due: none

Remove duplicated term in glossary (#5379)
  docs/Glossary.md
Due: none

Update docs/Training-Configuration-File.md
  docs/Training-Configuration-File.md
Due: none

fix typo
  docs/Learning-Environment-Design-Agents.md
Due: none

visual stacking doc typo (#5392)
  docs/Learning-Environment-Design-Agents.md
Due: none

move colabs from drive
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
Due: none

github test action
  .github/workflows/colab.yml
Due: none

fix action
  .github/workflows/colab.yml
Due: none

Update gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/envs/__init__.py
Due: validate-versions, validate-init-py

Modifying the changelog for the continuous action SAC target entropy fix
  com.unity.ml-agents/CHANGELOG.md
Due: none

update to 1.0.8
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

Editing the GridSensor documentation for 2D use case
  docs/Learning-Environment-Design-Agents.md
Due: none

changing chagelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Modifying the changelog for the continuous action SAC target entropy fix (#5394)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Add visual encoder input size limit to documentation (#5388)
  docs/Training-Configuration-File.md
Due: none

Editing the GridSensor documentation for 2D use case (#5396)
  com.unity.ml-agents/CHANGELOG.md
  docs/Learning-Environment-Design-Agents.md
Due: none

Add rendering to Gym wrapper limitations (#5389)
  gym-unity/README.md
  gym-unity/gym_unity/envs/__init__.py
Due: validate-versions, validate-init-py

remove com.unity.purchasing dep from project
  Project/Packages/manifest.json
  Project/ProjectSettings/ProjectVersion.txt
  Project/ProjectSettings/UnityConnectSettings.asset
Due: none

remove 2018.4 from tests, make sure to user 2020.3
  .yamato/com.unity.ml-agents-test.yml
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
Due: none

copy yamato util from main
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

test 2020.3 (not .2)
  .yamato/com.unity.ml-agents-test.yml
Due: none

cap cattrs version
  ml-agents/setup.py
Due: validate-init-py

use downloader in standalone build test
  .yamato/standalone-build-test.yml
Due: none

remove trunk tests, fix version parsing in unit test
  .yamato/com.unity.ml-agents-test.yml
  com.unity.ml-agents/Tests/Editor/TensorUtilsTest.cs
Due: none

Cap cattrs version for now(#5397)
  ml-agents/setup.py
Due: validate-init-py

add 2018.4 back to package tests
  .yamato/com.unity.ml-agents-test.yml
Due: none

add 1.0.8 to the release table
  README.md
  utils/make_readme_table.py
Due: validate-init-py

update to 1.0.8 (#5395)
  .yamato/com.unity.ml-agents-test.yml
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
  Project/Packages/manifest.json
  Project/ProjectSettings/ProjectVersion.txt
  Project/ProjectSettings/UnityConnectSettings.asset
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Tests/Editor/TensorUtilsTest.cs
  com.unity.ml-agents/package.json
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
