Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

bring back circleCI for now
  .circleci/config.yml
Due: none

Rename NNCheckpoint to ModelCheckpoint as Model can be NN or ONNX (#4540)
  ml-agents/mlagents/trainers/policy/checkpoint_manager.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/tests/test_training_status.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
Due: validate-init-py

[life improvement] Moving Python files around (#4531)
  docs/Migrating.md
  ml-agents/mlagents/trainers/directory_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/optimizer/tf_optimizer.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/check_env_trains.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_bcmodule.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_simple_rl.py
  ml-agents/mlagents/trainers/tests/test_learn.py
  ml-agents/mlagents/trainers/tests/test_trainer_controller.py
  ml-agents/mlagents/trainers/tests/test_trainer_util.py
  ml-agents/mlagents/trainers/tf/components/__init__.py
  ml-agents/mlagents/trainers/tf/components/bc/__init__.py
  ml-agents/mlagents/trainers/tf/components/bc/model.py
  ml-agents/mlagents/trainers/tf/components/bc/module.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/__init__.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/curiosity/__init__.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/curiosity/model.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/curiosity/signal.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/extrinsic/__init__.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/extrinsic/signal.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/gail/__init__.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/gail/model.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/gail/signal.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/reward_signal_factory.py
  ml-agents/mlagents/trainers/trainer/__init__.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
  ml-agents/mlagents/trainers/trainer_controller.py
  ml-agents/mlagents/trainers/trainer_util.py
Due: validate-versions, validate-init-py

add test scene
  Project/ProjectSettings/EditorBuildSettings.asset
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Tests/Runtime/AcademyStepperTest.cs
  com.unity.ml-agents/Tests/Runtime/AcademyStepperTest.cs.meta
  com.unity.ml-agents/Tests/Runtime/AcademyStepperTestScene.unity
  com.unity.ml-agents/Tests/Runtime/AcademyStepperTestScene.unity.meta
Due: none

update anaconda pip cmd too
  docs/Installation-Anaconda-Windows.md
Due: none

Add 8D tensor test if newer barracuda is installed (#4534)
  com.unity.ml-agents/Tests/Editor/TensorUtilsTest.cs
Due: none

added more variants
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockHard.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockGridSensor.unity
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlock2Grids.nn
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlock2Grids.nn.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockComboStaticGrid.nn
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockComboStaticGrid.nn.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockGridOnlyLatest.nn
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockGridOnlyLatest.nn.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AgentCubeMovement.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AgentCubeMovement.cs.meta
  Project/ProjectSettings/TagManager.asset
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  config/ppo/PushBlock.yaml
Due: none

action model as a singleton
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/torch/action_models.py
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

removed abstract class
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
  ml-agents/mlagents/trainers/torch/action_models.py
Due: validate-init-py

Convert pypi publish to github actions (#4539)
  .circleci/config.yml
  .github/workflows/publish_pypi.yaml
  gym-unity/setup.py
  ml-agents-envs/setup.py
  ml-agents/setup.py
Due: validate-init-py

Add hybrid actions to SAC
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
  ml-agents/mlagents/trainers/torch/action_models.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Revert "Add hybrid actions to SAC"
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
  ml-agents/mlagents/trainers/torch/action_models.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Separate discrete and cont entcoeff
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

move test in dev
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Performance.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Performance/SensorPerformanceTests.cs
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Performance/SensorPerformanceTests.cs.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Tests.asmdef
  DevProject/Assets/ML-Agents/Scripts/Tests/Editor/Tests.asmdef.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTest.cs
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTest.cs.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTestScene.unity
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTestScene.unity.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/Runtime.asmdef
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/Runtime.asmdef.meta
  DevProject/ProjectSettings/EditorBuildSettings.asset
  Project/ProjectSettings/EditorBuildSettings.asset
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Tests/Runtime/AcademyStepperTest.cs
  com.unity.ml-agents/Tests/Runtime/AcademyStepperTest.cs.meta
  com.unity.ml-agents/Tests/Runtime/AcademyStepperTestScene.unity
  com.unity.ml-agents/Tests/Runtime/AcademyStepperTestScene.unity.meta
Due: none

fix bug
  com.unity.ml-agents/Runtime/Sensors/ISparseChannelSensor.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
Due: none

fix typo
  com.unity.ml-agents/Runtime/SensorHelper.cs
Due: none

Main README.md added.
  docs/localized/TR/README.md
  docs/localized/TR/docs/Installation.md
  docs/localized/TR/docs/Readme.md
  docs/localized/TR/docs/images/image-banner.png
Due: none

Forgotten doc
  docs/ML-Agents-Overview.md
Due: none

docstring
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTest.cs
Due: none

experiment with 1/1 test
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
Due: validate-init-py

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

revert changes
  com.unity.ml-agents/Runtime/Academy.cs
Due: none

fix
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorAgent.cs
Due: none

formatting
  docs/Learning-Environment-Examples.md
Due: none

add more test
  com.unity.ml-agents/Tests/Editor/Sensor/StackingSensorTests.cs
Due: none

use ModuleList
  ml-agents/mlagents/trainers/torch/action_models.py
Due: validate-init-py

simple rl tests pass
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
Due: validate-init-py

board iterator
  com.unity.ml-agents.extensions/Runtime/Match3/AbstractBoard.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Actuator.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Move.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/MoveTests.cs
Due: none

update test
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTest.cs
Due: none

minor comment formatting
  com.unity.ml-agents/Tests/Editor/Sensor/StackingSensorTests.cs
Due: none

Release 2 verified update docs (#4535)
  README.md
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/Tests/Editor/Communicator/RpcCommunicatorTests.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
Due: none

Support multi-dimensional and compressed observations stacking (#4476)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Editor/CameraSensorComponentEditor.cs
  com.unity.ml-agents/Editor/RenderTextureSensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/UnityRLCapabilities.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Capabilities.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Observation.cs
  com.unity.ml-agents/Runtime/SensorHelper.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensorComponent.cs
  com.unity.ml-agents/Runtime/Sensors/ISparseChannelSensor.cs
  com.unity.ml-agents/Runtime/Sensors/ISparseChannelSensor.cs.meta
  com.unity.ml-agents/Runtime/Sensors/RenderTextureSensorComponent.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Tests/Editor/Communicator/GrpcExtensionsTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/SensorTestHelper.cs
  com.unity.ml-agents/Tests/Editor/Sensor/SensorTestHelper.cs.meta
  com.unity.ml-agents/Tests/Editor/Sensor/StackingSensorTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/VectorSensorTests.cs
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.pyi
  ml-agents-envs/mlagents_envs/communicator_objects/observation_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/observation_pb2.pyi
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/capabilities.proto
  protobuf-definitions/proto/mlagents_envs/communicator_objects/observation.proto
Due: validate-init-py

Add vector flag of agent's frozen state to VisualFoodCollector (#4511)
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/VisualFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/VisualFoodCollector.unity
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorAgent.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/VisualFoodCollector.nn
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/VisualFoodCollector.nn.meta
  com.unity.ml-agents/CHANGELOG.md
  config/ppo/VisualFoodCollector.yaml
  docs/Learning-Environment-Examples.md
Due: none

convert others to iterator, rename to Move.MoveIndex
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Agent.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Drawer.cs
  com.unity.ml-agents.extensions/Runtime/Match3/AbstractBoard.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Actuator.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Move.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/AbstractBoardTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/MoveTests.cs
Due: none

run devproject tests
  .yamato/com.unity.ml-agents-test.yml
Due: none

loosen trigger for testing
  .yamato/com.unity.ml-agents-test.yml
Due: none

update observation stacking=4 and add model
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/Visual3DBall.prefab
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/Visual3DBall.nn
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/Visual3DBall.nn.meta
  config/ppo/Visual3DBall.yaml
Due: none

Add updated Dockerfile and CI build
  .github/workflows/build-docker.yaml
  Dockerfile
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
