Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Fix padding issues
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Fix more indexing bugs
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Fix SAC
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/trainer.py
Due: validate-init-py

Fix non-lstm PPO
  ml-agents/mlagents/trainers/ppo/trainer.py
Due: validate-init-py

Tweak SAC tests
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
Due: validate-init-py

fix regex, remove deleted file from filter (#4942)
  .pre-commit-config.yaml
Due: none

Update docs to pass doc validation.
  com.unity.ml-agents/Runtime/Actuators/ActionSpec.cs
  com.unity.ml-agents/Runtime/Sensors/IBuiltInSensor.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/SideChannels/TrainingAnalyticsSideChannel.cs
Due: none

Fix AgentProcessor tests
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
Due: validate-init-py

fix format.
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
Due: none

pass sensor dimension flags to analytics
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/ParameterLoaderTest.cs
Due: none

Enable GAIL to decay
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/base_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/rnd_reward_provider.py
Due: validate-init-py

remove unused step counts
  com.unity.ml-agents.extensions/Runtime/MultiAgent/BaseMultiAgentGroup.cs
Due: none

Add GAIL learning rate to TB
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
Due: validate-init-py

fix compile errors for RpcCommunicator.cs on mobile
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
Due: none

reset when done
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
Due: none

Use clipped gaussian distribution for entropy calculation
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

address comments
  com.unity.ml-agents.extensions/Runtime/MultiAgent/BaseMultiAgentGroup.cs
  com.unity.ml-agents/Runtime/Agent.cs
Due: none

update defines, compile out Initialize body on non-desktop
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
Due: none

Global group ids
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/behavior_id_utils.py
Due: validate-init-py

define
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
Due: none

coma trainer and optimizer
  ml-agents/mlagents/trainers/coma/__init__.py
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/coma/trainer.py
Due: validate-versions, validate-init-py

update grid sensor doc
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
Due: none

Update docs to be more descriptive.
  com.unity.ml-agents.extensions/Documentation~/InputActuatorComponent.md
Due: none

Masking Discrete Actions typos
  docs/Learning-Environment-Design-Agents.md
Due: none

MultiInputNetBody
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Update docs to pass doc validation. (#4953)
  com.unity.ml-agents/Runtime/Actuators/ActionSpec.cs
  com.unity.ml-agents/Runtime/Sensors/IBuiltInSensor.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/SideChannels/TrainingAnalyticsSideChannel.cs
Due: none

Apply suggestions from code review
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
Due: none

Various edits
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
Due: none

Address PR feedback.
  com.unity.ml-agents.extensions/Runtime/Input/IInputActionAssetProvider.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActionActuator.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorComponent.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActionActuatorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
Due: none

update defines, compile out Initialize body on non-desktop (#4957)
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
Due: none

Masking Discrete Actions typos (#4961)
  docs/Learning-Environment-Design-Agents.md
Due: none

Communicator factory
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Communicator/CommunicatorFactory.cs
  com.unity.ml-agents/Runtime/Communicator/CommunicatorFactory.cs.meta
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
Due: none

WebGL compile test
  .yamato/standalone-build-webgl-test.yml
  ml-agents/tests/yamato/standalone_build_tests.py
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

fix template
  .yamato/standalone-build-webgl-test.yml
Due: none

remove packages-lock.json from .gitignore per unity documentation.
  DevProject/.gitignore
Due: none

Adding references to the Extensions package to help promote it.
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  docs/Installation.md
Due: none

Updating header formatting to match the rest of the page
  docs/Learning-Environment-Examples.md
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
