Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

find channel with uuid, remove unused attr in proto
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/default_training_analytics_side_channel.py
Due: validate-init-py

formatting
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/default_training_analytics_side_channel.py
Due: validate-init-py

formatting
  ml-agents-envs/mlagents_envs/side_channel/default_training_analytics_side_channel.py
Due: validate-init-py

add data and plot script
  abs_plot_csvs/abs_state_-1.csv
  abs_plot_csvs/abs_state_-10.csv
  abs_plot_csvs/abs_state_-12.csv
  abs_plot_csvs/abs_state_-14.csv
  abs_plot_csvs/abs_state_-16.csv
  abs_plot_csvs/abs_state_-18.csv
  abs_plot_csvs/abs_state_0.4.csv
  abs_plot_csvs/abs_state_0.40.csv
  abs_plot_csvs/abs_state_0.42.csv
  abs_plot_csvs/abs_state_0.44.csv
  abs_plot_csvs/abs_state_0.46.csv
  abs_plot_csvs/abs_state_0.48.csv
  abs_plot_csvs/abs_state_0.csv
  abs_plot_csvs/abs_state_00.csv
  abs_plot_csvs/abs_state_02.csv
  abs_plot_csvs/abs_state_04.csv
  abs_plot_csvs/abs_state_06.csv
  abs_plot_csvs/abs_state_08.csv
  abs_plot_csvs/abs_state_1.csv
  abs_plot_csvs/abs_state_10.csv
  abs_plot_csvs/abs_state_12.csv
  abs_plot_csvs/abs_state_14.csv
  abs_plot_csvs/abs_state_16.csv
  abs_plot_csvs/abs_state_18.csv
  abs_plot_csvs/atten_abs_state.csv
  abs_plot_csvs/atten_abs_state0.csv
  abs_plot_csvs/atten_abs_state2.csv
  abs_plot_csvs/atten_abs_state4.csv
  abs_plot_csvs/atten_abs_state6.csv
  abs_plot_csvs/atten_abs_state8.csv
  abs_plot_csvs/fixed_abs_state_00.csv
  abs_plot_csvs/fixed_abs_state_02.csv
  abs_plot_csvs/fixed_abs_state_04.csv
  abs_plot_csvs/fixed_abs_state_06.csv
  abs_plot_csvs/fixed_abs_state_08.csv
  just_plot.py
Due: validate-init-py

update file names
  colab/Colab_LLAPI.ipynb
  ml-agents-envs/mlagents_envs/pettingzoo_wrapper.py
Due: validate-init-py

upgrade dotnet format version
  .pre-commit-config.yaml
Due: none

use v4
  .pre-commit-config.yaml
Due: none

use SHA
  .pre-commit-config.yaml
Due: none

bump dotnet
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

bump dotnet
  .github/workflows/pre-commit.yml
Due: none

revert precommit dotnet
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

use v5
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

bump to dotnet 6
  .github/workflows/pre-commit.yml
Due: none

Update dotnet-format to address breaking changes introduced by upstream changes
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Update dotnet-format to address breaking changes introduced by upstream changes (#5528)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Update dotnet-format to address breaking changes introduced by upstream changes (#5528) (#5529)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

replacing python3 with python (#5463)
  .yamato/com.unity.ml-agents-test.yml
Due: none

Replacing python3 with python for CI (#5463) (#5530)
  .yamato/com.unity.ml-agents-test.yml
Due: none

update package version from 2.0.0-pre to 2.0.0 (#5526)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

add type checking
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

fixing pytest to take the full path
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
Due: validate-init-py

clean up
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

clean up
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

Update ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/learn.py
Due: validate-init-py

addressing comments:rename,docstring,constant
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
Due: validate-init-py

update init_path in behaviour
  ml-agents/mlagents/trainers/learn.py
Due: validate-init-py

support multiple behavior names
  ml-agents-envs/mlagents_envs/pettingzoo_wrapper.py
Due: validate-init-py

fix multi behavior action index
  ml-agents-envs/mlagents_envs/pettingzoo_wrapper.py
Due: validate-init-py

update init_path in behaviour
  ml-agents/mlagents/trainers/directory_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

add install in colab
  colab/Colab_LLAPI.ipynb
Due: none

add tests for setup_init_path
  ml-agents/mlagents/trainers/directory_utils.py
  ml-agents/mlagents/trainers/tests/test_trainer_util.py
Due: validate-init-py

formatting
  ml-agents/mlagents/trainers/directory_utils.py
  ml-agents/mlagents/trainers/tests/test_trainer_util.py
Due: validate-init-py

doc & changelog
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-Configuration-File.md
Due: none

add setup
  pettingzoo-unity/pettingzoo_unity/__init__.py
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
  pettingzoo-unity/setup.py
Due: validate-versions, validate-init-py

update colab
  colab/Colab_LLAPI.ipynb
Due: none

fix __init__
  pettingzoo-unity/pettingzoo_unity/__init__.py
Due: validate-versions, validate-init-py

clone single branch
  colab/Colab_LLAPI.ipynb
Due: none

import tags only
  pettingzoo-unity/setup.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
