Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Properly reregister agent
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ZombiePushBlockDeathEnvController.cs
Due: none

Fix typo
  ml-agents/mlagents/trainers/buffer.py
Due: validate-init-py

Add test
  ml-agents/mlagents/trainers/tests/test_buffer.py
Due: validate-init-py

Add baseline loss to TensorBoard
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
Due: validate-init-py

pass sensor name through to ObservationSpec
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Observation.cs
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/communicator_objects/observation_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/observation_pb2.pyi
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/observation.proto
Due: validate-init-py

comment and changelog
  com.unity.ml-agents/CHANGELOG.md
  ml-agents-envs/mlagents_envs/base_env.py
Due: validate-init-py

pass obsspec to functions, only check on failure
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
Due: validate-init-py

Add support for variable len obs in COMA2
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

[coma2] Make group extrinsic reward part of extrinsic (#5033)
  config/ppo/PushBlockCollab.yaml
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/torch/test_coma.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_extrinsic.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/__init__.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/group_extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/reward_provider_factory.py
Due: validate-versions, validate-init-py

Remove weird merge artifact
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
Due: validate-init-py

Update cattrs dependencies to support python3.9 (#4821)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents-envs/mlagents_envs/tests/test_envs.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  ml-agents/setup.py
Due: validate-init-py

Fix issue with queuing input events that stomp on others. (#5034)
  DevProject/Packages/packages-lock.json
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/ButtonInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/DoubleInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/FloatInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/IntegerInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/Vector2InputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/IRLActionInputAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActionActuator.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorEventContext.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorEventContext.cs.meta
  com.unity.ml-agents.extensions/Runtime/Input/Unity.ML-Agents.Extensions.Input.asmdef
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/ButtonInputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/DoubleInputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/FloatInputActionAdapatorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/IntegerInputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/Vector2InputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActionActuatorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Unity.ML-Agents.Extensions.Input.Tests.Runtime.asmdef
  com.unity.ml-agents/CHANGELOG.md
Due: none

Make agent action run
  ml-agents/mlagents/trainers/torch/agent_action.py
Due: validate-init-py

renaming of behavior name for imitation crawler
  config/imitation/Crawler.yaml
Due: none

renaming of behavior name for imitation crawler (#5039)
  config/imitation/Crawler.yaml
Due: none

Fix __getitem__ replace with slice
  ml-agents/mlagents/trainers/torch/agent_action.py
Due: validate-init-py

update pytest version
  test_requirements.txt
Due: none

run one test
  .github/workflows/pytest.yml
Due: none

Editing the Changelog to put the unreleased on top
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update versions for release 14 hotfix.
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  utils/validate_versions.py
Due: validate-versions, validate-init-py

[Fix][Documentation] Replace vis_encodeR_type with vis_encode_type
  docs/Training-Configuration-File.md
  docs/Training-ML-Agents.md
Due: none

[Fix][Documentation] Replace vis_encodeR_type with vis_encode_type (#5041)
  docs/Training-Configuration-File.md
  docs/Training-ML-Agents.md
Due: none

Update readme.
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Update readme. (#5042)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Update versions for release 14 hotfix. (#5040)
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  utils/validate_versions.py
Due: validate-versions, validate-init-py

master -> main. (#5010)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pre-commit.yml
  .github/workflows/publish_pypi.yaml
  .github/workflows/pytest.yml
  .yamato/com.unity.ml-agents-performance.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/compressed-sensor-test.yml
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/pytest-gpu.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/training-backcompat-tests.yml
  .yamato/training-int-tests.yml
  README.md
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/CONTRIBUTING.md
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Migrating.md
  docs/localized/KR/docs/Installation-Anaconda-Windows.md
  docs/localized/RU/README.md
  docs/localized/RU/docs/Начало работы.md
  docs/localized/RU/docs/Установка.md
  ml-agents/setup.py
  utils/make_readme_table.py
  utils/validate_release_links.py
Due: validate-init-py

Update changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fix padding for List entries in buffer
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/tests/test_buffer.py
Due: validate-init-py

[Fix][Documentation] Replace vis_encodeR_type with vis_encode_type (#5041) (#5043)
  docs/Training-Configuration-File.md
  docs/Training-ML-Agents.md
Due: none

Revert to coonverting to np.array
  ml-agents/mlagents/trainers/buffer.py
Due: validate-init-py

Fix dtype in PPO trainer
  ml-agents/mlagents/trainers/ppo/trainer.py
Due: validate-init-py

[bug-fix] Fix typo (#5035)
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/tests/test_buffer.py
Due: validate-init-py

master -> main. (#5010) (#5044)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pre-commit.yml
  .github/workflows/publish_pypi.yaml
  .github/workflows/pytest.yml
  .yamato/com.unity.ml-agents-performance.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/compressed-sensor-test.yml
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/pytest-gpu.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/training-backcompat-tests.yml
  .yamato/training-int-tests.yml
  README.md
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/CONTRIBUTING.md
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Migrating.md
  docs/localized/KR/docs/Installation-Anaconda-Windows.md
  docs/localized/RU/README.md
  docs/localized/RU/docs/Начало работы.md
  docs/localized/RU/docs/Установка.md
  ml-agents/setup.py
  utils/make_readme_table.py
  utils/validate_release_links.py
Due: validate-init-py

Update changelog. (#5045)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Revert "Fix __getitem__ replace with slice"
  ml-agents/mlagents/trainers/torch/agent_action.py
Due: validate-init-py

Revert "Make agent action run"
  ml-agents/mlagents/trainers/torch/agent_action.py
Due: validate-init-py

[coma2] Add support for variable length obs in COMA2 (#5038)
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

Fix pypi issues
  ml-agents/mlagents/trainers/coma/trainer.py
Due: validate-init-py

run all tests
  .github/workflows/pytest.yml
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
