Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

sac continuous and discrete train
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

Add comment about Windows install
  ml-agents/setup.py
Due: validate-init-py

Adjust tests
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/tests/torch/test_utils.py
Due: validate-init-py

barracuda inference for hybrid actions
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Inference/TensorNames.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  com.unity.ml-agents/Tests/Editor/EditModeTestInternalBrainTensorApplier.cs
  com.unity.ml-agents/Tests/Editor/ModelRunnerTest.cs
  com.unity.ml-agents/Tests/Editor/ParameterLoaderTest.cs
Due: none

bc tests pass
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

torch reward providers all pass
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

fixed bug in discrete
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

[bug-fix] Use float64 when converting np.ndarray to torch.tensor, cap Torch version to 1.7.x (#4610)
  docs/Installation.md
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tests/torch/test_utils.py
  ml-agents/mlagents/trainers/torch/utils.py
  ml-agents/setup.py
Due: validate-init-py

test_simple_rl/reward providers pass tf/torch
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents/mlagents/trainers/policy/tf_policy.py
  ml-agents/mlagents/trainers/ppo/optimizer_tf.py
  ml-agents/mlagents/trainers/sac/optimizer_tf.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tf/components/bc/module.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/curiosity/signal.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/gail/signal.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

Change to 1v1
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/DeathmatchArea.prefab
Due: none

remove action_probs from output nodes
  ml-agents/mlagents/trainers/tf/model_serialization.py
Due: validate-init-py

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

pin cattrs upper version
  ml-agents/setup.py
Due: validate-init-py

print pip freeze results
  .github/workflows/pytest.yml
Due: none

add comment about cattrs version
  ml-agents/setup.py
Due: validate-init-py

cattrs 1.1.0 is not compatible with Python 3.6, adding upper limit
  ml-agents/setup.py
Due: validate-init-py

[bug-fix] Don't load non-wrapped policy (#4593)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/ghost/trainer.py
  ml-agents/mlagents/trainers/tests/test_ghost.py
Due: validate-init-py

Update CrawlerGRAVEYARD.unity
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerGRAVEYARD.unity
Due: none

[MLA-1519] Don't mark action_probs as an output node. (#4613)
  .github/workflows/pytest.yml
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/tf/model_serialization.py
  ml-agents/setup.py
Due: validate-init-py

Initial commit for multi head attention
  ml-agents/mlagents/trainers/tests/torch/test_layers.py
  ml-agents/mlagents/trainers/torch/layers.py
Due: validate-init-py

adjust default settings
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerGRAVEYARD.unity
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/PlayerCubeWithGun.prefab
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/Projectile.prefab
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AgentCubeGroundCheck.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AgentCubeMovement.cs
Due: none

docstrings and add to environment docs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Actuator.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3ActuatorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3SensorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Move.cs
  docs/Learning-Environment-Examples.md
  docs/images/match3.png
Due: none

sensor and actuator names
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Board.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Actuator.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3ActuatorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3SensorComponent.cs
Due: none

compare compressed obs against saved PNGs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/Match3SensorTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/match3obs0.png
  com.unity.ml-agents.extensions/Tests/Editor/Match3/match3obs0.png.meta
  com.unity.ml-agents.extensions/Tests/Editor/Match3/match3obs_special0.png
  com.unity.ml-agents.extensions/Tests/Editor/Match3/match3obs_special0.png.meta
  com.unity.ml-agents.extensions/Tests/Editor/Match3/match3obs_special1.png
  com.unity.ml-agents.extensions/Tests/Editor/Match3/match3obs_special1.png.meta
Due: none

Added FPS scene with new camera, character, and gun. no agent yet
  Project/Assets/ML-Agents/Examples/FPS_Game.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Prefabs.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Prefabs/PlayerCubeWithGun.prefab
  Project/Assets/ML-Agents/Examples/FPS_Game/Prefabs/PlayerCubeWithGun.prefab.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Prefabs/Projectile.prefab
  Project/Assets/ML-Agents/Examples/FPS_Game/Prefabs/Projectile.prefab.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scenes.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scenes/FPS_Game.unity
  Project/Assets/ML-Agents/Examples/FPS_Game/Scenes/FPS_Game.unity.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/AgentCubeGroundCheck.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/AgentCubeGroundCheck.cs.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/AgentCubeMovement.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/AgentCubeMovement.cs.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/AvgCenterOfMass.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/AvgCenterOfMass.cs.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/CollisionCallbacks.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/CollisionCallbacks.cs.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/Projectile.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/Projectile.cs.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/RandomTorqueEveryXSec.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/RandomTorqueEveryXSec.cs.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/ShootProjectiles.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/ShootProjectiles.cs.meta
  Project/Packages/manifest.json
Due: none

Hard Swish
  ml-agents/mlagents/trainers/torch/layers.py
Due: validate-init-py

Leaky ReLU
  ml-agents/mlagents/trainers/torch/layers.py
Due: validate-init-py

cp
  Project/Assets/ML-Agents/Examples/FPS_Game/Prefabs/PlayerCubeWithGun.prefab
  Project/Assets/ML-Agents/Examples/FPS_Game/Scenes/FPS_Game.unity
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/AgentCubeMovement.cs
Due: none

[bug-fix] Don't load non-wrapped policy (#4593)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/ghost/trainer.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
Due: validate-init-py

pin cattrs version
  .github/workflows/pytest.yml
  ml-agents/setup.py
Due: validate-init-py

cap PyTorch version
  ml-agents/setup.py
  test_requirements.txt
Due: validate-init-py

use v2 action and pin python version (#4568)
  .github/workflows/pre-commit.yml
Due: none

review feedback, cleanup TODOs, comments
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Agent.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Board.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Drawer.cs
  com.unity.ml-agents.extensions/Runtime/Match3/AbstractBoard.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Move.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/MoveTests.cs
Due: none

put changelog into new section
  com.unity.ml-agents/CHANGELOG.md
Due: none

docstrings, heuristic benchmarks
  com.unity.ml-agents.extensions/Runtime/Match3/Move.cs
  docs/Learning-Environment-Examples.md
Due: none

rename section version name
  com.unity.ml-agents/CHANGELOG.md
Due: none

rename section version name to unreleased
  com.unity.ml-agents/CHANGELOG.md
Due: none

Cherrypick bug fixes to release_9_branch (#4617)
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/ghost/trainer.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
  ml-agents/setup.py
  test_requirements.txt
Due: validate-init-py

Add barracuda model extension methods to handle deprecated action output
  com.unity.ml-agents/Runtime/Actuators/ActionSegment.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs.meta
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/TensorNames.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
Due: none

update version
  README.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  utils/make_readme_table.py
Due: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
