Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Updated yamato pytest GPU tests for torch 1.13.1 (#5985)
  .yamato/pytest-gpu.yml
Due: none

Fixed yamato performance tests.
  .yamato/com.unity.ml-agents-performance.yml
Due: none

Updated docs.
  docs/Installation.md
  docs/Integrations-Match3.md
  docs/Migrating.md
  docs/Readme.md
  docs/Tutorial-Custom-Trainer-Plugin.md
  docs/Unity-Inference-Engine.md
  docs/Using-Virtual-Environment.md
  mkdocs.yml
Due: none

Updated docs. (#5986)
  docs/Installation.md
  docs/Integrations-Match3.md
  docs/Migrating.md
  docs/Readme.md
  docs/Tutorial-Custom-Trainer-Plugin.md
  docs/Unity-Inference-Engine.md
  docs/Using-Virtual-Environment.md
  mkdocs.yml
Due: none

Updated installation instructions.
  docs/Installation.md
Due: none

Updated installation instructions. (#5988)
  docs/Installation.md
Due: none

Deployed 488d0439f with MkDocs version: 1.5.3
  sitemap.xml
  sitemap.xml.gz
Due: none

Updated installation instructions. Added installation instructions to doc home page.
  docs/Installation.md
  mkdocs.yml
Due: none

Updated installation instructions. Added installation instructions to doc home page. (#5989)
  docs/Installation.md
  mkdocs.yml
Due: none

Updated lock gha.
  .github/workflows/lock.yml
Due: none

Updated lock gha. (#5990)
  .github/workflows/lock.yml
Due: none

Added timeout cli.
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Updated docs.
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-ML-Agents.md
Due: none

Updated mlagents learn cli test.
  ml-agents/mlagents/trainers/tests/test_learn.py
Due: validate-init-py

Develop timeout (#5991)
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-ML-Agents.md
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_learn.py
Due: validate-init-py

Updated changelog for release.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Updated changelog for release. (#5992)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Updated version numbers.
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  utils/validate_versions.py
Due: validate-versions, validate-init-py

Updated version numbers. (#5993)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  utils/validate_versions.py
Due: validate-versions, validate-init-py

Updating release 20 -> release 21 in docs and docstrings.
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  colab/Colab_UnityEnvironment_4_SB3VectorEnv.ipynb
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/ML-Agents-Toolkit-Documentation.md
  docs/Migrating.md
  docs/Readme.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  utils/validate_versions.py
Due: validate-versions, validate-init-py

Release fixes.
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBallHard.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/3DBallHard.unity
  Project/Packages/packages-lock.json
  com.unity.ml-agents/Runtime/Timer.cs
Due: none

Updated README version table.
  docs/Readme.md
  utils/make_readme_table.py
Due: validate-init-py

Updated push to pypi gha.
  .github/workflows/publish_pypi.yaml
  .github/workflows/publish_pypi_python_api.yaml
  ml-agents-envs/setup.py
Due: validate-init-py

Updating release 20 -> release 21 in docs and docstrings.
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  colab/Colab_UnityEnvironment_4_SB3VectorEnv.ipynb
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/ML-Agents-Toolkit-Documentation.md
  docs/Migrating.md
  docs/Readme.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  ml-agents-envs/README.md
  ml-agents/README.md
Due: none

Deployed 97386af74 with MkDocs version: 1.5.3
  Installation-Anaconda-Windows/index.html
  Installation/index.html
  Learning-Environment-Design-Agents/index.html
  ML-Agents-Envs-README/index.html
  ML-Agents-README/index.html
  ML-Agents-Toolkit-Documentation/index.html
  Migrating/index.html
  Readme/index.html
  Training-ML-Agents/index.html
  Training-on-Amazon-Web-Service/index.html
  Training-on-Microsoft-Azure/index.html
  Unity-Inference-Engine/index.html
  com.unity.ml-agents.extensions/index.html
  com.unity.ml-agents/index.html
  index.html
  ml-agents-envs/index.html
  ml-agents/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Updated mac yamator perf test.
  .yamato/com.unity.ml-agents-performance.yml
Due: none

Bumped numpy version.
  ml-agents-envs/setup.py
  ml-agents/setup.py
Due: validate-init-py

Updated CHANGELOG.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Lowered upper python version to <1.24
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  ml-agents-envs/setup.py
  ml-agents/setup.py
Due: validate-init-py
