Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

fix release versions and changelog section
  com.unity.ml-agents/CHANGELOG.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

fix table
  README.md
Due: none

fix table layout
  README.md
Due: none

Added decision frequency and evaluation metric
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/3DBallMulti.unity
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DAgentArea.cs
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DMultiAgent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/Checkers_Gray.mat
  config/ppo/3DBallMulti_distance.yaml
  config/ppo/3DBallMulti_time.yaml
Due: none

fix table layout (#5430)
  README.md
Due: none

fix table (#5429)
  README.md
Due: none

Add feature to learn with priors
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Move priors to hyperparameters
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

remove unneeded flatten
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Some cleanup
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Some cleanup
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
Due: validate-init-py

no grad for prior policies
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Add prior loss to stats
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
Due: validate-init-py

Fix dimension bug
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Edit some stuff for clarity
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Multi-mode WallJump
  Project/Assets/ML-Agents/Examples/WallJump/Scripts/BlockTrigger.cs
  Project/Assets/ML-Agents/Examples/WallJump/Scripts/WallJumpAgent.cs
Due: none

add --torch-num-thread to CLI
  ml-agents/mlagents/torch_utils/torch.py
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

fix argparser key for torch device
  ml-agents/mlagents/trainers/cli_utils.py
Due: validate-init-py

Fix missing script in multi-mode walljump
  Project/Assets/ML-Agents/Examples/WallJump/Prefabs/WallJumpArea.prefab
Due: none

changed Ball3DRewardType to RewardType
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DAgentArea.cs
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DMultiAgent.cs
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DRewardTypes.cs.meta
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/RewardTypes.cs
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/RewardTypes.cs.meta
Due: none

Added parameterized agent, agent spawner, and parameterized push block
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAreaMulti.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAreaMulti.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockMulti.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockMulti.unity.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/AgentSpawner.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/AgentSpawner.cs.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/GoalDetectMulti.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/GoalDetectMulti.cs.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ParameterizedAgent.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ParameterizedAgent.cs.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentBasicMulti.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentBasicMulti.cs.meta
Due: none

Moved rewardType, spawner, and parameterized agent to shared
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBallAgentArea.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DAgentArea.cs
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DMultiAgent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AgentSpawner.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/AgentSpawner.cs.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ParameterizedAgent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ParameterizedAgent.cs.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/RewardTypes.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/RewardTypes.cs.meta
Due: none

Fix attribute name for torch device in argparser (#5433)
  ml-agents/mlagents/trainers/cli_utils.py
Due: validate-init-py

Remove extraneous probability weighting
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Revert "Remove extraneous probability weighting"
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

fix sac foodcollector config behavior name
  config/sac/FoodCollector.yaml
Due: none

log network parameters count
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/training_status.py
Due: validate-init-py

adding particles env for MA-POCA testing
  ml-agents-envs/mlagents_envs/particles_env.py
Due: validate-init-py

Remove unused reparameterize arg from Policy
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
Due: validate-init-py

WormDiverse
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/PlatformWormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/PlatformWormDiverse.prefab.meta
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/Worm.prefab
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab.meta
  Project/Assets/ML-Agents/Examples/Worm/Scenes/WormDiverse.unity
  Project/Assets/ML-Agents/Examples/Worm/Scenes/WormDiverse.unity.meta
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgentDiverse.cs
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgentDiverse.cs.meta
  config/sac/WormDiverse.yaml
Due: none

WalkerDiverse
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/PlatformDiverse.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/PlatformDiverse.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdoll.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdollDiverse.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdollDiverse.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/Walker.unity
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerDiverse.unity
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerDiverse.unity.meta
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgentDiverse.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgentDiverse.cs.meta
  config/sac/WalkerDiverse.yaml
Due: none

CrawlerDiverse
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverse.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverse.prefab.meta
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/PlatformDiverse.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/PlatformDiverse.prefab.meta
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDiverse.unity
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDiverse.unity.meta
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverse.cs
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverse.cs.meta
  config/sac/CrawlerDiverse.yaml
Due: none

Worm and Walker fixes
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdollDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/PlatformWormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgentDiverse.cs
Due: none

MEDE state dropout
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

max_step = 25
  ml-agents-envs/mlagents_envs/particles_env.py
  ml-agents/mlagents/trainers/learn.py
Due: validate-init-py

mede-dropout param
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

mede-drop configs
  config/sac/CrawlerDiverse.yaml
  config/sac/WalkerDiverse.yaml
  config/sac/WormDiverse.yaml
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
