Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

update docstrings
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
Due: none

foodCollector heuristics keys to control movement
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorAgent.cs
Due: none

bouncer's jump decision
  Project/Assets/ML-Agents/Examples/Bouncer/Scripts/BouncerAgent.cs
Due: none

fix llapi and gym yamato (#4709)
  gym-unity/gym_unity/envs/__init__.py
  ml-agents/tests/yamato/scripts/run_llapi.py
Due: validate-versions, validate-init-py

add clip back to export
  ml-agents/mlagents/trainers/torch/action_model.py
Due: validate-init-py

different architecture
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

Don't eval critic twice
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Update prefabs
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/Area.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorld.unity
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgent.cs
Due: none

add clip back to export (#4713)
  ml-agents/mlagents/trainers/torch/action_model.py
Due: validate-init-py

Don't compute gradient on min_qs for value loss
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Continuous entropy bonus fix
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Fix masking for torch
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgent.cs
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

Remove one layer of log softmax in discrete control
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

Move to masking
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

[Fix] Validate Action
  ml-agents-envs/mlagents_envs/base_env.py
Due: validate-init-py

Added a comment and included the change of #4715 for simplicity
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

fix builds, add tests
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Tests/Editor/Analytics.meta
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs.meta
Due: none

fix 2020 compile
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
Due: none

added heuristic ai spawn
  Project/Assets/ML-Agents/Examples/FPS_Game/Input/FPSPlayerInputActions.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Input/FPSPlayerInputActions.inputactions
  Project/Assets/ML-Agents/Examples/FPS_Game/Prefabs/FPSAgent_AI.prefab
  Project/Assets/ML-Agents/Examples/FPS_Game/Prefabs/FPSAgent_AI.prefab.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scenes/FPS_Game.unity
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/AgentHealth.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/GameController.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/PlayerAIHeuristic.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/Projectile.cs
  Project/Assets/New Terrain.asset
  Project/Assets/New Terrain.asset.meta
  Project/ProjectSettings/DynamicsManager.asset
Due: none

update comments
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorActuatorComponent.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorController.cs
Due: none

remove heuristic
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorController.cs
Due: none

Uncomment EditorAnalytics.SendEventWithLimit
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
Due: none

clean up docs on actions, code examples, reference to hybrid
  Project/Assets/ML-Agents/Examples/Reacher/Scripts/ReacherAgent.cs
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/ActionSpec.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  com.unity.ml-agents/Runtime/Communicator/UnityRLCapabilities.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  docs/Getting-Started.md
  docs/Learning-Environment-Create-New.md
  docs/Learning-Environment-Design-Agents.md
  docs/Python-API.md
  docs/Training-Configuration-File.md
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

undo change from other branch
  com.unity.ml-agents/CHANGELOG.md
Due: none

Add back in normalization for SeparateActorCritic
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

More tweaks and cleanup for Optimizer SAC
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

changelog:
  com.unity.ml-agents/CHANGELOG.md
Due: none

fix llapi yamato test
  ml-agents-envs/mlagents_envs/base_env.py
Due: validate-init-py

Add test for normalizer issue
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
Due: validate-init-py

Remove CubeWars again
  Project/Assets/ML-Agents/Examples/CubeWars.meta
Due: none

Update docs/Python-API.md
  docs/Python-API.md
Due: none

cleanup
  docs/Getting-Started.md
  docs/Learning-Environment-Design-Agents.md
Due: none

clean up docs on actions, code examples, reference to hybrid (#4721)
  Project/Assets/ML-Agents/Examples/Reacher/Scripts/ReacherAgent.cs
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/ActionSpec.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  com.unity.ml-agents/Runtime/Communicator/UnityRLCapabilities.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  docs/Getting-Started.md
  docs/Learning-Environment-Create-New.md
  docs/Learning-Environment-Design-Agents.md
  docs/Python-API.md
  docs/Training-Configuration-File.md
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
