Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

remove MaxStep from Soccer agents (#5310)
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/StrikersVsGoalieField.prefab
Due: none

doc cleanup (#5309)
  docs/Learning-Environment-Design-Agents.md
Due: none

[MLA-1952] Add optional seed for gym action spaces (#5303) (#5315)
  com.unity.ml-agents/CHANGELOG.md
Due: none

[docs] Update changelog (#5308)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Migration guide - list removed APIs with replacements (#5307)
  com.unity.ml-agents/CHANGELOG.md
  docs/Migrating.md
Due: none

Release 17 version bumps and docs version bumps (#5280)
  README.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Migrating.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  ml-agents-envs/README.md
  ml-agents/README.md
  ml-agents/setup.py
Due: validate-init-py

[Release 17] Updating the release table on README.md (#5289)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Docs: Suggest cloning ml-agents with --depth 1
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
Due: none

make overlapChecker an interface
  com.unity.ml-agents/Runtime/Sensors/BoxOverlapChecker.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorBase.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents/Runtime/Sensors/IOverlapChecker.cs
  com.unity.ml-agents/Runtime/Sensors/IOverlapChecker.cs.meta
Due: none

Updating the barracuda 1.4.0 (#5291)
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentBasic.cs
  Project/Assets/ML-Agents/Examples/Pyramids/Prefabs/AreaPB.prefab
  Project/Assets/ML-Agents/Examples/Pyramids/Scripts/PyramidAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/Platform.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdoll.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-10M.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-10M.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-diverse-no-extrinsic.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-diverse-no-extrinsic.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-diverse-r02-bigger.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-diverse-r02-bigger.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-diverse-r05-bigger.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-diverse-r05-bigger.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-extrinsic-log-diverse.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-extrinsic-log-diverse.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-new-reward-1.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker-new-reward-1.onnx.meta
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
  config/ppo/Pyramids.yaml
  config/ppo/Walker.yaml
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/__init__.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/diverse_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/reward_provider_factory.py
Due: validate-versions, validate-init-py

fix tests
  com.unity.ml-agents/Tests/Runtime/Sensor/BoxOverlapCheckerTests.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/GridSensorTests.cs
Due: none

Update version to 'pre.1'
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  utils/validate_versions.py
Due: validate-init-py

Update test filter to exclude all MLAgents.Test namespaces.
  com.unity.ml-agents/Documentation~/filter.yml
Due: none

Update regex.
  com.unity.ml-agents/Documentation~/filter.yml
Due: none

fix doc filter.
  com.unity.ml-agents/Documentation~/filter.yml
Due: none

Update to pre2
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  utils/validate_versions.py
Due: validate-init-py

Update changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update test filter to exclude all Test namespaces. (#5327)
  com.unity.ml-agents/Documentation~/filter.yml
Due: none

Format.
  com.unity.ml-agents/Runtime/Academy.cs
Due: none

Update version to 'pre.2' (#5326)
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  utils/validate_versions.py
Due: validate-init-py

Test 2021.2.
  .yamato/com.unity.ml-agents-test.yml
Due: none

Fixed pre-commit issues with docstrings in mlagents-env base_env
  docs/Python-API-Documentation.md
  ml-agents-envs/mlagents_envs/base_env.py
Due: validate-init-py

test against 2021.2
  .yamato/test_versions.metafile
Due: none

Edit the gym-unity Readme to fix some issue in the sample code
  gym-unity/README.md
Due: none

Test 2021.2 (#5329)
  .yamato/com.unity.ml-agents-test.yml
  .yamato/test_versions.metafile
Due: none

First version of MEDE, crawler does not seem to work properly, I suspect the actions make it distinguishable to the discriminator but not to the human eye
  config/sac/Walker.yaml
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

add grid sensor to design agent doc
  docs/Learning-Environment-Design-Agents.md
  docs/images/grid_sensor.png
Due: none

typo
  docs/Learning-Environment-Design-Agents.md
Due: none

fix stacked grid sensor
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
Due: none

update tests
  com.unity.ml-agents/Tests/Runtime/Sensor/GridSensorTests.cs
Due: none

use list
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/GridSensorTests.cs
Due: none

Fix stacked grid sensor (#5335)
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/GridSensorTests.cs
Due: none

Fix stacked grid sensor (#5335) (#5336)
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/GridSensorTests.cs
Due: none

Adding some changes
  config/sac/Pyramids.yaml
  config/sac/Walker.yaml
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Better hyperparameters for Hallway-SAC
  config/sac/Hallway.yaml
Due: none
