Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Extend StatsWriter to allow handling of individual stat updates
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

Method does not need to be abstract - fix whitespace
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

[MLA-1909] Match3 and Camera/RenderTexture sensor GC improvements (#5233)
  DevProject/Packages/packages-lock.json
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3SensorComponent.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/Match3SensorTests.cs
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensorComponent.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/Sensors/RenderTextureSensor.cs
  com.unity.ml-agents/Runtime/Sensors/RenderTextureSensorComponent.cs
  com.unity.ml-agents/Runtime/Utilities.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/CameraSensorComponentTest.cs
Due: none

Address discussion feedback: rename add_stat to on_add_stat
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

avoid empty set iteration, avoid Debug.AssertFormat (#5246)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Actuators/ActuatorManager.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Sensors/SensorShapeValidator.cs
Due: none

Update com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
Due: none

fix PushBlockCollab (need retrain model)
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaGrid.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
Due: none

default implementation for GetGridSensors
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents.extensions/Tests/Editor/GridSensors/SimpleTestGridSensor.cs
Due: none

Update documentation and expand test coverage.
  docs/Training-Plugins.md
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

Include category information in on_add_stat
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

Fix whitespace
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

Update docstring to reflect new field
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

pin CI image version
  .yamato/com.unity.ml-agents-optional-dep-tests.yml
  .yamato/com.unity.ml-agents-pack.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/compressed-sensor-test.yml
  .yamato/coverage_tests.metafile
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/pytest-gpu.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/standalone-build-webgl-test.yml
  .yamato/training-int-tests.yml
Due: none

addressing comments
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

[Release 16] Update Python and release versions (#5234)
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

pin CI image version (#5250)
  .yamato/com.unity.ml-agents-optional-dep-tests.yml
  .yamato/com.unity.ml-agents-pack.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/compressed-sensor-test.yml
  .yamato/coverage_tests.metafile
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/pytest-gpu.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/standalone-build-webgl-test.yml
  .yamato/training-int-tests.yml
Due: none

Update main doc references
  com.unity.ml-agents/CHANGELOG.md
  docs/Migrating.md
  ml-agents/setup.py
Due: validate-init-py

make process collider method into enum
  com.unity.ml-agents.extensions/Runtime/Sensors/BoxOverlapChecker.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/CountingGridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorBase.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/OneHotGridSensor.cs
Due: none

Update changelog date
  com.unity.ml-agents/CHANGELOG.md
Due: none

update pushblock collab model
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollab.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollab.onnx.meta
Due: none

fix tests
  com.unity.ml-agents.extensions/Tests/Editor/GridSensors/SimpleTestGridSensor.cs
Due: none

update scene to use new model
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaGrid.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
Due: none

Extend StatsWriter to allow handling of individual stat updates (#5249)
  docs/Training-Plugins.md
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

Update readme and readme table
  README.md
  utils/make_readme_table.py
Due: validate-init-py

[release_16] Update readme and readme table (#5252)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Update to barracuda 1.3.3 and changes to the model inputs and outputs for LSTM (#5236)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/package.json
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

move OneHotGridSensor into main package
  com.unity.ml-agents/Tests/Runtime/Sensor/BoxOverlapCheckerTests.cs.meta
Due: none

move OneHotGridSensor into main package
  com.unity.ml-agents.extensions/Editor/GridSensorComponentEditor.cs.meta
  com.unity.ml-agents.extensions/Tests/Editor/GridSensors.meta
  com.unity.ml-agents.extensions/Tests/Editor/GridSensors/BoxOverlapCheckerTests.cs.meta
  com.unity.ml-agents.extensions/Tests/Runtime/Sensors/CountingGridSensorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Sensors/CountingGridSensorTests.cs.meta
  com.unity.ml-agents/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents/Editor/GridSensorComponentEditor.cs.meta
  com.unity.ml-agents/Runtime/Sensors/BoxOverlapChecker.cs
  com.unity.ml-agents/Runtime/Sensors/BoxOverlapChecker.cs.meta
  com.unity.ml-agents/Runtime/Sensors/GridSensorBase.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorBase.cs.meta
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs.meta
  com.unity.ml-agents/Runtime/Sensors/OneHotGridSensor.cs
  com.unity.ml-agents/Runtime/Sensors/OneHotGridSensor.cs.meta
  com.unity.ml-agents/Tests/Runtime/Sensor/BoxOverlapCheckerTests.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/GridSensorTestUtils.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/GridSensorTestUtils.cs.meta
  com.unity.ml-agents/Tests/Runtime/Sensor/GridSensorTests.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/GridSensorTests.cs.meta
  com.unity.ml-agents/Tests/Runtime/Sensor/SimpleTestGridSensor.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/SimpleTestGridSensor.cs.meta
Due: none

remove unused import
  com.unity.ml-agents/Runtime/Sensors/BoxOverlapChecker.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorBase.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
Due: none

use unitilies detroy texture
  com.unity.ml-agents/Runtime/Sensors/GridSensorBase.cs
Due: none

fix counting test
  com.unity.ml-agents.extensions/Runtime/Sensors/CountingGridSensor.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Sensors/CountingGridSensorTests.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorBase.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/SimpleTestGridSensor.cs
Due: none

more rename
  com.unity.ml-agents/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Sensors/OneHotGridSensor.cs
Due: none

update pushblock scene
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentGridCollab.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaGrid.prefab
Due: none

Making sorter inference use 20 tiles instead of 8 by default
  Project/Assets/ML-Agents/Examples/Sorter/Prefabs/Area.prefab
Due: none

LSTM models from 1.x will be incompatible with MLA 2.x
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
Due: none

[docs] Update main doc references (#5251)
  com.unity.ml-agents/CHANGELOG.md
  docs/Migrating.md
  ml-agents/setup.py
Due: validate-init-py

Revert logger
  ml-agents-envs/mlagents_envs/logging_util.py
Due: validate-init-py

Revert barracuda model param loader
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
Due: none

changelog and migration guide
  com.unity.ml-agents/CHANGELOG.md
  docs/Migrating.md
Due: none
