Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Add doc for deriving from grid sensor base (#5282)
  com.unity.ml-agents.extensions/Documentation~/CustomGridSensors.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
Due: none

POCA Attention will use h_size for embedding size and not 128 (#5281) (#5287)
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Run package tests with warn-as-error (#5290)
  .yamato/com.unity.ml-agents-coverage.yml
  .yamato/com.unity.ml-agents-test.yml
Due: none

collecting latest step as a stat (#5264)
  ml-agents/mlagents/plugins/stats_writer.py
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/tests/test_stats.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
Due: validate-init-py

Add doc for deriving from grid sensor base (#5282) (#5292)
  com.unity.ml-agents.extensions/Documentation~/CustomGridSensors.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
Due: none

Updating the barracuda 1.4.0 (#5291)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
Due: none

Fix tests
  ml-agents/mlagents/trainers/tests/test_settings.py
Due: validate-init-py

Fix tests again
  ml-agents/mlagents/trainers/tests/test_settings.py
Due: validate-init-py

Default trainer dict to requiring all fields
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Fix settings typing
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_settings.py
  ml-agents/mlagents/trainers/tests/test_trainer_util.py
Due: validate-init-py

Use logger
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Add default_settings to error
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Run package tests with warn-as-error (#5290) (#5293)
  .yamato/com.unity.ml-agents-coverage.yml
  .yamato/com.unity.ml-agents-test.yml
Due: none

Updating the barracuda 1.4.0 (#5291) (#5294)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
Due: none

GPU stable
  .yamato/pytest-gpu.yml
Due: none

[debug] Require all behavior names to have a matching YAML entry (#5210)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_settings.py
  ml-agents/mlagents/trainers/tests/test_trainer_util.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

Version bump main (#5279)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Release 17 version bumps and docs version bumps (#5280)
  README.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Migrating.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  ml-agents/setup.py
Due: validate-versions, validate-init-py

collecting latest step as a stat (#5264) (#5295)
  ml-agents/mlagents/plugins/stats_writer.py
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/tests/test_stats.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
Due: validate-init-py

WIP - check for presence of ModelOverrides
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelOverrider.cs
  Project/Assets/ML-Agents/Examples/Startup/Scripts/Startup.cs
  Project/Assets/ML-Agents/Examples/Startup/Startup.unity
Due: none

add ModelOverrider to VisualFoodCollector
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/VisualFoodCollectorArea.prefab
Due: none

use fast stepping when graphics disabled
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Agent.cs
Due: none

match3 - check ModelOverrider instead of graphics
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Agent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelOverrider.cs
Due: none

bring back root reference
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaGrid.prefab
  com.unity.ml-agents/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
Due: none

docstring
  com.unity.ml-agents/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
Due: none

comments
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelOverrider.cs
Due: none

center the sensor around game object not root
  com.unity.ml-agents/Runtime/Sensors/BoxOverlapChecker.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/BoxOverlapCheckerTests.cs
Due: none

fix tests
  com.unity.ml-agents/Tests/Runtime/Sensor/BoxOverlapCheckerTests.cs
Due: none

Add raycast pushblock collab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentRayCollab.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentRayCollab.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaRay.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaRay.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
Due: none

Increase hurry up penalty
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
Due: none

Fix inference CI timeouts in Match3 and VisualFoodCollector (#5298)
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/VisualFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Agent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelOverrider.cs
Due: none

Big negative reward
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
Due: none

Fix inference CI timeouts in Match3 and VisualFoodCollector (#5298) (#5302)
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/VisualFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Agent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelOverrider.cs
Due: none

add optional seed for action spaces
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/tests/test_gym.py
Due: validate-versions, validate-init-py

add optional seed for action spaces
  Project/Packages/packages-lock.json
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
