Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Updated docs.
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-Configuration-File.md
Due: none

Added tests.
  ml-agents/mlagents/trainers/tests/test_settings.py
Due: validate-init-py

Added tests.
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
  com.unity.ml-agents/Tests/Editor/Areas/TrainingAreaReplicatorTests.cs
Due: none

Updated grid sensor y scaling.
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
Due: none

Condition compile Recorder logic, which isn't supported on non-Editor builds
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelCarousel.cs
Due: none

Fixed issue with training area replicator during editor playback.
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
Due: none

Fixed issue with nightly gha.
  .github/workflows/nightly.yml
Due: none

update secret
  .yamato/sonar-python-package.yml
Due: none

update secret yamato format
  .yamato/sonar-python-package.yml
Due: none

Convenience Features (#5842)
  .github/workflows/nightly.yml
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelCarousel.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelCarousel.cs.meta
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents/Tests/Editor/Areas/TrainingAreaReplicatorTests.cs
  docs/Training-Configuration-File.md
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_settings.py
Due: validate-init-py

echos
  .yamato/sonar-python-package.yml
Due: none

remove echos
  .yamato/sonar-python-package.yml
Due: none

update secret (#5846)
  .yamato/sonar-python-package.yml
Due: none

Updated Base Bus Model
  Project/Assets/01_Scripts/Agent_Rewarder.cs
  Project/Assets/01_Scripts/Agent_Rewarder.cs.meta
  Project/Assets/01_Scripts/CarDriver.cs
  Project/Assets/01_Scripts/CarDriver.cs.meta
  Project/Assets/02_Prefabs.meta
  Project/Assets/02_Prefabs/Truck_ShortBus.prefab
  Project/Assets/02_Prefabs/Truck_ShortBus.prefab.meta
  Project/Assets/03_Scenes.meta
  Project/Assets/PolygonMini_City/Prefabs/Vehicles/SM_Veh_Pickup_MT.prefab
  Project/Assets/PolygonMini_City/Prefabs/Vehicles/SM_Veh_Pickup_MT.prefab.meta
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
Due: none

Bus Setup - Done
  Project/Assets/01_Scripts/0X_MLReworks.meta
  Project/Assets/01_Scripts/0X_MLReworks/AgentSoccerBus.cs
  Project/Assets/01_Scripts/0X_MLReworks/AgentSoccerBus.cs.meta
  Project/Assets/01_Scripts/0X_MLReworks/SoccerBusBallController.cs
  Project/Assets/01_Scripts/0X_MLReworks/SoccerBusBallController.cs.meta
  Project/Assets/01_Scripts/0X_MLReworks/SoccerBusEnvController.cs
  Project/Assets/01_Scripts/0X_MLReworks/SoccerBusEnvController.cs.meta
  Project/Assets/02_Prefabs/0X_MLReworks.meta
  Project/Assets/02_Prefabs/0X_MLReworks/BlueStriker.prefab
  Project/Assets/02_Prefabs/0X_MLReworks/BlueStriker.prefab.meta
  Project/Assets/02_Prefabs/0X_MLReworks/PurpleStriker.prefab
  Project/Assets/02_Prefabs/0X_MLReworks/PurpleStriker.prefab.meta
  Project/Assets/02_Prefabs/0X_MLReworks/SoccerBusFieldTwos.prefab
  Project/Assets/02_Prefabs/0X_MLReworks/SoccerBusFieldTwos.prefab.meta
  Project/Assets/02_Prefabs/0X_MLReworks/SoccerFieldTwos_Bus.prefab
  Project/Assets/02_Prefabs/0X_MLReworks/SoccerFieldTwos_Bus.prefab.meta
  Project/Assets/02_Prefabs/Truck_ShortBus.prefab
  Project/Assets/03_Scenes/0X_MLAgentsReworks.meta
  Project/Assets/03_Scenes/0X_MLAgentsReworks/SoccerTwos_Bus.unity
  Project/Assets/03_Scenes/0X_MLAgentsReworks/SoccerTwos_Bus.unity.meta
  Project/ProjectSettings/SceneTemplateSettings.json
  Project/mono_crash.a569772c8.0.json
Due: none

Addition of PushBlock_Bus
  Project/Assets/01_Scripts/0X_MLReworks/PushBus_Agent.cs
  Project/Assets/01_Scripts/0X_MLReworks/PushBus_Agent.cs.meta
  Project/Assets/01_Scripts/0X_MLReworks/PushBus_GoalDetect.cs
  Project/Assets/01_Scripts/0X_MLReworks/PushBus_GoalDetect.cs.meta
  Project/Assets/02_Prefabs/0X_MLReworks/SoccerBusFieldTwosDoubles.prefab
  Project/Assets/02_Prefabs/0X_MLReworks/SoccerBusFieldTwosDoubles.prefab.meta
  Project/Assets/03_Scenes/0X_MLAgentsReworks/PushBlock_Bus.unity
  Project/Assets/03_Scenes/0X_MLAgentsReworks/PushBlock_Bus.unity.meta
  Project/Assets/03_Scenes/0X_MLAgentsReworks/SoccerTwos_BusDoubles.unity
  Project/Assets/03_Scenes/0X_MLAgentsReworks/SoccerTwos_BusDoubles.unity.meta
Due: none

SisAus - Ramp Training Addition
  Project/Assets/01_Scripts/0X_MLReworks/PushBus_Agent.cs
  Project/Assets/03_Scenes/0X_MLAgentsReworks/PushBallRamp_Bus.unity
  Project/Assets/03_Scenes/0X_MLAgentsReworks/PushBallRamp_Bus.unity.meta
  Project/Assets/03_Scenes/0X_MLAgentsReworks/PushBall_Bus.unity
  Project/Assets/03_Scenes/0X_MLAgentsReworks/PushBall_Bus.unity.meta
  Project/Assets/03_Scenes/0X_MLAgentsReworks/PushBlock_Bus.unity
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerBall/Materials/White-Ball-Material.mat
Due: none

Fix to prevent SetModel from being called before it is ready to be used.
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelCarousel.cs
Due: none

Update PushBallRamp_Bus.unity
  Project/Assets/03_Scenes/0X_MLAgentsReworks/PushBallRamp_Bus.unity
Due: none

Change hard-coded 200f to m_PushBlockSettings.agentRotationSpeed; address https://github.com/Unity-Technologies/ml-agents/issues/5850
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scenes/DungeonEscape.unity
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scripts/PushAgentEscape.cs
Due: none

Added basic ASE trainer skeleton.
  config/ase/A1.yml
  ml-agents/mlagents/plugins/trainer_type.py
  ml-agents/mlagents/trainers/ase/__init__.py
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
  ml-agents/mlagents/trainers/policy/ase_policy.py
  ml-agents/mlagents/trainers/results/ppo/configuration.yaml
  ml-agents/mlagents/trainers/results/ppo/run_logs/timers.json
  ml-agents/mlagents/trainers/results/ppo/run_logs/training_status.json
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-versions, validate-init-py

Add Korean Translation Files
  localized_docs/KR/docs/Getting-Started.md
  localized_docs/KR/docs/Learning-Environment-Design.md
  localized_docs/KR/docs/Learning-Environment-Executable.md
Due: none

Basic ASE trainer, policy, and optimizer in place.
  com.unity.ml-agents/Editor/BrainParametersDrawer.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Policies/BrainParameters.cs
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/policy/ase_policy.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-init-py

fixed import issue.
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
Due: validate-init-py

Added latent sampling to policy.
  config/ase/A1.yml
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
  ml-agents/mlagents/trainers/policy/ase_policy.py
  ml-agents/mlagents/trainers/results/ppo/configuration.yaml
  ml-agents/mlagents/trainers/results/ppo/run_logs/timers.json
  ml-agents/mlagents/trainers/results/ppo/run_logs/training_status.json
Due: validate-init-py

Add Hugging Face Integration
  ml-agents/mlagents/utils/load_from_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
  ml-agents/setup.py
Due: validate-init-py

Update setup.py
  ml-agents/setup.py
Due: validate-init-py

Update push_to_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Moved latent sampling to unity in LatentRequestor. Added ASE reward provider.
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Inference/Utils/RandomNormal.cs
  com.unity.ml-agents/Runtime/LatentRequestor.cs
  com.unity.ml-agents/Runtime/LatentRequestor.cs.meta
  config/ase/A1.yml
  ml-agents/mlagents/plugins/trainer_type.py
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
  ml-agents/mlagents/trainers/env_manager.py
  ml-agents/mlagents/trainers/policy/ase_policy.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/reward_provider_factory.py
Due: validate-init-py

Refactored to use PPO trainer as base and add ASE reward provider.
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/policy/ase_policy.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-init-py

Update Installation.md
  docs/Installation.md
Due: none

Remove misleading comment in docs
  docs/Training-ML-Agents.md
Due: none

Finished initial implementation of ASE low-level training.
  config/ase/A1.yml
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
Due: validate-init-py

ppo multiprocess, shared queues
  ml-agents/mlagents/torch_utils/__init__.py
  ml-agents/mlagents/torch_utils/torch.py
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/trainer/on_policy_trainer.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
  ml-agents/mlagents/trainers/trainer/trainer.py
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
