Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

move log prob correction to optimizer
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/agent_action.py
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

pettingzoo api prototype
  ml-agents-envs/mlagents_envs/multiagent_gym.py
Due: validate-init-py

update file names
  colab/Colab_LLAPI.ipynb
  ml-agents-envs/mlagents_envs/pettingzoo_wrapper.py
Due: validate-init-py

add install in colab
  colab/Colab_LLAPI.ipynb
Due: none

add example
  colab/Colab_LLAPI.ipynb
Due: none

support multiple behavior names
  ml-agents-envs/mlagents_envs/pettingzoo_wrapper.py
Due: validate-init-py

fix multi behavior action index
  ml-agents-envs/mlagents_envs/pettingzoo_wrapper.py
Due: validate-init-py

fix __init__
  pettingzoo-unity/pettingzoo_unity/__init__.py
Due: validate-versions, validate-init-py

add setup
  pettingzoo-unity/pettingzoo_unity/__init__.py
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
  pettingzoo-unity/setup.py
Due: validate-versions, validate-init-py

import in init
  pettingzoo-unity/pettingzoo_unity/__init__.py
Due: validate-versions, validate-init-py

update colab
  colab/Colab_LLAPI.ipynb
Due: none

clone single branch
  colab/Colab_LLAPI.ipynb
Due: none

import tags only
  pettingzoo-unity/setup.py
Due: validate-init-py

catch import error
  pettingzoo-unity/pettingzoo_unity/__init__.py
Due: validate-versions, validate-init-py

update action masks in colab
  pettingzoo-unity/Colab_PettingZoo.ipynb
Due: none

handle agent dying
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
Due: validate-init-py

fix action mask
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
Due: validate-init-py

move colab and add readme
  pettingzoo-unity/Colab_PettingZoo.ipynb
  pettingzoo-unity/README.md
Due: none

add tests
  pettingzoo-unity/pettingzoo_unity/tests/simple_test_envs.py
  pettingzoo-unity/pettingzoo_unity/tests/test_pettingzoo_wrapper.py
Due: validate-init-py

add info
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
  pettingzoo-unity/pettingzoo_unity/tests/simple_test_envs.py
Due: validate-init-py

update doc
  pettingzoo-unity/README.md
Due: none

add action mask
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
Due: validate-init-py

add note on auto reset
  pettingzoo-unity/README.md
Due: none

change default env
  pettingzoo-unity/Colab_PettingZoo.ipynb
Due: none

fix hybrid action
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
  pettingzoo-unity/pettingzoo_unity/tests/simple_test_envs.py
Due: validate-init-py

set version
  pettingzoo-unity/setup.py
Due: validate-init-py

Updated colab name.
  pettingzoo-unity/Colab_PettingZoo.ipynb
Due: none

fix colab for hybrid actions
  pettingzoo-unity/Colab_PettingZoo.ipynb
Due: none

Update README.md
  pettingzoo-unity/README.md
Due: none

Following petting_zoo registry API (#5557)
  .github/workflows/pytest.yml
  gym-unity/gym_unity/envs/__init__.py
  pettingzoo-unity/Colab_PettingZoo.ipynb
  pettingzoo-unity/pettingzoo_unity/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
  pettingzoo-unity/pettingzoo_unity/tests/__init__.py
Due: validate-versions, validate-init-py

Updated gym to 0.21.0 and petting zoo to 1.13.1, fixed bugs with AEC wrapper for gym and PZ updates. API tests are passing.
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
  pettingzoo-unity/setup.py
Due: validate-init-py

Two small bugfixes (#5589)
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
Due: validate-init-py

Cleanup.
  pettingzoo-unity/pettingzoo_unity/envs/env_helpers.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_aec_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_base_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
Due: validate-init-py

Pinning numpy version.
  pettingzoo-unity/setup.py
Due: validate-init-py

add metadata and behavior_specs initialization
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_aec_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_pettingzoo_base_env.py
Due: validate-versions, validate-init-py

Bumped PZ version to 1.14.0. Fixed failing tests.
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
  pettingzoo-unity/pettingzoo_unity/tests/simple_test_envs.py
  pettingzoo-unity/pettingzoo_unity/tests/test_pettingzoo_wrapper.py
  pettingzoo-unity/setup.py
Due: validate-init-py

Refactoring.
  pettingzoo-unity/pettingzoo_unity/envs/unity_aec_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_base_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
Due: validate-init-py
