Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

add table in readme (#5816)
  com.unity.ml-agents.extensions/CHANGELOG.md
  docs/Readme.md
  utils/make_readme_table.py
Due: validate-init-py

nit updates
  docs/Readme.md
Due: none

nit updates (#5823)
  docs/Readme.md
Due: none

prepare main for dev
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

update python to v0.31.0-dev0
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Add GitHub Actions configuration to Dependabot
  .github/dependabot.yml
Due: none

add unreleased section
  com.unity.ml-agents.extensions/CHANGELOG.md
Due: none

Dev rel20 post (#5827)
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  colab/Colab_UnityEnvironment_4_SB3VectorEnv.ipynb
  com.unity.ml-agents.extensions/CHANGELOG.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/ML-Agents-Toolkit-Documentation.md
  docs/Migrating.md
  docs/Readme.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  ml-agents/setup.py
  utils/make_readme_table.py
Due: validate-versions, validate-init-py

bump release name readme
  docs/Readme.md
Due: none

remove duplicate numpy
  ml-agents-envs/setup.py
Due: validate-init-py

Update setup.py
  ml-agents-envs/setup.py
Due: validate-init-py

Deployed 2012f32fd with MkDocs version: 1.4.2
  Limitations/index.html
  sitemap.xml.gz
Due: none

Deployed 281923765 with MkDocs version: 1.4.2
  Limitations/index.html
  sitemap.xml.gz
Due: none

bump release name readme (#5833)
  docs/Readme.md
Due: none

bump release name readme (#5832)
  docs/Readme.md
Due: none

Deployed c36cc400f with MkDocs version: 1.4.2
  Readme/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Deployed 5ff591325 with MkDocs version: 1.4.2
  Readme/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Changed to material mkdocs theme. Minor doc updates.
  docs/Installation.md
  docs/Learning-Environment-Examples.md
  docs/Limitations.md
  docs/Readme.md
  docs/com.unity.ml-agents.extensions.md
  docs/extra.css
  docs/images/unity-logo-black.png
  docs/images/unity-logo.png
  docs/ml-agents-envs.md
  docs/ml-agents.md
  mkdocs.yml
Due: none

Updated colors and home banner.
  docs/index.md
  mkdocs.yml
Due: none

Changed to material mkdocs theme. Minor doc updates. (#5835)
  docs/Installation.md
  docs/Learning-Environment-Examples.md
  docs/Limitations.md
  docs/Readme.md
  docs/com.unity.ml-agents.extensions.md
  docs/extra.css
  docs/images/unity-logo-black.png
  docs/images/unity-logo.png
  docs/index.md
  docs/ml-agents-envs.md
  docs/ml-agents.md
  mkdocs.yml
Due: none

update migrating.md
  docs/Migrating.md
Due: none

Fixed gha for move back to public repo.
  .github/workflows/colab.yml
  .github/workflows/lock.yml
  .github/workflows/nightly.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish_docs.yaml
  .github/workflows/publish_pypi.yaml
  .github/workflows/publish_pypi_python_api.yaml
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/JointDriveController.cs
  ml-agents-envs/mlagents_envs/registry/binary_utils.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_reward_providers/test_extrinsic.py
Due: validate-init-py

Fixed gha for move back to public repo. (#5838)
  .github/workflows/colab.yml
  .github/workflows/lock.yml
  .github/workflows/nightly.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish_docs.yaml
  .github/workflows/publish_pypi.yaml
  .github/workflows/publish_pypi_python_api.yaml
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/JointDriveController.cs
  ml-agents-envs/mlagents_envs/registry/binary_utils.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_reward_providers/test_extrinsic.py
Due: validate-init-py

Nit to core package, update package manifest, update build provider to address this bug: https://unity.slack.com/archives/C8FECS6L9/p1669646048318809
  .yamato/com.unity.ml-agents-test.yml
  DevProject/Packages/packages-lock.json
  DevProject/ProjectSettings/EditorBuildSettings.asset
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/JointDriveController.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/TargetController.cs
  Project/Packages/packages-lock.json
  com.unity.ml-agents/Editor/MLAgentsSettingsBuildProvider.cs
Due: none

Nit to core package, update package manifest, update build provider to address this bug: https://unity.slack.com/archives/C8FECS6L9/p1669646048318809 (#5841)
  .yamato/com.unity.ml-agents-test.yml
  DevProject/Packages/packages-lock.json
  DevProject/ProjectSettings/EditorBuildSettings.asset
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/JointDriveController.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/TargetController.cs
  Project/Packages/packages-lock.json
  com.unity.ml-agents/Editor/MLAgentsSettingsBuildProvider.cs
Due: none

Added feature to training area replicator to optionally specify replications in builds only.
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
Due: none

Fixed python version pinning issue on colab.yml gha.
  .github/workflows/colab.yml
Due: none

Add ModelCarousel component that cycles through a list of models to show training progress.
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelCarousel.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelCarousel.cs.meta
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
Due: none

Fixed python version pinning issue on colab.yml gha. (#5843)
  .github/workflows/colab.yml
Due: none

Add usage notes and fix default values
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelCarousel.cs
Due: none

Added new config feature to distribute checkpointing evenly throughout training.
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Dotnet formatting.
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/ModelCarousel.cs
Due: none
