Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

updated joints start work on new rew funct
  Project/Assets/ML-Agents/Examples/Walker/Scenes/Walker.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
Due: none

adding 3DBall to the gym registry
  gym-unity/gym_unity/__init__.py
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/setup.py
Due: validate-versions, validate-init-py

Adding all registry environments
  gym-unity/gym_unity/envs/__init__.py
Due: validate-versions, validate-init-py

add a try-catch
  gym-unity/gym_unity/envs/__init__.py
Due: validate-versions, validate-init-py

Pinning windows image version to package-ci/win10:v1.17.1 because someone removed python3 from the package-ci/win10:stable image
  .yamato/com.unity.ml-agents-test.yml
Due: none

replacing python3 with python
  .yamato/com.unity.ml-agents-test.yml
Due: none

Basic diverse balanced sampling
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverse.cs
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverseRotate.cs
Due: none

Adaptive mede option
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Only render sometimes
  ml-agents-envs/mlagents_envs/particles_env.py
Due: validate-init-py

Fix rendering
  ml-agents-envs/mlagents_envs/particles_env.py
Due: validate-init-py

replacing python3 with python (#5463)
  .yamato/com.unity.ml-agents-test.yml
Due: none

Mede adaptive lr
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Adjust rewards
  ml-agents-envs/mlagents_envs/particles_env.py
Due: validate-init-py

Fix done sequencing
  ml-agents-envs/mlagents_envs/particles_env.py
Due: validate-init-py

Add worker id for rendering
  ml-agents-envs/mlagents_envs/particles_env.py
  ml-agents/mlagents/trainers/learn.py
Due: validate-init-py

Bug fix. Made sure Q-LEarning worked
  gym-unity/gym_unity/envs/ma_gym.py
Due: validate-init-py

Add multiagent to setup.py
  ml-agents-envs/setup.py
Due: validate-init-py

Older version of gym
  ml-agents-envs/setup.py
Due: validate-init-py

fix cli option for torch_num_threads
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

fix cli option for torch_num_threads
  ml-agents/mlagents/torch_utils/torch.py
Due: validate-init-py

cont mede python side
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Clamp cont mede mean
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Clamp cont mede mean 2
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Diversity Sampler Sensor
  Project/Assets/ML-Agents/Examples/BasicDiverse/Prefabs/Platform.prefab
  Project/Assets/ML-Agents/Examples/BasicDiverse/Prefabs/PlatformRotate.prefab
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scenes/BasicDiverse.unity
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverse.cs
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverseRotate.cs
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverse.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDiverse.unity
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverse.cs
  Project/Assets/ML-Agents/Examples/LaserMaze/Prefabs/Maze.prefab
  Project/Assets/ML-Agents/Examples/LaserMaze/Scenes/LaserMazeDiverse.unity
  Project/Assets/ML-Agents/Examples/LaserMaze/Scripts/LaserAgentDiverse.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/DisplayVariable.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/DiversitySampler.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/DiversitySampler.cs.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/DiversitySamplerComponent.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/DiversitySamplerComponent.cs.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdollDiverse.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerDiverse.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgentDiverse.cs
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/PlatformWormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Prefabs/WormDiverse.prefab
  Project/Assets/ML-Agents/Examples/Worm/Scenes/WormDiverse.unity
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgentDiverse.cs
Due: none

a new argument on cli to resume from custom checkpoints
  ml-agents/mlagents/trainers/cli_utils.py
Due: validate-init-py

Learn continuous mede variance
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Diverse Sampler Eval fix
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/DiversitySampler.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/DiversitySamplerComponent.cs
Due: none

passing checkpoint name in trainer settings
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

Mede stats logging
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Revert back to 3 agentss
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
Due: validate-init-py

add doc for training on headless server
  docs/Learning-Environment-Executable.md
Due: none

add doc string about headless when time out
  ml-agents-envs/mlagents_envs/rpc_communicator.py
Due: validate-init-py

fix device option
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

fix food collector sac config behavior name
  config/sac/FoodCollector.yaml
Due: none

fix dead link
  docs/Learning-Environment-Executable.md
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
