Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Fixed a bug in the ASE trainer.
  config/ase/A1Skill.yml
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
Due: validate-init-py

Update Learning-Environment-Examples.md
  docs/Learning-Environment-Examples.md
Due: none

Added diversity bonus to ASE.
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
Due: validate-init-py

Update to release_20 in installation instructions
  docs/Installation.md
Due: none

Fix broken example env image link
  docs/Learning-Environment-Examples.md
Due: none

DPPO with synchronized update, only one trainer
  ml-agents/mlagents/torch_utils/cpu_utils.py
  ml-agents/mlagents/torch_utils/torch.py
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_torch_utils.py
  ml-agents/mlagents/trainers/trainer/on_policy_trainer.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
  ml-agents/mlagents/trainers/trainer/trainer.py
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

Fixed a bunch of bugs.
  com.unity.ml-agents/Runtime/LatentRequestor.cs
  config/ase/A1Skill.yml
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
Due: validate-init-py

Revert Max Steps on first agent of visual 3d ball back to 5000. It was inadvertently changed to 500.
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/Visual3DBall.unity
Due: none

Fix bug in visual3dball example. (#5867)
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/Visual3DBall.unity
Due: none

Added support for ase discriminator mini batch size different than policy update batch size.
  config/ase/A1Skill.yml
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
Due: validate-init-py

Fixed an issue with the rigid body pose extractor to ignore the root configurable joint if present.
  com.unity.ml-agents.extensions/Runtime/Sensors/RigidBodyPoseExtractor.cs
Due: none

Update push_to_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Add final trained model
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/GridMatFloor.mat
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/Platform.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdoll.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdoll.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdollLarge.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerRagdollLarge.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/Walker.unity
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker.nn
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker.onnx.meta
  Project/Assets/WalkerRagdoll.fbx
  Project/Assets/WalkerRagdoll.fbx.meta
  Project/Assets/WalkerRagdoll.prefab
  Project/Assets/WalkerRagdoll.prefab.meta
Due: none

decrease sun brightness, remove unused walker prefab
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/Directional_Light.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/Walker.unity
  Project/Assets/ML-Agents/Examples/Walker/WalkerRagdoll.prefab
Due: none

loosen joints, add chest and feet rays
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/Platform.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/Walker.unity
  Project/Assets/ML-Agents/Examples/Walker/TFModels/New Folder.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/New Folder/Walker-10499848.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/New Folder/Walker-10499848.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker.nn.meta
  Project/ProjectSettings/DynamicsManager.asset
  Project/ProjectSettings/TagManager.asset
  config/ppo/Walker.yaml
Due: none

weak walker working really well. great cp
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/Platform.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/Walker.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/Walker-10499848.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/Walker-10499848.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak/Walker-13499953.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak/Walker-13499953.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak/Walker-14999249.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak/Walker-14999249.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak/Walker-17499023.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak/Walker-17499023.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak/Walker-19999746.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak/Walker-19999746.onnx.meta
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensorComponentBase.cs
  config/ppo/Walker.yaml
Due: none

trained. looks like rowing
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/GroundContact.cs
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/Platform.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/Walker.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak/no reset.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak/no reset/Walker.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/rays/weak/no reset/Walker.onnx.meta
  config/ppo/Walker.yaml
Due: none

Added basic ASE trainer skeleton.
  config/ase/A1.yml
  ml-agents/mlagents/plugins/trainer_type.py
  ml-agents/mlagents/trainers/ase/__init__.py
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
  ml-agents/mlagents/trainers/policy/ase_policy.py
  ml-agents/mlagents/trainers/results/ppo/configuration.yaml
  ml-agents/mlagents/trainers/results/ppo/run_logs/timers.json
  ml-agents/mlagents/trainers/results/ppo/run_logs/training_status.json
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-versions, validate-init-py

Added latent sampling to policy.
  config/ase/A1.yml
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
  ml-agents/mlagents/trainers/policy/ase_policy.py
  ml-agents/mlagents/trainers/results/ppo/configuration.yaml
  ml-agents/mlagents/trainers/results/ppo/run_logs/timers.json
  ml-agents/mlagents/trainers/results/ppo/run_logs/training_status.json
Due: validate-init-py

Finished initial implementation of ASE low-level training.
  config/ase/A1.yml
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
Due: validate-init-py

Refactored to use PPO trainer as base and add ASE reward provider.
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/policy/ase_policy.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-init-py

fixed import issue.
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
Due: validate-init-py

Moved latent sampling to unity in LatentRequestor. Added ASE reward provider.
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Inference/Utils/RandomNormal.cs
  com.unity.ml-agents/Runtime/LatentRequestor.cs
  com.unity.ml-agents/Runtime/LatentRequestor.cs.meta
  config/ase/A1.yml
  ml-agents/mlagents/plugins/trainer_type.py
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
  ml-agents/mlagents/trainers/env_manager.py
  ml-agents/mlagents/trainers/policy/ase_policy.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/reward_provider_factory.py
Due: validate-init-py

Basic ASE trainer, policy, and optimizer in place.
  com.unity.ml-agents/Editor/BrainParametersDrawer.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Policies/BrainParameters.cs
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/ase/trainer.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/policy/ase_policy.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-init-py

Added walker demo fbx.
  Project/Assets/ML-Agents/Examples/Walker/FBX.meta
  Project/Assets/ML-Agents/Examples/Walker/FBX/Walker.fbx
  Project/Assets/ML-Agents/Examples/Walker/FBX/Walker.fbx.meta
  Project/Assets/ML-Agents/Examples/Walker/FBX/WalkerRagdoll.fbx
  Project/Assets/ML-Agents/Examples/Walker/FBX/WalkerRagdoll.fbx.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/Walker.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/Walker.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker.nn.meta
  Project/Assets/ML-Agents/Examples/Walker/WalkerRagdoll.prefab.meta
Due: none

Added PM walker.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  Project/ProjectSettings/DynamicsManager.asset
Due: none

Added PM walker and training walker for recording and training.
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunNorth.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunNorth.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkCircle.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkCircle.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkEast.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkEast.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorth.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorth.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorthE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorthE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorthW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorthW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouth.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouth.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouthE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouthE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouthW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouthW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkWest.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkWest.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/WalkerASETrainingArea.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/WalkerASETrainingArea.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerASEAgent.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerASEAgent.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs.meta
  Project/ProjectSettings/TagManager.asset
Due: none

Made replicator create environments symmetrically around origin. Allow separation and dimensions to be specified per axis. Make created environments children of the Replicator's gameobject
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
Due: none

Added scenes for 3DBall and Walker with replicator
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/3DBallReplicator.unity
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/3DBallReplicator.unity.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerReplicator.unity
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerReplicator.unity.meta
Due: none

Add config drive controller. Single agent for both recording and training.
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunNorth.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunNorth.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkCircle.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkCircle.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkEast.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkEast.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorth.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorth.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorthE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorthE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorthW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkNorthW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouth.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouth.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouthE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouthE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouthW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkSouthW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkWest.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkWest.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/FBX/Walker.fbx.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/WalkerASETrainingArea.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerASEAgent.prefab
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Ragdoll/WalkerASEAgent.prefab.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs.meta
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
Due: none

Fixed issue with joint orientations in ase walker.
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/WalkerASETrainingArea.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
Due: none

Added latents into walker agent.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
Due: none
