Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

pass sensor name through to ObservationSpec (#5036)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Observation.cs
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/communicator_objects/observation_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/observation_pb2.pyi
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
  ml-agents/tests/yamato/scripts/run_llapi.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/observation.proto
Due: validate-init-py

remove ISparseChannelSensor
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  com.unity.ml-agents/Runtime/Sensors/ISensor.cs
  com.unity.ml-agents/Runtime/Sensors/ISparseChannelSensor.cs
  com.unity.ml-agents/Runtime/Sensors/ISparseChannelSensor.cs.meta
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
  com.unity.ml-agents/Runtime/Sensors/Reflection/ReflectionSensorBase.cs
  com.unity.ml-agents/Runtime/Sensors/RenderTextureSensor.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensor.cs
  com.unity.ml-agents/Runtime/SideChannels/OutgoingMessage.cs
  com.unity.ml-agents/Tests/Editor/Communicator/GrpcExtensionsTests.cs
  com.unity.ml-agents/Tests/Editor/MLAgentsEditModeTest.cs
  com.unity.ml-agents/Tests/Editor/ParameterLoaderTest.cs
  com.unity.ml-agents/Tests/Editor/Sensor/FloatVisualSensorTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/SensorShapeValidatorTests.cs
  com.unity.ml-agents/Tests/Editor/Sensor/StackingSensorTests.cs
  docs/Migrating.md
Due: none

stragglers
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/SensorBase.cs
  Project/Assets/ML-Agents/TestScenes/TestCompressedTexture/TestTextureSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/PhysicsBodySensor.cs
Due: none

remove WriteMask
  com.unity.ml-agents/Runtime/Actuators/ActuatorDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Tests/Editor/Actuators/ActuatorDiscreteActionMaskTests.cs
  com.unity.ml-agents/Tests/Editor/Actuators/TestActuator.cs
  com.unity.ml-agents/Tests/Editor/Actuators/VectorActuatorTests.cs
Due: none

migration and docs
  com.unity.ml-agents/Tests/Editor/Actuators/ActuatorDiscreteActionMaskTests.cs
  docs/Learning-Environment-Design-Agents.md
  docs/Migrating.md
Due: none

[bug-fix] Fix save/restore critic, add test (#5062)
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
Due: validate-init-py

Remove unused allocation (#5068)
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
Due: none

Change comments on COMA2 trainer
  ml-agents/mlagents/trainers/coma/trainer.py
Due: validate-init-py

Properly restore and test COMA2 optimizer
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
Due: validate-init-py

Add LSTM simple_rl for COMA
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
Due: validate-init-py

update zombie and collab scene
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentGridCollab.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentGridCollab.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentGridZombie.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentGridZombie.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentWithGrid.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentWithGrid.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaGrid.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/ZombiePushBlockWithLocksPlatform.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/ZombiePushBlockWithLocksPlatform.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/ZombiePushBlock.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentZombie.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentZombie.cs.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ZombiePushBlockDeathEnvController.cs
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollabGridComa2.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollabGridComa2.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockGroupPenalty.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockGroupPenalty.onnx.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/Key.prefab
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/Key.prefab.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/Lock.prefab
  Project/Assets/ML-Agents/Examples/SharedAssets/Prefabs/Lock.prefab.meta
  Project/ProjectSettings/TagManager.asset
Due: none

remove escape room stuff
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/EscapeRoom.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/EscapeRoom.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/EscapeRoom.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/EscapeRoom.unity.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/EscapeRoomAgentCollab.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/EscapeRoomAgentCollab.cs.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/EscapeRoomGameController.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/EscapeRoomGameController.cs.meta
Due: none

more cleanup
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/EscapeRoom.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/EscapeRoom.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollab.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollab.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollabGridBeta01.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollabGridBeta01.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockGroupPenalty.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockGroupPenalty.onnx.meta
Due: none

multiinput netbody tests
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
Due: validate-init-py

cleanup some mypy types
  ml-agents/mlagents/trainers/coma/trainer.py
Due: validate-init-py

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

tmp commit
  com.unity.ml-agents/Editor/MLAgentsSettingsProvider.cs
  com.unity.ml-agents/Runtime/MLAgentManager.cs
  com.unity.ml-agents/Runtime/MLAgentManager.cs.meta
Due: none

cleanup some mypy types (#5072)
  ml-agents/mlagents/trainers/coma/trainer.py
Due: validate-init-py

non-IEnumerable interface for action masking (#5060)
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgent.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Actuator.cs
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Actuators/ActuatorDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Tests/Editor/Actuators/ActuatorDiscreteActionMaskTests.cs
  com.unity.ml-agents/Tests/Editor/Actuators/TestActuator.cs
  com.unity.ml-agents/Tests/Editor/Actuators/VectorActuatorTests.cs
  docs/Learning-Environment-Design-Agents.md
  docs/Migrating.md
Due: none

rewrite pip install lines
  utils/validate_release_links.py
Due: validate-init-py

adding comments to multiagent rl
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
Due: validate-init-py

fix replacement
  utils/validate_release_links.py
Due: validate-init-py

restore init
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

update to last release
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Microsoft-Azure.md
  ml-agents-envs/README.md
  ml-agents/README.md
Due: none

upgrade pytorch version
  ml-agents/setup.py
Due: validate-init-py

fix tests
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
Due: validate-init-py

coma -> poca
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/coma/trainer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
  ml-agents/mlagents/trainers/tests/torch/test_coma.py
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

Rename folders and files
  ml-agents/mlagents/trainers/poca/__init__.py
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
  ml-agents/mlagents/trainers/tests/torch/test_poca.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-versions, validate-init-py

Fix two more coma references
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/tests/torch/test_poca.py
Due: validate-init-py

add tests with different versions of python/torch
  .github/workflows/pytest.yml
  test_constraints_max_version.txt
  test_constraints_mid_version.txt
  test_constraints_min_version.txt
Due: none

Update docs
  com.unity.ml-agents/CHANGELOG.md
  docs/Learning-Environment-Design-Agents.md
  docs/ML-Agents-Overview.md
  docs/Training-Configuration-File.md
Due: none

Address comments
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
Due: validate-init-py

Make modelCheck have flavors of error messages
  com.unity.ml-agents/Editor/BehaviorParametersEditor.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
Due: none

Multiagent simplerl (#5066)
  ml-agents/mlagents/trainers/tests/check_env_trains.py
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
Due: validate-init-py

add docstrings to network body
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Update tests
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
Due: validate-init-py

rename to MultiAgentNetwork, docstring
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

fix references to ppo
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/poca/trainer.py
Due: validate-init-py

fix output string
  utils/validate_release_links.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
