Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

use all zeros for empty in one hot
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/FoodCollectorArea.prefab
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
Due: none

remove root reference from UI
  com.unity.ml-agents.extensions/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents.extensions/Tests/Utils/GridObsTestComponents/SimpleTestGridSensor.cs
Due: none

update model
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/FoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.onnx.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx.meta
Due: none

locomotion scenes: don't add dynamic target to the agent's hierarchy (#5226)
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/Crawler.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgent.cs
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/Crawler.nn
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/Crawler.nn.meta
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/Crawler.onnx
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/Crawler.onnx.meta
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgent.cs
Due: none

fix cell pos for grid with even number size
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
Due: none

fix tests
  com.unity.ml-agents.extensions/Tests/Editor/Sensors/ChannelHotPerceiveTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Sensors/GridObservationPerceiveTests.cs
Due: none

update model
  Project/Assets/ML-Agents/Examples/GridFoodCollector.onnx
  Project/Assets/ML-Agents/Examples/GridFoodCollector.onnx.meta
Due: none

Add some comments
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Add more verbose messages when using --initialize-from and resume
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
Due: validate-init-py

Fix typo
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

Add periods
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
Due: validate-init-py

special case RGB24 to avoid copying pixels
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
Due: none

Initial commit
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/package.json
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

[bug-fix] Use correct memories for LSTM SAC (#5228)
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

making it work with hallway. Added a new model version
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Update Python and release versions
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

[🐛 🔨 ]Adding the ELO to the GlobalTrainingStatus (#5202)
  ml-agents/mlagents/trainers/ghost/trainer.py
  ml-agents/mlagents/trainers/training_status.py
Due: validate-init-py

[🐛 🔨 ] set_action_for_agent expects a ActionTuple with batch size 1. (#5208)
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/tests/test_set_action.py
Due: validate-init-py

Tick C# versions
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

[bug-fix] When agent isn't training, don't clear update buffer (#5205)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/poca/trainer.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
Due: validate-init-py

[bug fix] Fix warning using demo recorder (#5216)
  com.unity.ml-agents/Runtime/Agent.cs
Due: none

[Bug Fix] Issue 5204 : GymToUnityWrapper must call reset if done (#5207)
  gym-unity/gym_unity/envs/__init__.py
Due: validate-versions, validate-init-py

remove unused distance
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Tests/Utils/GridObsTestComponents/SimpleTestGridSensor.cs
Due: none

Fixing the GymWrapper Logging issue (#5201)
  ml-agents-envs/mlagents_envs/logging_util.py
Due: validate-init-py

remove unused property
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
Due: none

Fix path to PushBlock demo (#5198)
  config/imitation/PushBlock.yaml
Due: none

[bug-fix] Fix POCA LSTM, pad sequences in the back (#5206)
  com.unity.ml-agents/CHANGELOG.md
  config/ppo/Hallway.yaml
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/test_buffer.py
  ml-agents/mlagents/trainers/tests/torch/test_poca.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
Due: validate-init-py

Load individual elements if state dict load fails (#5213)
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-ML-Agents.md
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver_reward_providers.py
Due: validate-init-py

Update changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fix grammar
  com.unity.ml-agents/CHANGELOG.md
Due: none

Grid sensor bug fixes (#5230)
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/FoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.onnx.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx.meta
  Project/Assets/ML-Agents/Examples/GridFoodCollector.onnx
  Project/Assets/ML-Agents/Examples/GridFoodCollector.onnx.meta
  com.unity.ml-agents.extensions/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents.extensions/Tests/Editor/Sensors/ChannelHotPerceiveTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Sensors/GridObservationPerceiveTests.cs
  com.unity.ml-agents.extensions/Tests/Utils/GridObsTestComponents/SimpleTestGridSensor.cs
Due: none

separate boxoverlap out of gridsensor
  com.unity.ml-agents.extensions/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/BoxOverlapChecker.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/BoxOverlapChecker.cs.meta
  com.unity.ml-agents.extensions/Runtime/Sensors/CountingGridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/CountingGridSensor.cs.meta
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/OneHotGridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/OneHotGridSensor.cs.meta
Due: none

comments
  com.unity.ml-agents.extensions/Runtime/Sensors/BoxOverlapChecker.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

comments
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
Due: none

rename GridSensor -> GridSensorBase
  com.unity.ml-agents.extensions/Runtime/Sensors/CountingGridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs.meta
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorBase.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorBase.cs.meta
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/OneHotGridSensor.cs
Due: none

Minor edits to documentation
  docs/Background-Machine-Learning.md
  docs/ML-Agents-Overview.md
  docs/Using-Tensorboard.md
Due: none

Add some entries to Release 16 changelog (#5237)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
