Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

add 30M step idle. keeps one hand on ground
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/Platform.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/Walker.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/TFModels/walkerHypNetNoGrdPenHeadHtRew.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/walkerHypNetNoGrdPenHeadHtRew.onnx.meta
  config/ppo/Walker.yaml
Due: none

cp. not trained yet
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/JointDriveController.cs
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/Platform.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
  config/ppo/Walker.yaml
Due: none

reduce hidden nodes to 256 and retrain 30M steps
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/Platform.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker.onnx.meta
  config/ppo/Walker.yaml
Due: none

Apply suggestions from code review
  ml-agents/mlagents/utils/load_from_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Delete Huggy + update load and push to hf
  config/ppo/Huggy.yaml
  ml-agents/mlagents/utils/load_from_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Apply suggestions from code review
  ml-agents/mlagents/utils/push_to_hf.py
  ml-agents/setup.py
Due: validate-init-py

Update push_to_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Commiting changes.
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
  com.unity.ml-agents/Runtime/Inference/TensorProxy.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/package.json
Due: none

Initial barracuda 4 upgrade.
  Project/Assets/ML-Agents/Examples/WallJump/Scripts/WallJumpAgent.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Inference/SymbolicTensorShapeExtensions.cs
  com.unity.ml-agents/Runtime/Inference/SymbolicTensorShapeExtensions.cs.meta
  com.unity.ml-agents/Runtime/Inference/TensorExtensions.cs
  com.unity.ml-agents/Runtime/Inference/TensorExtensions.cs.meta
  com.unity.ml-agents/Runtime/Inference/TensorProxy.cs
  com.unity.ml-agents/Runtime/Integrations/Match3/Match3Sensor.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  com.unity.ml-agents/Runtime/SensorHelper.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorBase.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationSpec.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/Sensors/RenderTextureSensor.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/Inference/DiscreteActionOutputApplierTest.cs
  com.unity.ml-agents/Tests/Editor/Inference/EditModeTestInternalBrainTensorApplier.cs
  com.unity.ml-agents/Tests/Editor/Inference/EditModeTestInternalBrainTensorGenerator.cs
  com.unity.ml-agents/Tests/Editor/Inference/ModelRunnerTest.cs
  com.unity.ml-agents/Tests/Editor/Inference/TensorUtilsTest.cs
  com.unity.ml-agents/Tests/Editor/Unity.ML-Agents.Editor.Tests.asmdef
  com.unity.ml-agents/Tests/Runtime/RuntimeAPITest.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/CameraSensorComponentTest.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/CameraSensorTest.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/FloatVisualSensorTests.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/ObservationWriterTests.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/Unity.ML-Agents.Runtime.Sensor.Tests.asmdef
  com.unity.ml-agents/Tests/Runtime/Unity.ML-Agents.Runtime.Tests.asmdef
  com.unity.ml-agents/Tests/Runtime/Utils/Unity.ML-Agents.Runtime.Utils.Tests.asmdef
Due: none

Play mode tests passing.
  com.unity.ml-agents/Runtime/SensorHelper.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/RenderTextureSensorComponentTests.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/RenderTextureSensorTests.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/StackingSensorTests.cs
Due: none

Edit mode tests passing.
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/TensorProxy.cs
  com.unity.ml-agents/Runtime/Integrations/Match3/Match3Sensor.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorBase.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Tests/Editor/Inference/DiscreteActionOutputApplierTest.cs
  com.unity.ml-agents/Tests/Editor/Inference/EditModeTestInternalBrainTensorApplier.cs
  com.unity.ml-agents/Tests/Editor/Inference/ParameterLoaderTest.cs
  com.unity.ml-agents/Tests/Editor/Inference/TensorUtilsTest.cs
  com.unity.ml-agents/Tests/Editor/Integrations/Match3/Match3SensorTests.cs
Due: none

Fixed failing tests and issue with stacking sensor.
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/Visual3DBall.unity
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs
  com.unity.ml-agents/Tests/Editor/Communicator/GrpcExtensionsTests.cs
  com.unity.ml-agents/Tests/Editor/Inference/ParameterLoaderTest.cs
  com.unity.ml-agents/Tests/Editor/ObservationSpecTests.cs
Due: none

Fixed issue with Buffer Sensor and Recurrent In/Out.
  Project/Assets/ML-Agents/Examples/Sorter/Prefabs/Area.prefab
  Project/Assets/ML-Agents/Examples/Sorter/TFModels/Sorter.onnx
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
  com.unity.ml-agents/Runtime/Inference/TensorExtensions.cs
  com.unity.ml-agents/Runtime/Inference/TensorProxy.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
Due: none

Fixed issue with attention ONNX export w.r.t. dimensions.
  ml-agents/mlagents/trainers/torch_entities/attention.py
  ml-agents/mlagents/trainers/torch_entities/encoders.py
Due: validate-init-py

Training fixes.
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBall.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/Visual3DBall.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/3DBall.unity
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/Visual3DBall.unity
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/3DBall.nn
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/3DBall.nn.meta
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/3DBall.onnx
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/3DBall.onnx.meta
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/Visual3DBall.nn
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/Visual3DBall.nn.meta
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/Visual3DBall.onnx
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/Visual3DBall.onnx.meta
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationSpec.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents/mlagents/trainers/torch_entities/encoders.py
  ml-agents/mlagents/trainers/torch_entities/model_serialization.py
  ml-agents/mlagents/trainers/torch_entities/utils.py
Due: validate-init-py

Fixed performance issue with stacking sensor.
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
Due: none

Updated examples for barracuda 4 upgrade.
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/3DBall.onnx.meta
  Project/Assets/ML-Agents/Examples/Sorter/Prefabs/Area.prefab
  Project/Assets/ML-Agents/Examples/Sorter/Scenes/Sorter.unity
  Project/Assets/ML-Agents/Examples/Sorter/TFModels/Sorter.onnx.meta
Due: none

Added basic distributed training. Logging not working.
  docs/Python-On-Off-Policy-Trainer-Documentation.md
  ml-agents-envs/mlagents_envs/logging_util.py
  ml-agents/mlagents/plugins/stats_writer.py
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/subprocess_env_manager.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
  ml-agents/mlagents/trainers/trainer/on_policy_trainer.py
  ml-agents/mlagents/trainers/trainer/trainer.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

Saving work.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  config/ase/WalkerASE.yml
Due: none

Update with Omar Feedback
  ml-agents/mlagents/utils/push_to_hf.py
  ml-agents/setup.py
Due: validate-init-py

trained chest force up model. looks pretty stable
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/Platform.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/TFModels/WalkerStandChestForceNew.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/WalkerStandChestForceNew.onnx.meta
  Project/ProjectSettings/TagManager.asset
  config/ppo/Walker.yaml
Due: none

Black style formatter
  ml-agents/mlagents/utils/load_from_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

fix colab py3.10.11
  ml-agents/setup.py
Due: validate-init-py

fix colab py3.10.11
  ml-agents-envs/setup.py
Due: validate-init-py

Update setup.py
  ml-agents/setup.py
Due: validate-init-py

Create __init__.py
  ml-agents/mlagents/utils/__init__.py
Due: validate-versions, validate-init-py

Updates based on flake8 review
  ml-agents/mlagents/utils/load_from_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Modifications
  com.unity.ml-agents/Runtime/Actuators/ActionSegment.cs
  com.unity.ml-agents/Runtime/Actuators/ActionSpec.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/IAgent.cs
  com.unity.ml-agents/Runtime/IAgent.cs.meta
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Inference/TensorNames.cs
  com.unity.ml-agents/Runtime/Inference/TensorProxy.cs
  com.unity.ml-agents/Runtime/Inference/Utils.meta
  com.unity.ml-agents/Runtime/Inference/Utils/Multinomial.cs
  com.unity.ml-agents/Runtime/Inference/Utils/RandomNormal.cs
  com.unity.ml-agents/Runtime/InplaceArray.cs
  com.unity.ml-agents/Runtime/MicroMLAgents.asmdef
  com.unity.ml-agents/Runtime/MicroMLAgents.asmdef.meta
  com.unity.ml-agents/Runtime/Sensors.meta
  com.unity.ml-agents/Runtime/Sensors/ObservationSpec.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/UnityAgentsException.cs
  com.unity.ml-agents/Runtime/Utilities.cs
  com.unity.ml-agents/Runtime/Utilities.cs.meta
Due: none

update package.json
  com.unity.ml-agents/package.json
Due: none

Revert meta files.
  com.unity.ml-agents/Runtime/Inference/Utils.meta
  com.unity.ml-agents/Runtime/Sensors.meta
  com.unity.ml-agents/Runtime/Utilities.cs.meta
Due: none

Remove Animo Dependency.
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
Due: none

Update Background-Machine-Learning.md
  docs/Background-Machine-Learning.md
Due: none

Change logging to MLAgents logger
  ml-agents/mlagents/utils/load_from_hf.py
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Update python version
  ml-agents/setup.py
Due: validate-init-py

Update Python Version
  ml-agents-envs/setup.py
Due: validate-init-py

Update setup.py
  ml-agents-envs/setup.py
  ml-agents/setup.py
Due: validate-init-py
