Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Fix broken syntax
  com.unity.ml-agents/Runtime/StatsRecorder.cs
Due: none

typed keys
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/torch/action_log_probs.py
  ml-agents/mlagents/trainers/torch/agent_action.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

format
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/torch/action_log_probs.py
  ml-agents/mlagents/trainers/torch/agent_action.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

Prevent rewards added to disabled agents
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/CubeWarArea.cs
Due: none

test fix
  ml-agents/mlagents/trainers/tests/test_demo_loader.py
Due: validate-init-py

update codecoverage dependency
  DevProject/Packages/manifest.json
Due: none

Bump code coverage for yamato's sake.
  DevProject/Packages/manifest.json
Due: none

add clipping
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
Due: validate-init-py

Add meta file
  Project/Assets/ML-Agents/Examples/GoalNav.meta
Due: none

Bump code coverage for yamato's sake. (#4906)
  DevProject/Packages/manifest.json
Due: none

update tests
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
Due: validate-init-py

Changing model export to be compatible with Barracuda
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

change environment_rewards
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch/test_sac.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

Fixing warning being raised for no reason
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
Due: none

convert done
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

convert continous_log_probs
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/torch/action_log_probs.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

fix fast tests
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/test_buffer.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch/test_sac.py
  ml-agents/mlagents/trainers/torch/action_log_probs.py
  ml-agents/mlagents/trainers/torch/agent_action.py
Due: validate-init-py

Try to stop stalling behavior
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/LargeCubeAgent.cs
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

RewardUtil, AgentBufferKey -> BufferKey
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/trainer.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/test_buffer.py
  ml-agents/mlagents/trainers/tests/test_demo_loader.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tests/torch/test_sac.py
  ml-agents/mlagents/trainers/torch/action_log_probs.py
  ml-agents/mlagents/trainers/torch/agent_action.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

remove clipping
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
Due: validate-init-py

add local reward to plot
  ml-agents/mlagents/trainers/ppo/trainer.py
Due: validate-init-py

reduce initialization weights
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

test switch for key checks
  .github/workflows/pytest.yml
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/tests/__init__.py
Due: validate-versions, validate-init-py

fix final rewards/remove dragon rewards
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/CubeWarArea.cs
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/LargeCubeAgent.cs
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

re-adding the Sorter environment
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/CollisionCallbacks.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/CollisionCallbacks.cs.meta
  Project/Assets/ML-Agents/Examples/Sorter.meta
  Project/Assets/ML-Agents/Examples/Sorter/Meshes.meta
  Project/Assets/ML-Agents/Examples/Sorter/Meshes/ArenaWalls.fbx
  Project/Assets/ML-Agents/Examples/Sorter/Meshes/ArenaWalls.fbx.meta
  Project/Assets/ML-Agents/Examples/Sorter/Prefabs.meta
  Project/Assets/ML-Agents/Examples/Sorter/Prefabs/Area.prefab
  Project/Assets/ML-Agents/Examples/Sorter/Prefabs/Area.prefab.meta
  Project/Assets/ML-Agents/Examples/Sorter/Scenes.meta
  Project/Assets/ML-Agents/Examples/Sorter/Scenes/Sorter.unity
  Project/Assets/ML-Agents/Examples/Sorter/Scenes/Sorter.unity.meta
  Project/Assets/ML-Agents/Examples/Sorter/Scripts.meta
  Project/Assets/ML-Agents/Examples/Sorter/Scripts/NumberTile.cs
  Project/Assets/ML-Agents/Examples/Sorter/Scripts/NumberTile.cs.meta
  Project/Assets/ML-Agents/Examples/Sorter/Scripts/SorterAgent.cs
  Project/Assets/ML-Agents/Examples/Sorter/Scripts/SorterAgent.cs.meta
  Project/Assets/ML-Agents/Examples/Sorter/TFModels.meta
  Project/Assets/ML-Agents/Examples/Sorter/TFModels/Sorter.onnx
  Project/Assets/ML-Agents/Examples/Sorter/TFModels/Sorter.onnx.meta
Due: none

test key encode/decode
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/tests/test_buffer.py
Due: validate-init-py

Make conditiontype a setting
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Adding a capabilities flag and bumping the communication to 1.5.0
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/UnityRLCapabilities.cs
  ml-agents-envs/mlagents_envs/environment.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/capabilities.proto
Due: validate-init-py

adding the protos in a separate commit for cleaness
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Capabilities.cs
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.pyi
Due: validate-init-py

Remove reg loss, still stable
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
Due: validate-init-py

Black format
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
Due: validate-init-py

removing a Debug.Log statement
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
Due: none

Implementing the dimension properties interface for the camera sensor
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
Due: none

Beautification of the environment
  Project/Assets/ML-Agents/Examples/Sorter/Prefabs/Area.prefab
  Project/Assets/ML-Agents/Examples/Sorter/Scripts/NumberTile.cs
Due: none

adding documentation
  docs/Learning-Environment-Design-Agents.md
  docs/Learning-Environment-Examples.md
  docs/images/sorter.png
Due: none
