Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Update docs to explain Alternating Ray Order switch (mla-2537) (#61)
  docs/Learning-Environment-Design-Agents.md
Due: none

Adding replay information to model card generation
  ml-agents/mlagents/utils/push_to_hf.py
Due: validate-init-py

Remove unused TouchedTarget() methods from examples
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
  Project/Assets/ML-Agents/Examples/Worm/Scripts/WormAgent.cs
Due: none

Updated validate meta files. (#65)
  utils/validate_meta_files.py
Due: validate-init-py

Include extensions in Doxygen docs
  docs/dox-ml-agents.conf
Due: none

Fix failing gha pytest (#66)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/nightly.yml
  .github/workflows/pytest.yml
  SURVEY.md
Due: none

Add option to PhysicsSensors to include angular velocities
  com.unity.ml-agents.extensions/Runtime/Sensors/ArticulationBodyPoseExtractor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/PhysicsSensorSettings.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/PoseExtractor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/RigidBodyPoseExtractor.cs
Due: none

Fixed upm ci bug in yamato tests. (#67)
  .yamato/com.unity.ml-agents-coverage.yml
  .yamato/com.unity.ml-agents-promotion.yml
  .yamato/com.unity.ml-agents-publish.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/sonar-python-package.yml
Due: none

Add stubs to PoseExtractorTests for angular velocity methods
  com.unity.ml-agents.extensions/Tests/Runtime/Sensors/PoseExtractorTests.cs
Due: none

Fix serialization of RigidBodySensorComponents
  com.unity.ml-agents.extensions/Editor/RigidBodySensorComponentEditor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/PoseExtractor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/RigidBodyPoseExtractor.cs
Due: none

Move RigidBodySensorComponent update back to end and expand RootBody null check
  com.unity.ml-agents.extensions/Editor/RigidBodySensorComponentEditor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/RigidBodySensorComponent.cs
Due: none

remove torch shadow in trainers tests (#69)
  ml-agents/mlagents/trainers/tests/torch_entities/__init__.py
  ml-agents/mlagents/trainers/tests/torch_entities/saver/test_saver.py
  ml-agents/mlagents/trainers/tests/torch_entities/saver/test_saver_reward_providers.py
  ml-agents/mlagents/trainers/tests/torch_entities/test.demo
  ml-agents/mlagents/trainers/tests/torch_entities/test_action_model.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_agent_action.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_attention.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_bcmodule.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_conditioning.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_decoders.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_distributions.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_encoders.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_hybrid.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_layers.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_networks.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_poca.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_policy.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_reward_providers/test_extrinsic.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_reward_providers/test_rnd.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_sac.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_simple_rl.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_utils.py
  ml-agents/mlagents/trainers/tests/torch_entities/testdcvis.demo
Due: validate-versions, validate-init-py

extend stale bot to 90 days
  .github/stale.yml
  gym-unity/gym_unity/envs/__init__.py
  sb3_examples/3dball_num_envs.py
Due: validate-versions, validate-init-py

update markdown version to match develop
  .github/workflows/pre-commit.yml
Due: none

extend stale bot to 90 days (#70)
  .github/stale.yml
Due: none

extend stalebot (#5789)
  .github/stale.yml
  .github/workflows/pre-commit.yml
Due: none

Remove numpy np.bool deprecation notice
  ml-agents-envs/mlagents_envs/rpc_utils.py
Due: validate-init-py

Fix bug with stacking sensor(#5790)
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
Due: none

Removed old backwards compatibility test since tensorflow/2019.4 are no longer s upported. (#76)
  .yamato/training-backcompat-tests.yml
Due: none

Trainer qa fix (#78)
  docs/Learning-Environment-Examples.md
  docs/Python-Custom-Trainer-Plugin.md
  docs/Readme.md
  docs/Tutorial-Custom-Trainer-Plugin.md
Due: none

Added the "timeout_wait" parameter to the CLI ("--timeout-wait=").
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Require System.Interactive.Async to be explicitly referenced
  com.unity.ml-agents/Plugins/ProtoBuffer/System.Interactive.Async.dll.meta
Due: none

Release 20 changelog (#80)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

update library and python API versions
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

add unreleased section to changelog
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

update relase tag references
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  colab/Colab_UnityEnvironment_4_SB3VectorEnv.ipynb
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/ML-Agents-Toolkit-Documentation.md
  docs/Migrating.md
  docs/Readme.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  ml-agents/setup.py
Due: validate-versions, validate-init-py

add table in readme
  com.unity.ml-agents.extensions/CHANGELOG.md
  docs/Readme.md
  utils/make_readme_table.py
Due: validate-init-py

nit updates
  docs/Readme.md
Due: none

Update CHANGELOG.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fix #5799
  com.unity.ml-agents/Plugins/ProtoBuffer/System.Interactive.Async.dll.meta
Due: none
