Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

fix python->python3 commands
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

Lots of small fixes, better obs
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/BattleFood.unity
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/BattleFoodAgent.cs
Due: none

Fix agent obs
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab
Due: none

remove *_action_* from function names
  gym-unity/gym_unity/envs/__init__.py
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_envs.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/tf_policy.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tf/components/bc/model.py
  ml-agents/mlagents/trainers/tf/components/bc/module.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/curiosity/model.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/gail/model.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-versions, validate-init-py

make_fake_trajectory/step take ActionSpec arg
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_ghost.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_nn_policy.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_ppo.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_sac.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_saver.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
Due: validate-init-py

remove ActionType
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

remove self.action_spec from policy/bc
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/tf_policy.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
Due: validate-init-py

fix action_spec refs
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/tf/components/bc/model.py
  ml-agents/mlagents/trainers/tf/components/bc/module.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/curiosity/model.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/gail/model.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
Due: validate-init-py

Add __eq__ and __str__ to ActionSpec
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents/mlagents/trainers/demo_loader.py
Due: validate-init-py

longer trained models
  Project/Assets/ML-Agents/Examples/Match3/TFModels/Match3VectorObs.onnx
  Project/Assets/ML-Agents/Examples/Match3/TFModels/Match3VisualObs.nn
Due: none

add static method to create continuous/discrete
  gym-unity/gym_unity/tests/test_gym.py
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_models.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_ppo.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_tf_policy.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
  ml-agents/mlagents/trainers/tests/test_rl_trainer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_extrinsic.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_rnd.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Add walls and make spawn areas
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/Food.prefab
Due: none

handle no valid moves more gracefully
  com.unity.ml-agents.extensions/Runtime/Match3/AbstractBoard.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Actuator.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/AbstractBoardTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/Match3ActuatorTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/Match3ActuatorTests.cs.meta
  com.unity.ml-agents.extensions/Tests/Editor/Match3/MoveTests.cs
Due: none

Add laser that stops at walls
  Project/Assets/ML-Agents/Examples/FoodCollector/Materials/laser.mat
  Project/Assets/ML-Agents/Examples/FoodCollector/Materials/laser.mat.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Materials/laser.png
  Project/Assets/ML-Agents/Examples/FoodCollector/Materials/laser.png.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/BattleFoodAgent.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/Laser.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/Laser.cs.meta
Due: none

ActionBuffer with hybrid actions for RemotePolicy (#4592)
  com.unity.ml-agents/Runtime/Actuators/ActuatorManager.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Policies/RemotePolicy.cs
Due: none

Cooldown timer for laser
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/BattleFoodAgent.cs
Due: none

Add observation to agent
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab
Due: none

rename callback
  com.unity.ml-agents.extensions/Runtime/Match3/AbstractBoard.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Actuator.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/Match3ActuatorTests.cs
Due: none

handle no valid moves more gracefully (#4598)
  com.unity.ml-agents.extensions/Runtime/Match3/AbstractBoard.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Actuator.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/AbstractBoardTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/Match3ActuatorTests.cs
  com.unity.ml-agents.extensions/Tests/Editor/Match3/Match3ActuatorTests.cs.meta
  com.unity.ml-agents.extensions/Tests/Editor/Match3/MoveTests.cs
Due: none

[bug-fix] Don't load non-wrapped policy (#4593)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/ghost/trainer.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_ghost.py
  ml-agents/mlagents/trainers/tests/torch/test_ghost.py
Due: validate-init-py

[bug-fix] Change entropy computation and loss reporting in Torch to match TF (#4538)
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

fix recurrent sac test
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
Due: validate-init-py

fix yamato
  ml-agents/tests/yamato/scripts/run_llapi.py
Due: validate-init-py

resolve conflicts
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

fix entropy_sum after merge
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

Add Deathmatch mode
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/DeathmatchArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/DeathmatchArea.prefab.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/DeathmatchFood.unity
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/DeathmatchFood.unity.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/BattleFoodAgent.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/BattleFoodScoring.cs
Due: none

moved type and shape checking into ActionSpec
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

removed action_spec.size
  gym-unity/gym_unity/envs/__init__.py
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/tests/test_envs.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/tests/yamato/scripts/run_llapi.py
Due: validate-versions, validate-init-py

fix specs in torch util
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

Update CONTRIBUTING.md
  com.unity.ml-agents/CONTRIBUTING.md
Due: none

removed trailing space
  com.unity.ml-agents/CONTRIBUTING.md
Due: none

Simple scene
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodAreaSimple.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodAreaSimple.prefab.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/DeathmatchArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/BattleFoodSimple.unity
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/BattleFoodSimple.unity.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/BattleFoodAgent.cs
Due: none

Some more tweaks
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/DeathmatchArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/BattleFoodAgent.cs
Due: none

Bring back cooldown
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/BattleFoodArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/DeathmatchArea.prefab
Due: none

fixed tests/ -> single validate_action func
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents/mlagents/trainers/policy/policy.py
Due: validate-init-py

Reword readme
  README.md
Due: none

make is_discrete/is_continuous strict
  gym-unity/gym_unity/envs/__init__.py
  ml-agents-envs/mlagents_envs/base_env.py
Due: validate-versions, validate-init-py

Actually remove cap
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/DeathmatchArea.prefab
Due: none

Reword readme (#4603)
  README.md
Due: none
