Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

remove wget and gdebi for xvfb and add to apt-get (#4791)
  Dockerfile
Due: none

[package] Add analytics dependency to package.json. (#4794)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
Due: none

changelog
  com.unity.ml-agents/CHANGELOG.md
  utils/make_readme_table.py
Due: validate-init-py

table
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Fixing strange issues
  gym-unity/gym_unity/tests/test_gym.py
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

fixing tests
  ml-agents-envs/mlagents_envs/tests/test_envs.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
Due: validate-init-py

add tags, update controllers. working i think
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/GoalDetectTrigger.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/GoalDetectTrigger.cs.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/CollisionCallbacks.cs
  Project/ProjectSettings/TagManager.asset
Due: none

add more blocks
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
Due: none

R12 update docs tags (#4795)
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  utils/make_readme_table.py
Due: validate-versions, validate-init-py

cleanup. about to merge in ervin's branch
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentCollab.cs
Due: none

replace step with get step in tc
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

update score logic
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
Due: none

remove wget and gdebi for xvfb and add to apt-get (#4791) (#4796)
  Dockerfile
Due: none

[package] Add analytics dependency to package.json. (#4794) (#4797)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
Due: none

add 5 platforms
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
Due: none

add rb sensor
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
Due: none

adjust goal col
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
Due: none

preparing to rebase onto cc
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/AgentSoccerCollab.cs
  Project/Packages/manifest.json
  Project/ProjectSettings/BurstAotSettings_StandaloneLinux64.json
  Project/ProjectSettings/BurstAotSettings_StandaloneOSX.json
  Project/ProjectSettings/DynamicsManager.asset
  Project/ProjectSettings/ProjectVersion.txt
  Project/ProjectSettings/TagManager.asset
  Project/ProjectSettings/XRSettings.asset
Due: none

update rb sensor
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
Due: none

preparing to rebase
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
Due: none

update raycast tags
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
Due: none

Fix the package ID for analytics.
  com.unity.ml-agents/package.json
Due: none

add soccer comms
  Project/Assets/ML-Agents/Examples/FoodCollector/Demos/ExpertFood.demo
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/FoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/GridFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/VisualFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorAgent.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.onnx.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/VisualFoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/VisualFoodCollector.onnx.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorld.unity
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridArea.cs
  Project/Assets/ML-Agents/Examples/Hallway/Prefabs/SymbolFinderArea.prefab
  Project/Assets/ML-Agents/Examples/Hallway/Scenes/Hallway.unity.meta
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayAgent.cs
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Scenes/SoccerTwos.unity
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/AgentSoccer.cs
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/AgentSoccerCollab.cs
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/AgentSoccerCollab.cs.meta
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerFieldArea.cs
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-10999921.onnx
  Project/Assets/ML-Agents/Examples/Soccer/TFModels/SoccerTwos-10999921.onnx.meta
  Project/Assets/ML-Agents/Examples/WallJump/Scripts/WallJumpAgent.cs
  Project/Packages/manifest.json
  Project/ProjectSettings/BurstAotSettings_StandaloneLinux64.json
  Project/ProjectSettings/BurstAotSettings_StandaloneOSX.json
  Project/ProjectSettings/DynamicsManager.asset
  Project/ProjectSettings/ProjectVersion.txt
  Project/ProjectSettings/TagManager.asset
  Project/ProjectSettings/XRSettings.asset
Due: none

fix trainer c and soccer config
  config/ppo/SoccerTwos.yaml
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

1.7.2
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  utils/make_readme_table.py
Due: validate-init-py

Fix the package ID for analytics. (#4798)
  com.unity.ml-agents/package.json
Due: none

Fix the package ID for analytics. (#4799)
  com.unity.ml-agents/package.json
Due: none

1.7.2 (#4800)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  utils/make_readme_table.py
Due: validate-init-py

filter 2018.4
  .yamato/com.unity.ml-agents-test.yml
Due: none

update reset logic
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
Due: none

update config to train 5M steps
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
  config/ppo/PushBlock.yaml
Due: none

Add upmNoDefaultPackages in CI (#4736)
  .yamato/com.unity.ml-agents-test.yml
Due: none

cp
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentCollab.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
Due: none

add models
  Project/Assets/ML-Agents/Examples/Hallway/TFModels/HallwayCollab.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentCollab.cs
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollab.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollab.onnx.meta
  Project/Packages/manifest.json
Due: none

remove obsv
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentCollab.cs
Due: none
