Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Update time horizon for pbcollab
  config/coma/PushBlockCollab.yaml
  config/poca/PushBlockCollab.yaml
  config/ppo/PushBlockCollab.yaml
Due: none

1 env
  config/coma/PushBlockCollab.yaml
  config/poca/PushBlockCollab.yaml
  config/ppo/PushBlockCollab.yaml
Due: none

Update dungeon escape to longer time horizon and 1 env
  config/coma/DungeonEscape.yaml
  config/poca/DungeonEscape.yaml
  config/ppo/DungeonEscape.yaml
Due: none

Adding a config with 2.5 penality per agents + 5 time penalty. Curves obtained in the slack thread were obtained with either of these penalties
  config/coma/BatonPass20.yaml
  config/poca/BatonPass20.yaml
  config/ppo/BatonPass20.yaml
Due: none

Delete .yamato directory
  .yamato/com.unity.ml-agents-coverage.yml
  .yamato/com.unity.ml-agents-optional-dep-tests.yml
  .yamato/com.unity.ml-agents-pack.yml
  .yamato/com.unity.ml-agents-performance.yml
  .yamato/com.unity.ml-agents-promotion.yml
  .yamato/com.unity.ml-agents-publish.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/compressed-sensor-test.yml
  .yamato/coverage_tests.metafile
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/pytest-gpu.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/standalone-build-webgl-test.yml
  .yamato/test_versions.metafile
  .yamato/training-backcompat-tests.yml
  .yamato/training-int-tests.yml
Due: none

Editing config
  config/coma/BatonPass20.yaml
  config/poca/BatonPass20.yaml
  config/ppo/BatonPass20.yaml
Due: none

Mapoca baton pass (#5515)
  Project/Assets/ML-Agents/Examples/BatonPass/BatonPass.onnx
  Project/Assets/ML-Agents/Examples/BatonPass/BatonPass.onnx.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Prefabs.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Prefabs/Agent.prefab
  Project/Assets/ML-Agents/Examples/BatonPass/Prefabs/Agent.prefab.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Prefabs/Court.prefab
  Project/Assets/ML-Agents/Examples/BatonPass/Prefabs/Court.prefab.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Prefabs/Food.prefab
  Project/Assets/ML-Agents/Examples/BatonPass/Prefabs/Food.prefab.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Prefabs/Switch.prefab
  Project/Assets/ML-Agents/Examples/BatonPass/Prefabs/Switch.prefab.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Scenes.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Scenes/BatonPass.unity
  Project/Assets/ML-Agents/Examples/BatonPass/Scenes/BatonPass.unity.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Scenes/BatonPassCOMA.onnx
  Project/Assets/ML-Agents/Examples/BatonPass/Scenes/BatonPassCOMA.onnx.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Scenes/BatonPassPOCA.onnx
  Project/Assets/ML-Agents/Examples/BatonPass/Scenes/BatonPassPOCA.onnx.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Scenes/BatonPassPOCA25.onnx
  Project/Assets/ML-Agents/Examples/BatonPass/Scenes/BatonPassPOCA25.onnx.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Scripts.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Scripts/BatonPassAgent.cs
  Project/Assets/ML-Agents/Examples/BatonPass/Scripts/BatonPassAgent.cs.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Scripts/BatonPassArea.cs
  Project/Assets/ML-Agents/Examples/BatonPass/Scripts/BatonPassArea.cs.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Scripts/BatonPassButton.cs
  Project/Assets/ML-Agents/Examples/BatonPass/Scripts/BatonPassButton.cs.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Scripts/BatonPassFood.cs
  Project/Assets/ML-Agents/Examples/BatonPass/Scripts/BatonPassFood.cs.meta
  Project/Assets/ML-Agents/Examples/BatonPass/Scripts/ExitDetect.cs
  Project/Assets/ML-Agents/Examples/BatonPass/Scripts/ExitDetect.cs.meta
  config/coma/BatonPass20.yaml
  config/poca/BatonPass20.yaml
  config/ppo/BatonPass20.yaml
Due: none

adding the average calculation with absorbing states notebook
  AverageCalculationWithAbsorbingStates.ipynb
Due: none

adding the average calculation with absorbing states notebook (#5516)
  AverageCalculationWithAbsorbingStates.ipynb
Due: none

inherit the default_training_analytics_side_channel
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/__init__.py
  ml-agents-envs/mlagents_envs/side_channel/default_training_analytics_side_channel.py
  ml-agents/mlagents/training_analytics_side_channel.py
Due: validate-versions, validate-init-py

bump editor version.
  .yamato/training-backcompat-tests.yml
Due: none

Use 2019.4 for backcompat tests.
  .yamato/training-backcompat-tests.yml
Due: none

try new image, probably won't work.
  .yamato/training-backcompat-tests.yml
Due: none

bump back compat tests.
  .yamato/training-backcompat-tests.yml
Due: none

don't install tensorflow.
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

Shorten particles run
  config/coma/Particles.yaml
  config/poca/Particles.yaml
  config/ppo/Particles.yaml
Due: none

Updatee POCA baton pass with seed
  config/poca/BatonPass20.yaml
Due: none

don't use old yml config.
  ml-agents/tests/yamato/training_int_tests.py
Due: validate-init-py

inherit the default_training_analytics_side_channel
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/__init__.py
  ml-agents/mlagents/training_analytics_side_channel.py
Due: validate-versions, validate-init-py

update image to use python 3.8
  .yamato/training-backcompat-tests.yml
Due: none

fixing pytest
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/__init__.py
Due: validate-versions, validate-init-py

catch exception when trying to close the channel.
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
Due: none

Add time penalty for baton
  config/poca/BatonPass20.yaml
Due: none

Don't wait for shutdown.
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
Due: none

catch any exception.
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
Due: none

change output dir.
  ml-agents/tests/yamato/training_int_tests.py
Due: validate-init-py

Fix Mac backcompat test (#5519)
  .yamato/training-backcompat-tests.yml
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  ml-agents/tests/yamato/training_int_tests.py
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

absorbing state mean exps script
  abs_plot.py
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

pettingzoo api prototype
  ml-agents-envs/mlagents_envs/multiagent_gym.py
Due: validate-init-py

Fixed formatting of a Note in Training-Plugins.md
  docs/Training-Plugins.md
Due: none

init: custom checkpoints for multiple brains
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

relu activ in layers/abs plot generates all plots
  abs_plot.py
  ml-agents/mlagents/trainers/torch/layers.py
Due: validate-init-py

add example
  colab/Colab_LLAPI.ipynb
Due: none

Get rright raycast and model
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentRayCollab.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollabRays.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollabRays.onnx.meta
Due: none

update package version from 2.0.0-pre to 2.0.0
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

moving init_path logic ahead to learn.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

renaming, prioritize resume over initialize
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

formatting
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
