Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

docs
  docs/Training-Plugins.md
  ml-agents-plugin-examples/mlagents_plugin_examples/example_stats_writer.py
  ml-agents-plugin-examples/setup.py
  ml-agents/mlagents/plugins/stats_writer.py
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

unit test
  .github/workflows/pytest_plugins.yml
  docs/Training-Plugins.md
  ml-agents-plugin-examples/mlagents_plugin_examples/tests/__init__.py
  ml-agents-plugin-examples/mlagents_plugin_examples/tests/test_stats_writer_plugin.py
Due: validate-versions, validate-init-py

Update README.md
  docs/localized/KR/README.md
Due: none

close environments to avoid errors on shutdown
  ml-agents-envs/mlagents_envs/tests/test_envs.py
Due: validate-init-py

barracuda@1.3.0
  com.unity.ml-agents/package.json
Due: none

fixed actions
  Project/Assets/ML-Agents/Examples/CubeWars.meta
  Project/Assets/ML-Agents/Examples/CubeWars/Materials/dragonfire.mat
  Project/Assets/ML-Agents/Examples/CubeWars/Materials/dragonscales.mat
  Project/Assets/ML-Agents/Examples/CubeWars/Materials/dragonskin.mat
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/SmallAgent.prefab
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/CubeWarArea.cs
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/CubeWarSettings.cs
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/LargeCubeAgent.cs
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
  Project/Assets/ML-Agents/Examples/CubeWars/TFModels/SmallCubeSoldier.nn.meta
Due: none

added a test to make sure that a mask of all zeros or all ones would not break backpropagation
  ml-agents/mlagents/trainers/tests/torch/test_attention.py
Due: validate-init-py

Add GoalNav environment
  Project/Assets/ML-Agents/Examples/GoalNav.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Meshes.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Meshes/PushBlockCourt.fbx
  Project/Assets/ML-Agents/Examples/GoalNav/Meshes/PushBlockCourt.fbx.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Prefabs.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Prefabs/Area.prefab
  Project/Assets/ML-Agents/Examples/GoalNav/Prefabs/Area.prefab.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Scenes.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Scenes/GoalNav.unity
  Project/Assets/ML-Agents/Examples/GoalNav/Scenes/GoalNav.unity.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Scripts.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Scripts/GoalDetect.cs
  Project/Assets/ML-Agents/Examples/GoalNav/Scripts/GoalDetect.cs.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Scripts/GoalNavAgent.cs
  Project/Assets/ML-Agents/Examples/GoalNav/Scripts/GoalNavAgent.cs.meta
  Project/Assets/ML-Agents/Examples/GoalNav/Scripts/PushBlockSettings.cs
  Project/Assets/ML-Agents/Examples/GoalNav/Scripts/PushBlockSettings.cs.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/GoalDetect.cs.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockSettings.cs.meta
  config/ppo/GoalNav.yaml
Due: none

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

add base team manager
  com.unity.ml-agents.extensions/Runtime/Teams.meta
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs
  com.unity.ml-agents.extensions/Runtime/Teams/BaseTeamManager.cs.meta
  com.unity.ml-agents/Runtime/Actuators/ITeamManager.cs
  com.unity.ml-agents/Runtime/Actuators/ITeamManager.cs.meta
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/AgentInfo.cs
  com.unity.ml-agents/Runtime/TeamManagerIdCounter.cs
  com.unity.ml-agents/Runtime/TeamManagerIdCounter.cs.meta
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.pyi
  ml-agents-envs/mlagents_envs/rpc_utils.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/agent_info.proto
Due: validate-init-py

Add TeamManager
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/CubeWarArea.cs
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/CubeWarsTeamManager.cs
Due: none

added healer tank dps roles
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

Make dragon fire firey
  Project/Assets/ML-Agents/Examples/CubeWars/Materials/dragonfire.mat
Due: none

Agents get disabled when they die
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

add turn speed
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

no need for large number of steps in test
  ml-agents/mlagents/trainers/tests/torch/test_attention.py
Due: validate-init-py

Change StatsSummary to use properties
  ml-agents/mlagents/trainers/stats.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
  ml-agents/mlagents/trainers/tests/test_stats.py
Due: validate-init-py

add individual rewards
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/LargeCubeAgent.cs
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

update tags
  Project/ProjectSettings/TagManager.asset
Due: none

reduce shockwave damage
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/LargeCubeAgent.cs
Due: none

Use separate tag for landmarks
  Project/Assets/ML-Agents/Examples/GoalNav/Prefabs/Area.prefab
  Project/ProjectSettings/TagManager.asset
Due: none

add shield and sword
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
Due: none

-
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

remove print statement
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/Projectile.cs
Due: none

remove shield sword
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
Due: none

add role observation one hots
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/SmallAgent.prefab
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

fix hit points
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

add some water particle fx
  Project/Assets/ML-Agents/Examples/FPS_Game/Scenes/FPS_Game.unity
  Project/Assets/Particle Examples/EffectExamples/Goop Effects/Materials/GoopPoolParticle.mat
  Project/Assets/Particle Examples/EffectExamples/Goop Effects/Materials/GoopSplashParticle.mat
  Project/Assets/Particle Examples/EffectExamples/Water Effects/Prefabs/BigSplash.prefab
Due: none

Merge remote-tracking branch 'origin/develop-teammanager-cubewars' into develop-teammanager-cubewars
  Project/Assets/ML-Agents/Examples/CubeWars/Meshes/DPS.fbx
  Project/Assets/ML-Agents/Examples/CubeWars/Meshes/DPS.fbx.meta
  Project/Assets/ML-Agents/Examples/CubeWars/Meshes/Healer.fbx
  Project/Assets/ML-Agents/Examples/CubeWars/Meshes/Healer.fbx.meta
  Project/Assets/ML-Agents/Examples/CubeWars/Meshes/Tank.fbx
  Project/Assets/ML-Agents/Examples/CubeWars/Meshes/Tank.fbx.meta
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/CubeWarsTeamManager.cs.meta
Due: none

Add back icons
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
Due: none

Make list empty when making empty summary
  ml-agents/mlagents/trainers/stats.py
Due: validate-init-py

Max steps in Area Controller
  Project/Assets/ML-Agents/Examples/CubeWars/Prefabs/CubeWarArea.prefab
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/CubeWarArea.cs
  Project/Assets/ML-Agents/Examples/CubeWars/Scripts/SmallCubeAgent.cs
Due: none

Add CreateActuators method to the ActuatorComponent class which wraps the original method. The original method will be removed in the future.
  Project/Assets/ML-Agents/Examples/Basic/Scripts/BasicActuatorComponent.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3ExampleActuatorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Match3/Match3ActuatorComponent.cs
  com.unity.ml-agents/Runtime/Actuators/ActuatorComponent.cs
  com.unity.ml-agents/Runtime/Actuators/ActuatorManager.cs
  com.unity.ml-agents/Runtime/Agent.cs
Due: none

Update changelog.
  com.unity.ml-agents/CHANGELOG.md
Due: none

cubewars config
  config/ppo/CubeWars.yaml
Due: none

fix config
  config/ppo/CubeWars.yaml
Due: none

Update migrating doc.
  docs/Migrating.md
Due: none

Change name.
  com.unity.ml-agents/Runtime/Actuators/ActuatorManager.cs
  com.unity.ml-agents/Runtime/Agent.cs
Due: none
