Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Add IList overload for VectorSensor.AddObservation
  com.unity.ml-agents/Runtime/Sensors/VectorSensor.cs
Due: none

clipping values and updated zombie
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/ZombiePushBlockCollabArea 1.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/ZombiePushBlockCollabArea 1.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/2ZombieVs3AgentsPushBlock.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ZombiePushBlockDeathEnvController.cs
  config/ppo/Zombie.yaml
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
Due: validate-init-py

Remove time rewarad
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentCollab.cs
Due: none

update configs
  config/ppo/PushBlock.yaml
  config/ppo/Zombie.yaml
Due: none

Make env easier and add model
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/2ZombieVs3AgentsPushBlock.unity
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockFreeze.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockFreeze.onnx.meta
Due: none

Make env easier and add model
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockFreeze.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockFreeze.onnx.meta
Due: none

Change block weight
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/2ZombieVs3AgentsPushBlock.unity
Due: none

remove value head clipping
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
Due: validate-init-py

update zombie config
  config/ppo/Zombie.yaml
Due: none

[skip ci] changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

[skip ci] migrating
  docs/Migrating.md
Due: none

[MLA-1724] Reduce use of IEnumerable during inference (#4887)
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/SensorBase.cs
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensor.cs
  com.unity.ml-agents/Tests/Editor/Sensor/ObservationWriterTests.cs
  docs/Migrating.md
Due: none

shared baseline and v
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

undo accidental change
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBall.prefab
Due: none

set torch config
  ml-agents/mlagents/torch_utils/__init__.py
  ml-agents/mlagents/torch_utils/torch.py
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_torch_utils.py
Due: validate-versions, validate-init-py

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

better default, restore device after test
  ml-agents/mlagents/torch_utils/torch.py
  ml-agents/mlagents/trainers/tests/test_torch_utils.py
Due: validate-init-py

add discount for team reward
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/2ZombieVs3AgentsPushBlock.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockTeamManager.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ZombiePushBlockDeathEnvController.cs
Due: none

remove --cpu, docs
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-ML-Agents.md
  ml-agents/mlagents/trainers/cli_utils.py
Due: validate-init-py

better example
  docs/Training-ML-Agents.md
Due: none

add unit test
  com.unity.ml-agents/Tests/Editor/Sensor/StackingSensorTests.cs
Due: none

add prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/ZombiePushBlockDeathCollabArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/ZombiePushBlockDeathCollabArea.prefab.meta
Due: none

remove unnecessary allocs in SideChannelMananger (#4886)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/SideChannels/SideChannelManager.cs
Due: none

Add verified package info to table
  README.md
  utils/make_readme_table.py
Due: validate-init-py

display name
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Add enum for sensor implementations, send in analytics (#4871)
  com.unity.ml-agents.extensions/Runtime/Match3/Match3Sensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/GridSensor.cs
  com.unity.ml-agents.extensions/Runtime/Sensors/PhysicsBodySensor.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
  com.unity.ml-agents/Runtime/Sensors/CameraSensor.cs
  com.unity.ml-agents/Runtime/Sensors/IBuiltInSensor.cs
  com.unity.ml-agents/Runtime/Sensors/IBuiltInSensor.cs.meta
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
  com.unity.ml-agents/Runtime/Sensors/Reflection/ReflectionSensorBase.cs
  com.unity.ml-agents/Runtime/Sensors/RenderTextureSensor.cs
  com.unity.ml-agents/Runtime/Sensors/StackingSensor.cs
  com.unity.ml-agents/Runtime/Sensors/VectorSensor.cs
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/ParameterLoaderTest.cs
  com.unity.ml-agents/Tests/Editor/Sensor/StackingSensorTests.cs
Due: none

[skip ci] more than one agent
  com.unity.ml-agents/CHANGELOG.md
Due: none

fix test that was added on master
  ml-agents/mlagents/trainers/tests/test_subprocess_env_manager.py
Due: validate-init-py

Set torch device from commandline (#4888)
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-ML-Agents.md
  ml-agents/mlagents/torch_utils/__init__.py
  ml-agents/mlagents/torch_utils/torch.py
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_torch_utils.py
Due: validate-versions, validate-init-py

verified info, package number in table
  README.md
  utils/make_readme_table.py
Due: validate-init-py

add author section to package.json, set version
  com.unity.ml-agents/package.json
  utils/validate_versions.py
Due: validate-init-py

fix tag, remove email
  com.unity.ml-agents/package.json
  utils/validate_versions.py
Due: validate-init-py

add python column too
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Add verified package info to table (#4889)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Add clipping, use same network for value
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

debug python 3.9 pytest segfault
  .github/workflows/pytest.yml
Due: none

Add goal to hyper input
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

[MLA-1540] Training Analytics (#4780)
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Analytics/AnalyticsUtils.cs
  com.unity.ml-agents/Runtime/Analytics/AnalyticsUtils.cs.meta
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs.meta
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  com.unity.ml-agents/Runtime/Communicator/UnityRLCapabilities.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Capabilities.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/TrainingAnalytics.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/TrainingAnalytics.cs.meta
  com.unity.ml-agents/Runtime/Policies/RemotePolicy.cs
  com.unity.ml-agents/Runtime/SideChannels/TrainingAnalyticsSideChannel.cs
  com.unity.ml-agents/Runtime/SideChannels/TrainingAnalyticsSideChannel.cs.meta
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs.meta
  com.unity.ml-agents/Tests/Editor/Communicator/GrpcExtensionsTests.cs
  com.unity.ml-agents/Tests/Editor/TrainingAnalyticsSideChannelTests.cs
  com.unity.ml-agents/Tests/Editor/TrainingAnalyticsSideChannelTests.cs.meta
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/capabilities_pb2.pyi
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/training_analytics_pb2.pyi
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/engine_configuration_channel.py
  ml-agents-envs/mlagents_envs/side_channel/environment_parameters_channel.py
  ml-agents/mlagents/trainers/env_manager.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/subprocess_env_manager.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/test_subprocess_env_manager.py
  ml-agents/mlagents/trainers/trainer_controller.py
  ml-agents/mlagents/training_analytics_side_channel.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/capabilities.proto
  protobuf-definitions/proto/mlagents_envs/communicator_objects/training_analytics.proto
Due: validate-init-py
