Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

addressing behaviour_spec issues
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_pettingzoo_base_env.py
Due: validate-versions, validate-init-py

Some refactoring.
  pettingzoo-unity/pettingzoo_unity/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/__init__.py
  pettingzoo-unity/pettingzoo_unity/envs/env_helpers.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_aec_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_base_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
  pettingzoo-unity/pettingzoo_unity/tests/test_pettingzoo_wrapper.py
Due: validate-versions, validate-init-py

Finished parallel API implementation and refactor. All PZ tests passing.
  pettingzoo-unity/pettingzoo_unity/envs/unity_base_env.py
  pettingzoo-unity/pettingzoo_unity/tests/test_pettingzoo_wrapper.py
Due: validate-init-py

Finished inital implementation of parallel. Tests not passing.
  pettingzoo-unity/pettingzoo_unity/envs/unity_aec_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_base_env.py
  pettingzoo-unity/pettingzoo_unity/envs/unity_parallel_env.py
Due: validate-init-py

Refactored ml-agents-envs docs.
  README.md
  docs/Learning-Environment-Executable.md
  docs/Limitations.md
  docs/ML-Agents-Overview.md
  docs/Migrating.md
  docs/Python-Gym-API-Documentation.md
  docs/Python-Gym-API.md
  docs/Python-LLAPI-Documentation.md
  docs/Python-LLAPI.md
  docs/Python-PettingZoo-API-Documentation.md
  docs/Python-PettingZoo-API.md
  docs/Readme.md
  docs/Unity-Environment-Registry.md
  docs/images/dopamine_gridworld_plot.png
  docs/images/dopamine_visualbanana_plot.png
  docs/localized/TR/docs/Readme.md
  docs/localized/zh-CN/docs/Learning-Environment-Design.md
  docs/localized/zh-CN/docs/ML-Agents-Overview.md
  docs/localized/zh-CN/docs/Readme.md
  ml-agents-envs/README.md
  ml-agents-envs/colabs/Colab_PettingZoo.ipynb
  ml-agents-envs/mlagents_envs/envs/unity_gym_env.py
  ml-agents-envs/pydoc-config.yaml
  ml-agents-envs/setup.py
  ml-agents/README.md
  utils/validate_release_links.py
Due: validate-init-py

Added TODO to pydoc-config.yaml
  ml-agents-envs/pydoc-config.yaml
Due: none

Refactored gym and pz to be under a subpackage in mlagents_env package
  ml-agents-envs/GYM_README.md
  ml-agents-envs/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/envs/__init__.py
  ml-agents-envs/mlagents_envs/envs/env_helpers.py
  ml-agents-envs/mlagents_envs/envs/pettingzoo_env_factory.py
  ml-agents-envs/mlagents_envs/envs/unity_aec_env.py
  ml-agents-envs/mlagents_envs/envs/unity_gym_env.py
  ml-agents-envs/mlagents_envs/envs/unity_parallel_env.py
  ml-agents-envs/mlagents_envs/envs/unity_pettingzoo_base_env.py
  ml-agents-envs/pettingzoo_unity/__init__.py
  ml-agents-envs/tests/test_gym.py
  ml-agents-envs/tests/test_pettingzoo_wrapper.py
  ml-agents/tests/yamato/scripts/run_gym.py
Due: validate-versions, validate-init-py

Minor update to PZ API doc.
  docs/Python-PettingZoo-API.md
Due: none

Basic example running with multiple envs in sb3
  gym-unity/gym_unity/envs/__init__.py
  sb3_examples/3dball_num_envs.py
Due: validate-versions, validate-init-py

Deployed 4c930e067 with MkDocs version: 1.2.3
  index.html
  sitemap.xml.gz
Due: none

Dropped support for python 3.6
  .github/workflows/pytest.yml
  com.unity.ml-agents/CHANGELOG.md
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Using-Virtual-Environment.md
  docs/localized/KR/docs/Installation-Anaconda-Windows.md
  docs/localized/KR/docs/Installation.md
  docs/localized/RU/docs/Установка.md
  docs/localized/TR/docs/Installation.md
  ml-agents-envs/setup.py
  ml-agents/setup.py
Due: validate-init-py

Pinning python 3.9.9 for tests due to typing issues with 3.9.10
  .github/workflows/pytest.yml
Due: none

Testing new bokken image.
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
Due: none

add pref reward provider
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBall.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DAgent.cs
  config/ppo/3DBallPref.yaml
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/__init__.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/base_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/pref_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/reward_provider_factory.py
Due: validate-versions, validate-init-py

Updated mlagents_envs docs and colab.
  docs/Python-Gym-API.md
  docs/Python-PettingZoo-API.md
  ml-agents-envs/README.md
  ml-agents-envs/colabs/Colab_PettingZoo.ipynb
Due: none

Added mkdocs yml
  docs/extra.css
  docs/images/U_MachineLearningAgents_Logo_Black_RGB.png
  docs/index.md
  mkdocs.yml
Due: none

Updated mkdocs config.
  mkdocs.yml
Due: none

Deployed 0588a1136 with MkDocs version: 1.2.3
  Python-Gym-API/index.html
  Python-PettingZoo-API/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

PettingZoo API doc.
  docs/Python-PettingZoo-API.md
Due: none

Deployed 85ce25e1f with MkDocs version: 1.2.3
  Python-PettingZoo-API/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

mkdoc updates.
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/Learning-Environment-Examples.md
  docs/index.md
  mkdocs.yml
Due: none

Deployed 4d5685a00 with MkDocs version: 1.2.3
  index.html
  sitemap.xml.gz
Due: none

.gitignore update to exclude site folder.
  .gitignore
Due: none

Update MLA logo to the new branded logo.
  README.md
Due: none

Fixed issue with duplicate docs.
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/Python-Gym-API.md
  docs/index.md
  mkdocs.yml
Due: none

Deployed 95c6bc57f with MkDocs version: 1.2.3
  CODE_OF_CONDUCT/index.html
  CONTRIBUTING/index.html
  Python-Gym-API/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 95c6bc57f with MkDocs version: 1.2.3
  index.html
  sitemap.xml.gz
Due: none

Fix GitHub Actions for GitHub Enterprise (#4)
  .github/workflows/build-docker.yaml
  .github/workflows/colab.yml
  .github/workflows/lock.yml
  .github/workflows/nightly.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish_pypi.yaml
  .github/workflows/pytest.yml
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  test_requirements.txt
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
