Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Use new memories
  ml-agents/mlagents/trainers/agent_processor.py
Due: validate-init-py

Append the right memories
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Don't pad when not needed
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Pad from back of trajectory
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

remove spec property in gym wrapper
  gym-unity/gym_unity/envs/__init__.py
Due: validate-versions, validate-init-py

address comments
  com.unity.ml-agents/Runtime/SimpleMultiAgentGroup.cs
Due: none

demo-specific exp and traj
  ml-agents/mlagents/trainers/demonstrations/demonstration_provider.py
  ml-agents/mlagents/trainers/demonstrations/local_demonstration_provider.py
Due: validate-init-py

remove unused import
  com.unity.ml-agents/Tests/Editor/MultiAgentGroupTests.cs
Due: none

remove spec property in gym wrapper (#4985)
  gym-unity/gym_unity/envs/__init__.py
Due: validate-versions, validate-init-py

Refactor some stuff
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

raise warning if memory specified in reward providers
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/rnd_reward_provider.py
Due: validate-init-py

Add networksettings to reward providers (#4982)
  com.unity.ml-agents/CHANGELOG.md
  config/imitation/CrawlerStatic.yaml
  config/imitation/FoodCollector.yaml
  config/imitation/Hallway.yaml
  config/imitation/PushBlock.yaml
  config/imitation/Pyramids.yaml
  config/ppo/Pyramids.yaml
  config/ppo/PyramidsRND.yaml
  config/ppo/VisualPyramids.yaml
  config/sac/Pyramids.yaml
  config/sac/VisualPyramids.yaml
  docs/Training-Configuration-File.md
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/rnd_reward_provider.py
Due: validate-init-py

Addint 'On Demand Decision' hint to the documentation
  docs/Learning-Environment-Design-Agents.md
Due: none

Set ignore done=False in GAIL (#4971)
  com.unity.ml-agents/CHANGELOG.md
  config/imitation/CrawlerStatic.yaml
  config/imitation/FoodCollector.yaml
  config/imitation/Hallway.yaml
  config/imitation/PushBlock.yaml
  config/imitation/Pyramids.yaml
  config/ppo/Pyramids.yaml
  config/ppo/PyramidsRND.yaml
  config/ppo/VisualPyramids.yaml
  config/sac/Pyramids.yaml
  config/sac/VisualPyramids.yaml
  docs/ML-Agents-Overview.md
  docs/Training-Configuration-File.md
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/rnd_reward_provider.py
Due: validate-init-py

cleanup, don't store mask
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/demonstrations/demonstration_provider.py
  ml-agents/mlagents/trainers/demonstrations/local_demonstration_provider.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
Due: validate-init-py

Changes to hypernet
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

better error message
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Reorder operations
  ml-agents/mlagents/trainers/torch/layers.py
Due: validate-init-py

MultiAgentGroup Interface (#4923)
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/AgentInfo.cs
  com.unity.ml-agents/Runtime/IMultiAgentGroup.cs
  com.unity.ml-agents/Runtime/IMultiAgentGroup.cs.meta
  com.unity.ml-agents/Runtime/MultiAgentGroupIdCounter.cs
  com.unity.ml-agents/Runtime/MultiAgentGroupIdCounter.cs.meta
  com.unity.ml-agents/Runtime/SimpleMultiAgentGroup.cs
  com.unity.ml-agents/Runtime/SimpleMultiAgentGroup.cs.meta
  com.unity.ml-agents/Tests/Editor/MultiAgentGroupTests.cs
  com.unity.ml-agents/Tests/Editor/MultiAgentGroupTests.cs.meta
  gym-unity/gym_unity/tests/test_gym.py
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/agent_info_pb2.pyi
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/agent_info.proto
Due: validate-init-py

Remove duplicated files
  com.unity.ml-agents.extensions/Runtime/MultiAgent.meta
  com.unity.ml-agents.extensions/Runtime/MultiAgent/BaseMultiAgentGroup.cs
  com.unity.ml-agents.extensions/Runtime/MultiAgent/BaseMultiAgentGroup.cs.meta
Due: none

Remove random print statement
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Running COMA (not sure if learning)
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/coma/trainer.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/agent_action.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

Add team methods to AgentAction
  ml-agents/mlagents/trainers/torch/agent_action.py
Due: validate-init-py

Right loss function for stability, fix some pypi
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/coma/trainer.py
Due: validate-init-py

Upgrade to newest group manager
  Project/Assets/ML-Agents/Examples/Hallway/Scripts/HallwayCollabAgent.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushBlockEnvController.cs
  com.unity.ml-agents.extensions/Runtime/MultiAgent.meta
  com.unity.ml-agents.extensions/Runtime/MultiAgent/BaseMultiAgentGroup.cs
  com.unity.ml-agents.extensions/Runtime/MultiAgent/BaseMultiAgentGroup.cs.meta
  com.unity.ml-agents/Runtime/SimpleMultiAgentGroup.cs
Due: none

Buffer fixes
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/coma/trainer.py
Due: validate-init-py

Group reward function
  ml-agents/mlagents/trainers/coma/trainer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/__init__.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/group_extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/reward_provider_factory.py
Due: validate-versions, validate-init-py

Add PushBlockCollab config and fix some stuff
  config/ppo/PushBlockCollab.yaml
  ml-agents/mlagents/trainers/coma/trainer.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Fix asmdef?
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Unity.ML-Agents.Extensions.Input.Tests.Runtime.asmdef
Due: none

Fix Team Cumulative Reward
  ml-agents/mlagents/trainers/coma/trainer.py
Due: validate-init-py

Fix asmdef? (#4994)
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Unity.ML-Agents.Extensions.Input.Tests.Runtime.asmdef
Due: none

Fix InputActuatorComponent tests asmdef. (#4994)
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Unity.ML-Agents.Extensions.Input.Tests.Runtime.asmdef
Due: none

See if deleted meta file fails upm-ci
  com.unity.ml-agents/Tests/Editor/AcademyTests.cs.meta
Due: none

Make TrainingAnalyticsSideChannel internal
  com.unity.ml-agents/Runtime/SideChannels/TrainingAnalyticsSideChannel.cs
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
