Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Fixed bug with test_versions.metafile
  .yamato/test_versions.metafile
Due: none

Fixed bug with com.unity.ml-agents-test.yml
  .yamato/com.unity.ml-agents-test.yml
Due: none

add Samples folder
  com.unity.ml-agents/.gitignore
  com.unity.ml-agents/Samples.meta
  com.unity.ml-agents/Samples/3DBall.meta
  com.unity.ml-agents/Samples/3DBall/.sample.json
  com.unity.ml-agents/Samples/3DBall/3DBall.unitypackage.meta
Due: none

add meta file
  com.unity.ml-agents/Samples/3DBall/.sample.json.meta
Due: none

fix git ignore config
  com.unity.ml-agents/.gitignore
  com.unity.ml-agents/Samples/3DBall/3DBall.unitypackage
Due: none

change prefab
  Project/Assets/ML-Agents/Examples/Soccer/Materials/SoccerPitch.mat
  Project/Assets/Project/Prefabs/SoccerFieldTwos.prefab
  Project/demo/striker2_10.demo
  Project/demo/striker2_11.demo
  Project/demo/striker2_8.demo
  Project/demo/striker2_9.demo
Due: none

change rewards
  Project/Assets/Project/Scripts/MSoccerEnvironment.cs
  Project/Assets/Project/Scripts/MSoccerPlayerAgent.cs
Due: none

Reverted validate versions.
  utils/validate_versions.py
Due: validate-init-py

Updated versions.
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

Updated versions. (#5679)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

enable 3D Ball sample import button in package manager for unity sdk (#5665)
  com.unity.ml-agents/.gitignore
  com.unity.ml-agents/Samples.meta
  com.unity.ml-agents/Samples/3DBall.meta
  com.unity.ml-agents/Samples/3DBall/.sample.json
  com.unity.ml-agents/Samples/3DBall/.sample.json.meta
  com.unity.ml-agents/Samples/3DBall/3DBall.unitypackage
  com.unity.ml-agents/Samples/3DBall/3DBall.unitypackage.meta
  com.unity.ml-agents/package.json
Due: none

Update CHANGELOG.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

Updated editor version for DevProject and bumped ml-agents versions in Project and DevProject to 2.2.0-exp.1
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  DevProject/ProjectSettings/ProjectVersion.txt
  Project/Packages/packages-lock.json
Due: none

Bumped package version for patch.
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

Bumped package version for patch.
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents/CHANGELOG.md
Due: none

README updated.
  README.md
  utils/make_readme_table.py
Due: validate-init-py

modes to 8
  ml-agents/mlagents/trainers/torch/decoders.py
Due: validate-init-py

Updated versions for main. Also updated validate versions script to r… (#5668)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Updated README for release. (#5670)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Removed unreleased section. (#5667)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Updated release versions and release links. (#5669)
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/Migrating.md
  docs/Readme.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  ml-agents-envs/README.md
  ml-agents/README.md
  ml-agents/setup.py
  utils/validate_versions.py
Due: validate-init-py

Updates for package validation errors. (#5671)
  DevProject/Packages/manifest.json
  DevProject/Packages/packages-lock.json
  com.unity.ml-agents/LICENSE.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
Due: none

Release 19 branch lts deprecation (#5673)
  .yamato/com.unity.ml-agents-optional-dep-tests.yml
  .yamato/com.unity.ml-agents-pack.yml
  .yamato/com.unity.ml-agents-performance.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/coverage_tests.metafile
  .yamato/standalone-build-webgl-test.yml
  .yamato/test_versions.metafile
  .yamato/training-backcompat-tests.yml
  Project/Packages/manifest.json
  Project/Packages/packages-lock.json
  Project/ProjectSettings/ProjectVersion.txt
  com.unity.ml-agents/CHANGELOG.md
  docs/Installation.md
  docs/Migrating.md
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py
