Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Added GroupId, GlobalGroupId, GlobalAgentId types
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/behavior_id_utils.py
  ml-agents/mlagents/trainers/policy/policy.py
Due: validate-init-py

Update comment
  ml-agents/mlagents/trainers/agent_processor.py
Due: validate-init-py

Make some agent processor properties internal
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
Due: validate-init-py

Rename add_group_status
  ml-agents/mlagents/trainers/agent_processor.py
Due: validate-init-py

Rename store_group_status, fix test
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
Due: validate-init-py

Rename clear_group_obs
  ml-agents/mlagents/trainers/agent_processor.py
Due: validate-init-py

update master to main, remove pylint check
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/gym-interface-test.yml
  .yamato/python-ll-api-test.yml
  README.md
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/CONTRIBUTING.md
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  utils/make_readme_table.py
Due: validate-init-py

undo accidental changes
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/3DBall.unity
  Project/ProjectSettings/ProjectSettings.asset
Due: none

not install pytest-xdist
  .github/workflows/pytest.yml
  test_requirements.txt
Due: none

update master to main, remove pylint check (#5031)
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/gym-interface-test.yml
  .yamato/python-ll-api-test.yml
  README.md
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/CONTRIBUTING.md
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  utils/make_readme_table.py
Due: validate-init-py

Python Dataflow for Group Manager (#4926)
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/behavior_id_utils.py
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/ppo/trainer.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
  ml-agents/mlagents/trainers/tests/test_buffer.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/tests/torch/test_agent_action.py
  ml-agents/mlagents/trainers/torch/agent_action.py
  ml-agents/mlagents/trainers/torch/utils.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

Update package version to 1.0.7 (#5029)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

Bump code coverage for yamato's sake. (#4906)
  DevProject/Packages/manifest.json
Due: none

new examples image?
  docs/images/example-envs.png
Due: none

Make group extrinsic part of extrinsic
  config/ppo/PushBlockCollab.yaml
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/group_extrinsic_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/reward_provider_factory.py
Due: validate-init-py

Bump code coverage for yamato's sake. (#4906) (#5032)
  DevProject/Packages/manifest.json
Due: none

Fix test and init
  ml-agents/mlagents/trainers/tests/torch/test_coma.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/__init__.py
Due: validate-versions, validate-init-py

Make agent colliders tall
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
Due: none

Fix collider
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
Due: none

Update model
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollab.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollab.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollabSuper.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollabSuper.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockMaster.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockMaster.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockSuperCollab.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockSuperCollab.onnx.meta
Due: none

Resolve conflicts in networkbody
  com.unity.ml-agents/Runtime/Sensors/VectorSensorComponent.cs
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

inital evaluate_by_seq, does not run
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Fix tests and bug
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_extrinsic.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/extrinsic_reward_provider.py
Due: validate-init-py

removing Bouncer from build list
  .yamato/standalone-build-test.yml
Due: none

finished evaluate_by_seq, does not run
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

Change API for event writing.
  Project/Assets/ML-Agents/Examples/Dodgeball/Scripts/AgentCubeMovement.cs
  com.unity.ml-agents.extensions/Editor/Input/InputActuatorComponentEditor.cs
  com.unity.ml-agents.extensions/Runtime/Input/IInputActionAssetProvider.cs
  com.unity.ml-agents.extensions/Runtime/Input/IInputEventPtrProvider.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActionActuator.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorActuatorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorActuatorComponent.cs.meta
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorEventContext.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorEventContext.cs.meta
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
Due: none

ignoring precommit, grabbing baseline/critic mems from buffer in trainer
  ml-agents/mlagents/trainers/buffer.py
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/coma/trainer.py
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
Due: validate-init-py

removing documentation and some calls to deprecated methods in the extensions package
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorComponent.cs
  docs/Learning-Environment-Design-Agents.md
Due: none

replacing the Bouncer environment with Match3 for llapi tests
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
Due: none

Typo in yamato test
  .yamato/standalone-build-test.yml
Due: none

lstm almost runs
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/agent_action.py
Due: validate-init-py

Fix issue with queuing input events that stomp on others.
  DevProject/Packages/packages-lock.json
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/ButtonInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/DoubleInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/FloatInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/IntegerInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/Vector2InputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/IRLActionInputAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActionActuator.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorEventContext.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorEventContext.cs.meta
  com.unity.ml-agents.extensions/Runtime/Input/Unity.ML-Agents.Extensions.Input.asmdef
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/ButtonInputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/DoubleInputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/FloatInputActionAdapatorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/IntegerInputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/Vector2InputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActionActuatorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Unity.ML-Agents.Extensions.Input.Tests.Runtime.asmdef
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fix imports.
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorComponent.cs
Due: none

lstm runs with coma
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
Due: validate-init-py

Add group to zombie
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ZombiePushBlockDeathEnvController.cs
Due: none

Fix episode ending
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/1ZombieVs2AgentsPushBlock.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ZombiePushBlockDeathEnvController.cs
Due: none

Fix issue with queuing input events that stomp on others. (#5034)
  DevProject/Packages/packages-lock.json
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/ButtonInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/DoubleInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/FloatInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/IntegerInputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/Adaptors/Vector2InputActionAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/IRLActionInputAdaptor.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActionActuator.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorComponent.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorEventContext.cs
  com.unity.ml-agents.extensions/Runtime/Input/InputActuatorEventContext.cs.meta
  com.unity.ml-agents.extensions/Runtime/Input/Unity.ML-Agents.Extensions.Input.asmdef
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/ButtonInputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/DoubleInputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/FloatInputActionAdapatorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/IntegerInputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Adaptors/Vector2InputActionAdaptorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActionActuatorTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/Unity.ML-Agents.Extensions.Input.Tests.Runtime.asmdef
  com.unity.ml-agents/CHANGELOG.md
Due: none

End episode properly
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/1ZombieVs2AgentsPushBlock.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/ZombiePushBlockDeathEnvController.cs
Due: none

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
