Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

cleanup
  com.unity.ml-agents/Runtime/Academy.cs
Due: none

remove Unreleased section in changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

use release doc branch for colab links
  docs/Readme.md
Due: none

undo bad regex
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Microsoft-Azure.md
  ml-agents-envs/README.md
  ml-agents/README.md
Due: none

fix accidental None in pip commands
  utils/validate_release_links.py
Due: validate-init-py

fix colab links
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
Due: none

one more doc link
  docs/Learning-Environment-Design-Agents.md
Due: none

[Release 18] Update versions and links (#5414)
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
  README.md
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/Migrating.md
  docs/Readme.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  ml-agents/setup.py
  utils/validate_release_links.py
Due: validate-versions, validate-init-py

Update package versions for main branch (#5413)
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

fix docstring
  com.unity.ml-agents/Runtime/Sensors/RayPerceptionSensor.cs
Due: none

add changelog entries for PRs that were missing them before.
  com.unity.ml-agents/CHANGELOG.md
Due: none

add changelog entries for PRs that were missing them before. (#5416)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Remove some dependencies of the trainers on UnityEnvironment (and use BaseEnv instead)
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/subprocess_env_manager.py
Due: validate-init-py

Added version of 3D ball to use environment parameters
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBallAgentArea.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBallAgentArea.prefab.meta
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBallMulti.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBallMulti.prefab.meta
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/3DBallMulti.unity
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/3DBallMulti.unity.meta
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DAgentArea.cs
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DAgentArea.cs.meta
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DMultiAgent.cs
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DMultiAgent.cs.meta
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DRewardTypes.cs
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DRewardTypes.cs.meta
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/3DBallMultiPower.onnx
  Project/Assets/ML-Agents/Examples/3DBall/TFModels/3DBallMultiPower.onnx.meta
Due: none

fix reward calculations
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/AgentSoccer.cs
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerEnvController.cs
Due: none

add model
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
Due: none

Add model back in SoccerTwos example (#5419)
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
Due: none

Add model back in SoccerTwos example (#5419) (#5420)
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
Due: none

fix reward calculations (#5418)
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/AgentSoccer.cs
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerEnvController.cs
Due: none

fix cref error found by doc validation
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
Due: none

cast time penalty to float
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerEnvController.cs
Due: none

fix cref error found by doc validation (#5421)
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
Due: none

fixed episode length modification issue.
  3DBallMultiPower.yaml
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBallAgentArea.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Prefabs/3DBallMulti.prefab
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/3DBallMulti.unity
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DAgentArea.cs
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DMultiAgent.cs
  config/ppo/3DBallMulti_power.yaml
Due: none

Update table with new release
  README.md
  utils/make_readme_table.py
Due: validate-init-py

cast time penalty to float (#5424)
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerEnvController.cs
Due: none

Update table with new release (#5425)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

cast time penalty to float (#5424) (#5426)
  Project/Assets/ML-Agents/Examples/Soccer/Scripts/SoccerEnvController.cs
Due: none

[Release 18] Update versions and links (#5414)
  README.md
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/Migrating.md
  docs/Readme.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/mlagents/trainers/__init__.py
  ml-agents/setup.py
  utils/validate_release_links.py
Due: validate-versions, validate-init-py

fix release versions and changelog section
  com.unity.ml-agents/CHANGELOG.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py
