Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

undo packages-lock.json change
  Project/Packages/packages-lock.json
Due: none

update packages-lock.json
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
Due: none

rename root reference to agent game object
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
  com.unity.ml-agents/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
Due: none

update scene
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaGrid.prefab
Due: none

also update internal names
  com.unity.ml-agents/Runtime/Sensors/BoxOverlapChecker.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/BoxOverlapCheckerTests.cs
Due: none

update migration guide
  docs/Migrating.md
Due: none

update packages-lock.json (#5305)
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
Due: none

update packages-lock.json (#5306)
  DevProject/Packages/packages-lock.json
  Project/Packages/packages-lock.json
Due: none

Remove RB sensor and add X Z velocity obs
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentGridCollab.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentCollab.cs
Due: none

use [1,0,0..] for empty
  com.unity.ml-agents/Runtime/Sensors/GridSensorBase.cs
  com.unity.ml-agents/Runtime/Sensors/OneHotGridSensor.cs
Due: none

list removed APIs with replacements
  com.unity.ml-agents/CHANGELOG.md
  docs/Migrating.md
Due: none

fixes
  Project/Packages/packages-lock.json
  docs/Migrating.md
Due: none

[debug] Require all behavior names to have a matching YAML entry (#5210) (#5296)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_settings.py
  ml-agents/mlagents/trainers/tests/test_trainer_util.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

Update changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Migration guide - list removed APIs with replacements (#5307)
  com.unity.ml-agents/CHANGELOG.md
  docs/Migrating.md
Due: none

doc cleanup
  docs/Learning-Environment-Design-Agents.md
Due: none

[docs] Update changelog (#5308)
  com.unity.ml-agents/CHANGELOG.md
Due: none

doc cleanup (#5309)
  docs/Learning-Environment-Design-Agents.md
Due: none

remove MaxStep from Soccer agents
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/StrikersVsGoalieField.prefab
Due: none

remove MaxStep from Soccer agents (#5310)
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/SoccerFieldTwos.prefab
  Project/Assets/ML-Agents/Examples/Soccer/Prefabs/StrikersVsGoalieField.prefab
Due: none

Bring back root reference in grid sensor (#5300)
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaGrid.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
  com.unity.ml-agents/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Sensors/BoxOverlapChecker.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/BoxOverlapCheckerTests.cs
  docs/Migrating.md
Due: none

[MLA-1952] Add optional seed for gym action spaces (#5303)
  com.unity.ml-agents/CHANGELOG.md
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/tests/test_gym.py
Due: validate-versions, validate-init-py

[MLA-1952] Add optional seed for gym action spaces (#5303) (#5315)
  com.unity.ml-agents/CHANGELOG.md
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/tests/test_gym.py
Due: validate-versions, validate-init-py

Bring back root reference in grid sensor (#5300) (#5313)
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockCollabAreaGrid.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockCollab.unity
  com.unity.ml-agents/Editor/GridSensorComponentEditor.cs
  com.unity.ml-agents/Runtime/Sensors/BoxOverlapChecker.cs
  com.unity.ml-agents/Runtime/Sensors/GridSensorComponent.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/BoxOverlapCheckerTests.cs
  docs/Migrating.md
Due: none

[Release 17] Updating the release table on README.md (#5289)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Release 17 version bumps and docs version bumps (#5280)
  README.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Migrating.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  ml-agents-envs/README.md
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/README.md
  ml-agents/setup.py
Due: validate-versions, validate-init-py

[MLA-1952] Add optional seed for gym action spaces (#5303) (#5315)
  com.unity.ml-agents/CHANGELOG.md
Due: none

Error in rebasing being fixed. mlagents_envs package was using a release version
  ml-agents-envs/mlagents_envs/__init__.py
Due: validate-versions, validate-init-py

Release 17 version bumps and docs version bumps (#5280)
  README.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Migrating.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Training-on-Microsoft-Azure.md
  docs/Unity-Inference-Engine.md
  ml-agents-envs/README.md
  ml-agents/README.md
  ml-agents/setup.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
