Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Rename Actions in BrainParameter drawers, Update tutorial docs (#4748)
  com.unity.ml-agents/Editor/BrainParametersDrawer.cs
  docs/Learning-Environment-Create-New.md
  docs/images/3dball_learning_brain.png
  docs/images/roller-ball-agent.png
  docs/images/team_id.png
Due: none

[MLA-1587] Don't warn about minor version mismatch, add links in specific messages (#4688) (#4759)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  com.unity.ml-agents/Tests/Editor/Communicator/RpcCommunicatorTests.cs
  ml-agents-envs/mlagents_envs/environment.py
Due: validate-init-py

In-Editor Analytics for inference (#4677) (#4758)
  README.md
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Analytics.meta
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs.meta
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs.meta
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
  com.unity.ml-agents/Tests/Editor/Analytics.meta
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs
  com.unity.ml-agents/Tests/Editor/Analytics/InferenceAnalyticsTests.cs.meta
Due: none

Update python to 0.24.0.dev0 and C# to 1.7.0 (#4753)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

update GridFoodCollector model
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/GridFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.nn
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.nn.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx.meta
Due: none

[Release 11]Update unreleased section in changelog (#4751)
  com.unity.ml-agents/CHANGELOG.md
Due: none

add tank
  Project/Assets/ML-Agents/Examples/FPS_Game/3D Assets.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/3D Assets/Shield.fbx
  Project/Assets/ML-Agents/Examples/FPS_Game/3D Assets/Shield.fbx.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/3D Assets/Shield2.fbx
  Project/Assets/ML-Agents/Examples/FPS_Game/3D Assets/Shield2.fbx.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Input/FPSAgentInput.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Input/FPSPlayerInputActions.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Input/FPSPlayerInputActions.inputactions
  Project/Assets/ML-Agents/Examples/FPS_Game/Scenes/FPS_Game.unity
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/AgentCubeMovement.cs
Due: none

update lib versions and references to release 10 (#4755)
  README.md
  com.unity.ml-agents.extensions/Documentation~/Grid-Sensor.md
  com.unity.ml-agents.extensions/Documentation~/Match3.md
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

set number of obstacles to 1 in scene
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorld.unity
Due: none

update readme table and README (#4757)
  README.md
  utils/make_readme_table.py
Due: validate-init-py

Use hypernetwork in both places
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/decoders.py
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/layers.py
Due: validate-init-py

upm-ci back to stable
  .yamato/com.unity.ml-agents-pack.yml
  .yamato/com.unity.ml-agents-test.yml
Due: none

Fix typo
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

Rename Actions in BrainParameter drawers, Update tutorial docs (#4748) (#4760)
  com.unity.ml-agents/Editor/BrainParametersDrawer.cs
  docs/Learning-Environment-Create-New.md
  docs/images/3dball_learning_brain.png
  docs/images/roller-ball-agent.png
  docs/images/team_id.png
Due: none

fix demo import and drawer
  com.unity.ml-agents/Editor/DemonstrationDrawer.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
Due: none

remove unreleased section of changelog (#4754)
  com.unity.ml-agents/CHANGELOG.md
Due: none

update models
  Project/Assets/ML-Agents/Examples/FoodCollector/Demos/ExpertFood.demo
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/FoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/VisualFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorAgent.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.onnx.meta
  com.unity.ml-agents/CHANGELOG.md
Due: none

fix update action spec
  com.unity.ml-agents/Runtime/Policies/BrainParameters.cs
Due: none

revert
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/FoodCollector.unity
Due: none

fix demo loader
  ml-agents/mlagents/trainers/demo_loader.py
Due: validate-init-py

Remove prints
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Turn down gain on GAIL discriminator output
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
Due: validate-init-py

fix tests
  ml-agents/mlagents/trainers/demo_loader.py
Due: validate-init-py

set flag to true
  com.unity.ml-agents/Runtime/Policies/BrainParameters.cs
Due: none

created goal configs
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/goal highScore.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/goal highScore.prefab.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config/GoalConfig.cs
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config/GoalConfig.cs.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config/GoalConfig_highScore.asset
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config/GoalConfig_highScore.asset.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config/GoalConfig_lowScore.asset
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/config/GoalConfig_lowScore.asset.meta
Due: none

add symbol arena
  Project/Assets/ML-Agents/Examples/FPS_Game/3D Assets/CircleArena.fbx
  Project/Assets/ML-Agents/Examples/FPS_Game/3D Assets/CircleArena.fbx.meta
  Project/Assets/ML-Agents/Examples/FPS_Game/Scenes/FPS_Game.unity
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/AgentCubeMovement.cs
  Project/Assets/ML-Agents/Examples/FPS_Game/Scripts/FPSAgent.cs
  Project/Assets/ML-Agents/Examples/Hallway/Scenes/Hallway.unity
Due: none

prepare scene
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/AreaMultipleGoals.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/AreaMultipleGoals.prefab.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorldMultipleGoals.unity
  Project/Assets/ML-Agents/Examples/GridWorld/Scenes/GridWorldMultipleGoals.unity.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgentMultipleGoals.cs
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgentMultipleGoals.cs.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAreaMultipleGoals.cs
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAreaMultipleGoals.cs.meta
Due: none

implemented Goal config into prefabs
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/AreaMultipleGoals.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/goal highScore.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/goal.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GoalControl.cs
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GoalControl.cs.meta
  Project/Assets/ML-Agents/Examples/GridWorld/Scripts/GridAgentMultipleGoals.cs
Due: none

WIP Made initial changes to enale dimension properties and added attention module
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/Observation.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensorComponent.cs
  com.unity.ml-agents/Runtime/Sensors/IDimensionPropertiesSensor.cs
  gym-unity/gym_unity/envs/__init__.py
  gym-unity/gym_unity/tests/test_gym.py
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/communicator_objects/observation_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/observation_pb2.pyi
  ml-agents-envs/mlagents_envs/rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_envs.py
  ml-agents-envs/mlagents_envs/tests/test_registry.py
  ml-agents-envs/mlagents_envs/tests/test_rpc_utils.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/test_demo_loader.py
  ml-agents/mlagents/trainers/tests/torch/test_attention.py
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_curiosity.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_extrinsic.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_rnd.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
  ml-agents/mlagents/trainers/torch/attention.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/rnd_reward_provider.py
  ml-agents/mlagents/trainers/torch/model_serialization.py
  ml-agents/tests/yamato/scripts/run_llapi.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/observation.proto
Due: validate-versions, validate-init-py

addressing comments
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

forgot a file
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
Due: validate-init-py

Fixing the meta files
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs
  com.unity.ml-agents/Runtime/Sensors/BufferSensor.cs.meta
  com.unity.ml-agents/Runtime/Sensors/BufferSensorComponent.cs.meta
  com.unity.ml-agents/Runtime/Sensors/IDimensionPropertiesSensor.cs.meta
Due: none

ran model with multiple goals
  .gitignore
  Project/Assets/ML-Agents/Examples/GridWorld/Prefabs/AreaMultipleGoals.prefab
  Project/Assets/ML-Agents/Examples/GridWorld/TFModels/GridWorldMultipleGoals.onnx
  Project/Assets/ML-Agents/Examples/GridWorld/TFModels/GridWorldMultipleGoals.onnx.meta
  config/ppo/GridWorldMultipleGoals.yaml
Due: none

remove print
  ml-agents/mlagents/trainers/demo_loader.py
Due: validate-init-py

Hybrid FoodCollector (#4746)
  Project/Assets/ML-Agents/Examples/FoodCollector/Demos/ExpertFood.demo
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/FoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/GridFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/VisualFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorAgent.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.nn
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.nn.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/FoodCollector.onnx.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.nn
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.nn.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx
  Project/Assets/ML-Agents/Examples/FoodCollector/TFModels/GridFoodCollector.onnx.meta
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Editor/DemonstrationDrawer.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Policies/BrainParameters.cs
  docs/Learning-Environment-Examples.md
  ml-agents/mlagents/trainers/demo_loader.py
Due: validate-init-py

fix export
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

typo
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

Update ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/distributions.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
