Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

add method summaries
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
Due: none

replace deprecated checks with extension method
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
Due: none

Update release_9 versions (#4621)
  README.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
  utils/make_readme_table.py
Due: validate-versions, validate-init-py

fix tests
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Tests/Editor/EditModeTestInternalBrainTensorApplier.cs
  com.unity.ml-agents/Tests/Editor/ModelRunnerTest.cs
  com.unity.ml-agents/Tests/Editor/ParameterLoaderTest.cs
Due: none

move deprecated fields
  com.unity.ml-agents/Runtime/Inference/TensorNames.cs
Due: none

ml-agents-envs pass
  Project/Assets/ML-Agents/Examples/PushBlock/Demos/ExpertPush.demo.meta
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/tests/test_envs.py
  ml-agents-envs/mlagents_envs/tests/test_steps.py
  ml-agents/mlagents/trainers/env_manager.py
  ml-agents/mlagents/trainers/optimizer/tf_optimizer.py
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/simple_env_manager.py
  ml-agents/mlagents/trainers/subprocess_env_manager.py
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/curiosity/signal.py
  ml-agents/mlagents/trainers/tf/components/reward_signals/gail/signal.py
Due: validate-init-py

WIP
  com.unity.ml-agents/Runtime/Analytics.meta
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs.meta
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs.meta
Due: none

rename extract to from_dict
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

fix bug
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
Due: none

agent processor tests
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
Due: validate-init-py

fix demo loader tests
  ml-agents/mlagents/trainers/tests/test_demo_loader.py
Due: validate-init-py

Add new model and tests to ParameterLoaderTest
  com.unity.ml-agents/Tests/Editor/EditModeTestInternalBrainTensorApplier.cs
  com.unity.ml-agents/Tests/Editor/ParameterLoaderTest.cs
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action.nn.meta
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action.onnx.meta
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action_deprecated.nn
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action_deprecated.nn.meta
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr.nn.meta
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr.onnx.meta
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr_deprecated.nn
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr_deprecated.nn.meta
  com.unity.ml-agents/Tests/Editor/TestModels/hybrid0vis53vec_3c_2daction.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/hybrid0vis53vec_3c_2daction.onnx.meta
Due: none

rename heuristic logic in match3 agent, doc links
  Project/Assets/ML-Agents/Examples/Match3/Scenes/Match3.unity
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Agent.cs
  com.unity.ml-agents.extensions/Documentation~/com.unity.ml-agents.extensions.md
  config/ppo/Match3.yaml
Due: none

add comments
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
Due: none

early out in tensorApplier if model is null
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
Due: none

test_trajectory fixed
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/policy/tf_policy.py
  ml-agents/mlagents/trainers/ppo/optimizer_tf.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_simple_rl.py
  ml-agents/mlagents/trainers/tests/test_trajectory.py
  ml-agents/mlagents/trainers/trajectory.py
Due: validate-init-py

remove unused
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/TensorNames.cs
Due: none

fixed recurrent prev_action issue
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/optimizer/tf_optimizer.py
  ml-agents/mlagents/trainers/sac/optimizer_tf.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_simple_rl.py
Due: validate-init-py

WIP
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  com.unity.ml-agents/Runtime/Policies/BehaviorParameters.cs
Due: none

yamato triggers - run on non-master PRs
  .yamato/com.unity.ml-agents-performance.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/compressed-sensor-test.yml
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
Due: none

fix test_tf_policy
  ml-agents/mlagents/trainers/policy/tf_policy.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_tf_policy.py
Due: validate-init-py

fix torch test_ppo
  ml-agents/mlagents/trainers/tests/torch/test_ppo.py
Due: validate-init-py

fix torch utils test
  ml-agents/mlagents/trainers/tests/torch/test_utils.py
Due: validate-init-py

discrete/contionuous unity envs train
  ml-agents/mlagents/trainers/env_manager.py
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

fix tests
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Tests/Editor/Actuators/ActuatorManagerTests.cs
  com.unity.ml-agents/Tests/Editor/ModelRunnerTest.cs
Due: none

kind of working
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Match3Heuristic.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Match3VectorObs.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles.meta
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/AgentCube_M3.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/AgentCube_M3.prefab.meta
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/BlankTile.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/BlankTile.prefab.meta
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/TILE_Base.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/TILE_Base.prefab.meta
  Project/Assets/ML-Agents/Examples/Match3/Scenes/Match3.unity
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Board.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Drawer.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3TileSelector.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3TileSelector.cs.meta
Due: none

agent processor tests
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
Due: validate-init-py

added symbol gameobjects
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/TILE_Base.prefab
  Project/Assets/ML-Agents/Examples/Match3/Scenes/Match3.unity
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Board.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Drawer.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3TileSelector.cs
Due: none

fix torch test policy
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
Due: validate-init-py

Barracuda inference for hybrid actions (#4611)
  .yamato/com.unity.ml-agents-performance.yml
  .yamato/com.unity.ml-agents-test.yml
  .yamato/compressed-sensor-test.yml
  .yamato/gym-interface-test.yml
  .yamato/protobuf-generation-test.yml
  .yamato/python-ll-api-test.yml
  .yamato/standalone-build-test.yml
  .yamato/training-int-tests.yml
  com.unity.ml-agents/Runtime/Actuators/ActionSegment.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs.meta
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Runtime/Inference/TensorApplier.cs
  com.unity.ml-agents/Runtime/Inference/TensorGenerator.cs
  com.unity.ml-agents/Runtime/Inference/TensorNames.cs
  com.unity.ml-agents/Runtime/Policies/BarracudaPolicy.cs
  com.unity.ml-agents/Tests/Editor/Actuators/ActuatorManagerTests.cs
  com.unity.ml-agents/Tests/Editor/EditModeTestInternalBrainTensorApplier.cs
  com.unity.ml-agents/Tests/Editor/ModelRunnerTest.cs
  com.unity.ml-agents/Tests/Editor/ParameterLoaderTest.cs
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action.nn.meta
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action.onnx.meta
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action_deprecated.nn
  com.unity.ml-agents/Tests/Editor/TestModels/continuous2vis8vec2action_deprecated.nn.meta
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr.nn.meta
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr.onnx.meta
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr_deprecated.nn
  com.unity.ml-agents/Tests/Editor/TestModels/discrete1vis0vec_2_3action_recurr_deprecated.nn.meta
  com.unity.ml-agents/Tests/Editor/TestModels/hybrid0vis53vec_3c_2daction.onnx
  com.unity.ml-agents/Tests/Editor/TestModels/hybrid0vis53vec_3c_2daction.onnx.meta
Due: none

basic shapes & colors working
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/TILE_Base.prefab
  Project/Assets/ML-Agents/Examples/Match3/Scenes/Match3.unity
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Drawer.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3TileSelector.cs
Due: none

move model methods to BarracudaModelExtensions
  com.unity.ml-agents/Runtime/Inference/BarracudaModelExtensions.cs
  com.unity.ml-agents/Runtime/Inference/BarracudaModelParamLoader.cs
  com.unity.ml-agents/Runtime/Inference/ModelRunner.cs
  com.unity.ml-agents/Tests/Editor/ParameterLoaderTest.cs
Due: none

cleanup and added background
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/3.fbx
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/3.fbx.meta
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Match.fbx
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Match.fbx.meta
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Match3Heuristic.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Match3VectorObs.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Match3VisualObs.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/AgentCube_M3.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/AgentCube_M3.prefab.meta
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/BlankTile.prefab
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/BlankTile.prefab.meta
  Project/Assets/ML-Agents/Examples/Match3/Prefabs/Tiles/TILE_Base.prefab
  Project/Assets/ML-Agents/Examples/Match3/Scenes/Match3.unity
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Board.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3Drawer.cs
  Project/Assets/ML-Agents/Examples/Match3/Scripts/Match3TileSelector.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/LightGrey.mat
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/LightGrey.mat.meta
Due: none

remove unused import
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

add docstrings to AgentAction and ActionLogProbs
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

revert demo
  Project/Assets/ML-Agents/Examples/PushBlock/Demos/ExpertPush.demo.meta
Due: none

Add HybridFoodCollector
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/HybridFoodCollectorArea.prefab
  Project/Assets/ML-Agents/Examples/FoodCollector/Prefabs/HybridFoodCollectorArea.prefab.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/HybridFoodCollector.unity
  Project/Assets/ML-Agents/Examples/FoodCollector/Scenes/HybridFoodCollector.unity.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorActuatorComponent.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorActuatorComponent.cs.meta
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorController.cs
  Project/Assets/ML-Agents/Examples/FoodCollector/Scripts/FoodCollectorController.cs.meta
Due: none

1:1 and continuous/discrete train
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
  ml-agents/mlagents/trainers/tests/torch/test_hybrid.py
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/distributions.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

Trainer with attention
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py
