Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Diverse Setting text and control models
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDiverse.unity
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/CrawlerDiverse3_6_23.onnx
  Project/Assets/ML-Agents/Examples/Crawler/TFModels/CrawlerDiverse3_6_23.onnx.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/DisplayVariable.cs
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/DisplayVariable.cs.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerDiverse.unity
  Project/Assets/ML-Agents/Examples/Walker/TFModels/WalkerDiverse3_6_23.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/WalkerDiverse3_6_23.onnx.meta
  Project/Assets/ML-Agents/Examples/Worm/Scenes/WormDiverse.unity
  Project/Assets/ML-Agents/Examples/Worm/TFModels/WormDiverse3_6_23.onnx
  Project/Assets/ML-Agents/Examples/Worm/TFModels/WormDiverse3_6_23.onnx.meta
Due: none

Test fix
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_sac.py
Due: validate-init-py

Changes for particle env to run
  ml-agents-envs/mlagents_envs/particles_env.py
  ml-agents/mlagents/trainers/learn.py
Due: validate-init-py

TorchPolicy formatting
  ml-agents/mlagents/trainers/policy/torch_policy.py
Due: validate-init-py

reparameterization chagelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fix when terminal steps are deleted, robust test
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
Due: validate-init-py

Update changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fix test comment
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
Due: validate-init-py

add coma
  ml-agents/mlagents/trainers/coma/__init__.py
  ml-agents/mlagents/trainers/coma/optimizer_torch.py
  ml-agents/mlagents/trainers/coma/trainer.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-versions, validate-init-py

[bug-fix] Fix when group terminal steps are deleted, robust test (#5441)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/tests/mock_brain.py
  ml-agents/mlagents/trainers/tests/test_agent_processor.py
Due: validate-init-py

Encoder, L2, and saliency norms
  config/sac/CrawlerDiverse.yaml
  config/sac/WalkerDiverse.yaml
  config/sac/WormDiverse.yaml
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Temp walker hack
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Fix raycasts and colliders
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAgentRayCollab.prefab
Due: none

Revert to before hack
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Adapting learn.py
  ml-agents-envs/mlagents_envs/particles_env.py
  ml-agents/mlagents/trainers/learn.py
Due: validate-init-py

absorbing state dungeon escape
  Project/Assets/ML-Agents/Examples/DungeonEscape/Prefabs/DungeonEscapeAgent.prefab
  Project/Assets/ML-Agents/Examples/DungeonEscape/Scripts/DungeonEscapeEnvController.cs
  config/coma/DungeonEscape.yaml
  config/coma/PushBlockCollab.yaml
  config/coma/SoccerTwos.yaml
  config/coma/StrikersVsGoalie.yaml
Due: none

update editor version
  Project/ProjectSettings/ProjectVersion.txt
Due: none

added a environment where the agent has to spawn other agents
  Project/Assets/ML-Agents/Examples/SpawnCollector.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollector.onnx
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollector.onnx.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Prefabs.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Prefabs/Agent.prefab
  Project/Assets/ML-Agents/Examples/SpawnCollector/Prefabs/Agent.prefab.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Prefabs/Food.prefab
  Project/Assets/ML-Agents/Examples/SpawnCollector/Prefabs/Food.prefab.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scenes.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scenes/Court.prefab
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scenes/Court.prefab.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scenes/SpwanCollector.unity
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scenes/SpwanCollector.unity.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnArea.cs
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnArea.cs.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnButton.cs
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnButton.cs.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnCollectorAgent.cs
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnCollectorAgent.cs.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnCollectorFood.cs
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnCollectorFood.cs.meta
  config/poca/SpawnCollector.yaml
Due: none

Saliency dropout epsilon
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Push Block Diverse
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAreaDiverse.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockAreaDiverse.prefab.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockDiverse.unity
  Project/Assets/ML-Agents/Examples/PushBlock/Scenes/PushBlockDiverse.unity.meta
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentBasic.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentDiverse.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentDiverse.cs.meta
  config/sac/PushBlockDiverse.yaml
Due: none

MEDE discrete action support
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

modify init entityembedding
  ml-agents/mlagents/trainers/torch/attention.py
Due: validate-init-py

discrete action saliency
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

add utils tracker
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/utils_tracker.py
  ml-agents/setup.py
Due: validate-init-py

Revert changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Remove unused reparameterize arg from Policy class (#5436)
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_sac.py
Due: validate-init-py

Mede parameters
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

write results in tensorboard
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/utils_tracker.py
Due: validate-init-py

DE configs
  config/coma/DungeonEscape.yaml
  config/poca/DungeonEscape.yaml
Due: none

added code for logging metrics to file.
  Project/Assets/ML-Agents/Examples/3DBall/Scenes/3DBallMulti.unity
  Project/Assets/ML-Agents/Examples/3DBall/Scripts/Ball3DMultiAgent.cs
  Project/Assets/ML-Agents/Examples/PushBlock/Scripts/PushAgentBasicMulti.cs
  config/ppo/3DBallMulti_power_ep.yaml
  ml-agents/mlagents/trainers/agent_processor.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/trainer/rl_trainer.py
Due: validate-init-py

revert obsv
  Project/Assets/ML-Agents/Examples/Walker/Scenes/Walker.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
Due: none

Modify Scripts. POCA can learn after 150M steps while PPO cannot
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollector Kill2Sspawn.onnx
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollector Kill2Sspawn.onnx.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollectorPOCAKillSpawn.onnx
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollectorPOCAKillSpawn.onnx.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollectorPocaNonumagent.onnx
  Project/Assets/ML-Agents/Examples/SpawnCollector/NNModels/SpawnCollectorPocaNonumagent.onnx.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Prefabs/Agent.prefab
  Project/Assets/ML-Agents/Examples/SpawnCollector/Prefabs/Court.prefab
  Project/Assets/ML-Agents/Examples/SpawnCollector/Prefabs/Court.prefab.meta
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scenes/Court.prefab
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scenes/SpwanCollector.unity
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnArea.cs
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnButton.cs
  Project/Assets/ML-Agents/Examples/SpawnCollector/Scripts/SpawnCollectorAgent.cs
Due: none

MEDE toggle
  config/sac/BasicDiverse.yaml
  config/sac/PushBlockDiverse.yaml
  config/sac/WalkerDiverse.yaml
  config/sac/WormDiverse.yaml
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Value and policy non mede loss
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Mede noise toggle
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

MEDE no noise logging fix
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

add system-wise data
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/utils_tracker.py
Due: validate-init-py

add CLI option for tracking
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/utils_tracker.py
Due: validate-init-py
