Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Reverted config changes to remove beta and epsilon schedules.
  config/imitation/Crawler.yaml
  config/imitation/Hallway.yaml
  config/imitation/PushBlock.yaml
  config/poca/DungeonEscape.yaml
  config/poca/PushBlockCollab.yaml
  config/poca/SoccerTwos.yaml
  config/poca/StrikersVsGoalie.yaml
  config/ppo/3DBall.yaml
  config/ppo/3DBallHard.yaml
  config/ppo/3DBall_randomize.yaml
  config/ppo/Basic.yaml
  config/ppo/Crawler.yaml
  config/ppo/FoodCollector.yaml
  config/ppo/GridWorld.yaml
  config/ppo/Hallway.yaml
  config/ppo/Match3.yaml
  config/ppo/PushBlock.yaml
  config/ppo/Pyramids.yaml
  config/ppo/PyramidsRND.yaml
  config/ppo/Sorter_curriculum.yaml
  config/ppo/Visual3DBall.yaml
  config/ppo/VisualFoodCollector.yaml
  config/ppo/Walker.yaml
  config/ppo/WallJump.yaml
  config/ppo/WallJump_curriculum.yaml
  config/ppo/Worm.yaml
Due: none

mypy error fixed from pre-commit.
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Mede noise bug fix
  Project/Assets/ML-Agents/Examples/LaserMaze/Scripts/LaserAgentDiverse.cs
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Mede noise bug fix (#5544)
  Project/Assets/ML-Agents/Examples/LaserMaze/Scripts/LaserAgentDiverse.cs
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Fixed a bug that was causing a settings test to fail.
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

using randn_like for variational bottleneck
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

using randn_like for variational bottleneck (#5545)
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

fix vail, reduce test iterations
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
Due: validate-init-py

update CHANGELOG
  com.unity.ml-agents/CHANGELOG.md
Due: none

Fix VAIL (#5546)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents/mlagents/trainers/tests/torch/test_reward_providers/test_gail.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
Due: validate-init-py

Added training area replicator to com.unity.ml-agents package.
  com.unity.ml-agents/Runtime/Areas.meta
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs.meta
  com.unity.ml-agents/Runtime/Unity.ML-Agents.asmdef
Due: none

allow generated agents with api changes from pettingzoo
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
  pettingzoo-unity/pettingzoo_unity/tests/simple_test_envs.py
Due: validate-init-py

Added num_areas to Unity RL Initialization proto. Added cli and config file support for num_areas.
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
  com.unity.ml-agents/Runtime/Communicator/GrpcExtensions.cs
  com.unity.ml-agents/Runtime/Communicator/ICommunicator.cs
  com.unity.ml-agents/Runtime/Grpc/CommunicatorObjects/UnityRlInitializationInput.cs
  docs/Python-API-Documentation.md
  ml-agents-envs/mlagents_envs/communicator_objects/unity_rl_initialization_input_pb2.py
  ml-agents-envs/mlagents_envs/communicator_objects/unity_rl_initialization_input_pb2.pyi
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/tests/test_learn.py
  ml-agents/mlagents/trainers/tests/test_settings.py
  protobuf-definitions/proto/mlagents_envs/communicator_objects/unity_rl_initialization_input.proto
Due: validate-init-py

stochastic envs
  docs/Python-API.md
Due: none

Fix broken link in documentation (#5477)
  docs/Python-API.md
Due: none

Update Learning-Environment-Design-Agents.md (#5507)
  docs/Learning-Environment-Design-Agents.md
Due: none

Initialize-from custom checkpoints (#5525)
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-Configuration-File.md
  ml-agents/mlagents/trainers/directory_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/tests/test_trainer_util.py
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

Update README.md with new survey link(#5500)
  README.md
Due: none

Update gym version to 0.20.0 (#5540)
  com.unity.ml-agents/CHANGELOG.md
  gym-unity/gym_unity/tests/test_gym.py
  gym-unity/setup.py
Due: validate-init-py

Fix Mac backcompat test (#5519)
  .yamato/training-backcompat-tests.yml
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  ml-agents/tests/yamato/training_int_tests.py
  ml-agents/tests/yamato/yamato_utils.py
Due: validate-init-py

Update dotnet-format to address breaking changes introduced by upstream changes (#5528)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Fix test failures on trunk with input system 1.1.1 (#5542)
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
Due: none

added change log
  com.unity.ml-agents/CHANGELOG.md
Due: none

2 fixes but i am not confident everything is correct
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Custom trainer editor analytics (#5511)
  com.unity.ml-agents/CHANGELOG.md
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents-envs/mlagents_envs/side_channel/__init__.py
  ml-agents-envs/mlagents_envs/side_channel/default_training_analytics_side_channel.py
  ml-agents/mlagents/training_analytics_side_channel.py
Due: validate-versions, validate-init-py

fix log prob calculation
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

Discrete MEDE fixes (#5548)
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
Due: validate-init-py

upgrade 1.0.9
  com.unity.ml-agents/package.json
Due: none

Adding an option to make basic diverse continuous
  Project/Assets/ML-Agents/Examples/BasicDiverse/Prefabs/Platform.prefab
  Project/Assets/ML-Agents/Examples/BasicDiverse/Prefabs/PlatformRotate.prefab
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverse.cs
  Project/Assets/ML-Agents/Examples/BasicDiverse/Scripts/BasicDiverseRotate.cs
  Project/ProjectSettings/EditorBuildSettings.asset
Due: none

Changed training area replicator to size grid automatically from number of areas.
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
Due: none

Restart working with hardcoded limits.
  ml-agents-envs/mlagents_envs/rpc_communicator.py
  ml-agents/mlagents/trainers/subprocess_env_manager.py
Due: validate-init-py

Added tests for the training area replicator.
  com.unity.ml-agents/Runtime/Areas/TrainingAreaReplicator.cs
  com.unity.ml-agents/Tests/Editor/Areas.meta
  com.unity.ml-agents/Tests/Editor/Areas/TrainingAreaReplicatorTests.cs
  com.unity.ml-agents/Tests/Editor/Areas/TrainingAreaReplicatorTests.cs.meta
  com.unity.ml-agents/Tests/Editor/Unity.ML-Agents.Editor.Tests.asmdef
Due: none

Adding Static Crawler
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverse.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverseStatic.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/CrawlerDiverseStatic.prefab.meta
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/PlatformDiverseStatic.prefab
  Project/Assets/ML-Agents/Examples/Crawler/Prefabs/PlatformDiverseStatic.prefab.meta
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDiverseStatic.unity
  Project/Assets/ML-Agents/Examples/Crawler/Scenes/CrawlerDiverseStatic.unity.meta
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverseStatic.cs
  Project/Assets/ML-Agents/Examples/Crawler/Scripts/CrawlerAgentDiverseStatic.cs.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/GridMatFloorLarge.mat
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/GridMatFloorLarge.mat.meta
  Project/Assets/ML-Agents/Examples/SharedAssets/Materials/GridPatternShader.shader
Due: none

Add test
  ml-agents/mlagents/trainers/subprocess_env_manager.py
  ml-agents/mlagents/trainers/tests/test_subprocess_env_manager.py
Due: validate-init-py

Added setup for tests for the training area replicator.
  com.unity.ml-agents/Tests/Editor/Areas.meta
  com.unity.ml-agents/Tests/Editor/Areas/TrainingAreaReplicatorTests.cs
Due: none

Add configurable restart params under EnvironmentSettings
  ml-agents/mlagents/trainers/cli_utils.py
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/subprocess_env_manager.py
Due: validate-init-py

Update changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update docs
  docs/Training-ML-Agents.md
Due: none
