Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Changed physics settings for walker ase. Fixed walker ase reset. Re-recorded demos.
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkC.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkC.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMIdle.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMIdle.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NGEFCrawlForward.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NGEFCrawlForward.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
  Project/ProjectSettings/DynamicsManager.asset
  Project/ProjectSettings/TimeManager.asset
Due: none

Reverting BCE.
  config/ase/WalkerASE.yml
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
Due: validate-init-py

Added early termination to walker ase.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
Due: none

Added standing reward to walker ASE.
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NGEFCrawlForward.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NGEFCrawlForward.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE-49999911.onnx
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE-49999911.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerStandingRewardSystem.cs
Due: none

Removed erroneous policy.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE-49999911.onnx
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE-49999911.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
Due: none

Added walker ase reward system with recorded demos.
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassRunW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkC.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkC.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMCompassWalkW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMIdle.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/NEGMIdle.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
  Project/ProjectSettings/TimeManager.asset
Due: none

Updated walker ase training config.
  Project/ProjectSettings/EditorSettings.asset
  config/ase/WalkerASE.yml
Due: none

add early termination
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ToJointRange.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ToJointRange.cs.meta
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
Due: none

INCREMENTAL JD WALKER WORKING
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/JointDriveController.cs
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/Platform.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/Walker.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker RETEST.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker RETEST.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker walkerFixedRetestIncrement15.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker walkerFixedRetestIncrement15.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/Walker.nn.meta
  Project/Assets/ML-Agents/Examples/Walker/TFModels/WalkerwalkerFixedRetestIncrement15ArmsDown.onnx
  Project/Assets/ML-Agents/Examples/Walker/TFModels/WalkerwalkerFixedRetestIncrement15ArmsDown.onnx.meta
  Project/Assets/ML-Agents/Examples/Walker/WalkerRagdoll.prefab.meta
  Project/ProjectSettings/DynamicsManager.asset
  config/ppo/Walker.yaml
Due: none

Added bottleneck to Linear Encoder.
  config/ase/WalkerASE.yml
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
  ml-agents/mlagents/trainers/torch_entities/layers.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-init-py

Added state and next state inputs to ase.
  ml-agents/mlagents/trainers/demo_loader.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-init-py

Reverted walker ase settings.
  config/ase/WalkerASE.yml
Due: none

Fixed a bug in the ppo optimizer introduced by ase. Updated walker stand config and scene.
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/WalkerASETrainingArea.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerStand.unity
  config/ase/WalkerStand.yml
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
Due: validate-init-py

Update to walker stand env.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerStand.unity
Due: none

Set training config for walker ase to paper settings.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  config/ase/WalkerASE.yml
Due: none

Added prototype configurable joint extension to get the current joint rotation. Removed debug logs from Walker ase.
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointExtensions.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointExtensions.cs.meta
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
Due: none

Fixed reset issue with walker ase for added delay in stand reset to wait for walker to settle.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
Due: none

Fixed bug in diversity objective. Added weight decay regularization.
  ml-agents/mlagents/trainers/ase/optimizer_torch.py
  ml-agents/mlagents/trainers/results/ppo/configuration.yaml
  ml-agents/mlagents/trainers/results/ppo/run_logs/timers.json
  ml-agents/mlagents/trainers/results/ppo/run_logs/training_status.json
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch_entities/action_model.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-init-py

walker ase scene update.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
Due: none

Changed walker ase freq to 120Hz physics and 30Hz decision. Clean up of walker ase agent script. Re-recording ase demos.
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/Humanoid Boxing.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/Humanoid Boxing.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/Humanoid Soccer .demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/Humanoid Soccer .demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerIdle.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerIdle.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
Due: none

Changed ase discriminator loss to use bce with logits loss.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
  config/ase/WalkerASE.yml
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
Due: validate-init-py

Added discriminator logit regularization to ase.
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/LocalFrameController.cs
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/WalkerASETrainingArea.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  ml-agents/mlagents/trainers/settings.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/ase_reward_provider.py
Due: validate-init-py

Minor tweaks. Re-recording ase demos.
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/Humanoid Boxing.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/Humanoid Boxing.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/Humanoid Soccer .demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/Humanoid Soccer .demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerIdle.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerIdle.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
Due: none

Added option to have x and yz drive to walker ase.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
Due: none

Added support for configuration of spring and damping for individual joints in walker ase. Matched walker ase joint strenght params to ASE repo.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
Due: none

Adjusted walker ase joint angles to more closely match the ase repo.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
Due: none

Added joint angle scaling when applying actions to walker ase.
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
Due: none

Updated walker ase environment with fixed local frame look to direction. Fixed physics settings reset issue with walker ase.
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/LocalFrameController.cs
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/WalkerASETrainingArea.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
Due: none

Re-recorded demos for walker ase.
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerIdle.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerIdle.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
Due: none

add test file for ase reward provider
  ml-agents/mlagents/trainers/tests/torch_entities/test_reward_providers/test_ase.py
Due: validate-init-py

add ase keys and configs
  ml-agents/mlagents/trainers/tests/dummy_config.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_ppo.py
  ml-agents/mlagents/trainers/tests/torch_entities/test_reward_providers/utils.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/__init__.py
Due: validate-versions, validate-init-py

testing required diversity stats
  ml-agents/mlagents/trainers/tests/torch_entities/test_ppo.py
Due: validate-init-py

Fix LSTM inference (Hallway env)
  com.unity.ml-agents/Runtime/Inference/ApplierImpl.cs
  com.unity.ml-agents/Runtime/Inference/GeneratorImpl.cs
Due: none

Updated walker ase observations.
  Project/Assets/ML-Agents/Examples/SharedAssets/Scripts/LocalFrameController.cs
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerIdle.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerIdle.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/WalkerASETrainingArea.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scripts/ConfigurableJointController.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/RigidBodyExtensions.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/RigidBodyExtensions.cs.meta
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
Due: none

Update PushBlock models, incl. retrain PushBlock and convert PushBlockCollab
  Project/Assets/ML-Agents/Examples/PushBlock/Prefabs/PushBlockArea.prefab
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlock.nn
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlock.nn.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlock.onnx
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlock.onnx.meta
  Project/Assets/ML-Agents/Examples/PushBlock/TFModels/PushBlockCollab.onnx
Due: none

fix for _process_image_num_channels. Addresses problem with GridSensors
  ml-agents-envs/mlagents_envs/rpc_utils.py
Due: validate-init-py

Updated walker ase obs space. Fixed walker stand reward system.
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerStand.unity
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerStand.unity.meta
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerASEAgent.cs
  Project/Assets/ML-Agents/Examples/Walker/Scripts/WalkerStandingRewardSystem.cs
  config/ase/WalkerASE-Paper.yml
  config/ase/WalkerStand.yml
Due: none

Re-recorded demos.
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerBoxing.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerIdle.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerIdle.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerRunW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerSoccerKick.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkE.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkE.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkN.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkN.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkS.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkS.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkW.demo
  Project/Assets/ML-Agents/Examples/Walker/Demos/ASE/WalkerWalkW.demo.meta
  Project/Assets/ML-Agents/Examples/Walker/Prefabs/Platforms/WalkerASETrainingArea.prefab
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerASE.unity
  Project/Assets/ML-Agents/Examples/Walker/Scenes/WalkerStand.unity
Due: none
