Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

doc & changelog
  ml-agents/mlagents/trainers/tests/test_trainer_util.py
Due: validate-init-py

import in init
  pettingzoo-unity/pettingzoo_unity/__init__.py
Due: validate-versions, validate-init-py

catch import error
  pettingzoo-unity/pettingzoo_unity/__init__.py
Due: validate-versions, validate-init-py

update colab
  colab/Colab_LLAPI.ipynb
Due: none

move colab and add readme
  pettingzoo-unity/Colab_PettingZoo.ipynb
  pettingzoo-unity/README.md
Due: none

update changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Initialize-from custom checkpoints (#5525)
  com.unity.ml-agents/CHANGELOG.md
  docs/Training-Configuration-File.md
  ml-agents/mlagents/trainers/directory_utils.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/model_saver/torch_model_saver.py
  ml-agents/mlagents/trainers/tests/test_trainer_util.py
  ml-agents/mlagents/trainers/tests/torch/saver/test_saver.py
  ml-agents/mlagents/trainers/trainer/trainer_factory.py
Due: validate-init-py

handle agent dying
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
Due: validate-init-py

add tests
  pettingzoo-unity/pettingzoo_unity/tests/simple_test_envs.py
  pettingzoo-unity/pettingzoo_unity/tests/test_pettingzoo_wrapper.py
Due: validate-init-py

update doc
  pettingzoo-unity/README.md
Due: none

add info
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
  pettingzoo-unity/pettingzoo_unity/tests/simple_test_envs.py
Due: validate-init-py

add action mask
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
Due: validate-init-py

fix action mask
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
Due: validate-init-py

update action masks in colab
  pettingzoo-unity/Colab_PettingZoo.ipynb
Due: none

change default env
  pettingzoo-unity/Colab_PettingZoo.ipynb
Due: none

Fix broken link in documentation (#5477)
  docs/Python-API.md
Due: none

abs state final plots
  just_plot.py
Due: validate-init-py

set version
  pettingzoo-unity/setup.py
Due: validate-init-py

fix hybrid action
  pettingzoo-unity/pettingzoo_unity/pettingzoo_wrapper.py
  pettingzoo-unity/pettingzoo_unity/tests/simple_test_envs.py
Due: validate-init-py

Fixed failing test due to gym 0.20.0 release. Updated gym-unity package to fix gym version to 0.20.0.
  gym-unity/gym_unity/tests/test_gym.py
  gym-unity/setup.py
Due: validate-init-py

Updated CHANGELOG.
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update gym version to 0.20.0 (#5540)
  com.unity.ml-agents/CHANGELOG.md
  gym-unity/gym_unity/tests/test_gym.py
  gym-unity/setup.py
Due: validate-init-py

Added support for beta and epsilon schedule in test config conversion
  ml-agents/mlagents/trainers/tests/test_config_conversion.py
Due: validate-init-py

Added initial (untested) support for separating schedule for beta, LR, and epsilon.
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Updated docs. Set epsilon to be linear by default.
  docs/Learning-Environment-Create-New.md
  docs/Training-Configuration-File.md
  docs/Training-ML-Agents.md
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Updated configs to add beta and epsilon schedule where appropriate.
  config/imitation/Crawler.yaml
  config/imitation/Hallway.yaml
  config/imitation/PushBlock.yaml
  config/poca/DungeonEscape.yaml
  config/poca/PushBlockCollab.yaml
  config/poca/SoccerTwos.yaml
  config/poca/StrikersVsGoalie.yaml
  config/ppo/3DBall.yaml
  config/ppo/3DBallHard.yaml
  config/ppo/3DBall_randomize.yaml
  config/ppo/Basic.yaml
  config/ppo/Crawler.yaml
  config/ppo/FoodCollector.yaml
  config/ppo/GridWorld.yaml
  config/ppo/Hallway.yaml
  config/ppo/Match3.yaml
  config/ppo/PushBlock.yaml
  config/ppo/Pyramids.yaml
  config/ppo/PyramidsRND.yaml
  config/ppo/Sorter_curriculum.yaml
  config/ppo/Visual3DBall.yaml
  config/ppo/VisualFoodCollector.yaml
  config/ppo/Walker.yaml
  config/ppo/WallJump.yaml
  config/ppo/WallJump_curriculum.yaml
  config/ppo/Worm.yaml
Due: none

Update README.md with new survey link(#5500)
  README.md
Due: none

fix colab for hybrid actions
  pettingzoo-unity/Colab_PettingZoo.ipynb
Due: none

add note on auto reset
  pettingzoo-unity/README.md
Due: none

Addressed CR change requests.
  docs/Training-Configuration-File.md
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Minor update.
  ml-agents/mlagents/trainers/settings.py
Due: validate-init-py

Updated docs.
  docs/Training-Configuration-File.md
Due: none

remove all go in tear down
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
Due: none

temporarily trigger all package tests
  .yamato/com.unity.ml-agents-test.yml
Due: none

Added changes to CHANGELOG.
  com.unity.ml-agents/CHANGELOG.md
Due: none

revert test trigger
  .yamato/com.unity.ml-agents-test.yml
Due: none

Fixed typo in Training-Configuration-File.md
  docs/Training-Configuration-File.md
Due: none

Fix test failures on trunk with input system 1.1.1 (#5542)
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
Due: none

Update Learning-Environment-Design-Agents.md (#5507)
  docs/Learning-Environment-Design-Agents.md
Due: none
