Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

validate-versions:
  name: validate library versions
  language: script
  entry: utils/validate_versions.py

validate-init-py:
  name: validate __init__.py files
  language: script
  entry: utils/validate_inits.py

Upgrade to the new analytics api.
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Analytics/InferenceAnalytics.cs
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
Due: none

Comment Debug log.
  com.unity.ml-agents/Runtime/Analytics/TrainingAnalytics.cs
Due: none

dotnet format whitespace
  com.unity.ml-agents.extensions/Runtime/Sensors/ArticulationBodySensorComponent.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/BoxOverlapCheckerTests.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/GridSensorTests.cs
Due: none

Revert "dotnet format whitespace"
  com.unity.ml-agents.extensions/Runtime/Sensors/ArticulationBodySensorComponent.cs
  com.unity.ml-agents.extensions/Tests/Runtime/Input/InputActuatorComponentTests.cs
  com.unity.ml-agents/Runtime/Analytics/Events.cs
  com.unity.ml-agents/Runtime/Communicator/RpcCommunicator.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/BoxOverlapCheckerTests.cs
  com.unity.ml-agents/Tests/Runtime/Sensor/GridSensorTests.cs
Due: none

Use dotnet 9.x in pre-commits to fix dotnet-format failures
  .github/workflows/pre-commit.yml
Due: none

Update dotnet version
  .github/workflows/pre-commit.yml
Due: none

Revert "Update dotnet version"
  .github/workflows/pre-commit.yml
Due: none

Revert "Use dotnet 9.x in pre-commits to fix dotnet-format failures"
  .github/workflows/pre-commit.yml
Due: none

Clean the shared memory directory before running dotnet
  .github/workflows/pre-commit.yml
Due: none

Apply dotnet-format check
  com.unity.ml-agents/Runtime/Analytics/Events.cs
Due: none

Add cloud service analytics to the conditions in TestEnableAnalytics.
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs
Due: none

Correct TestEnableAnalytics.
  com.unity.ml-agents/Tests/Editor/Analytics/TrainingAnalyticsTest.cs
Due: none

Fixed Mixed CPU, GPU Computation Error
  ml-agents/mlagents/trainers/torch_entities/distributions.py
  ml-agents/mlagents/trainers/torch_entities/encoders.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
  ml-agents/mlagents/trainers/torch_entities/utils.py
  ml-agents/setup.py
Due: validate-init-py

Tiny change on dependencies.
  ml-agents/setup.py
Due: validate-init-py

undo change on ml-agents/setup.py
  ml-agents/setup.py
Due: validate-init-py

Gymnasium Naming Convention Updates for Unity AEC Env
  ml-agents-envs/mlagents_envs/envs/unity_aec_env.py
Due: validate-init-py

Aligned reset, seed, and render functions to align with standards from Gymnasium
  ml-agents-envs/mlagents_envs/envs/unity_gym_env.py
  ml-agents-envs/mlagents_envs/envs/unity_parallel_env.py
  ml-agents-envs/mlagents_envs/envs/unity_pettingzoo_base_env.py
Due: validate-init-py

Update PettingZoo Base Env
  ml-agents-envs/mlagents_envs/envs/unity_parallel_env.py
  ml-agents-envs/mlagents_envs/envs/unity_pettingzoo_base_env.py
Due: validate-init-py

Expanded python version range to prevent version conflicted with other libraries
  ml-agents-envs/setup.py
Due: validate-init-py

Add pyproject files
  ml-agents-envs/pyproject.toml
  ml-agents/pyproject.toml
  pyproject.toml
Due: none

Update pyproject
  ml-agents-envs/pyproject.toml
  ml-agents/pyproject.toml
  pyproject.toml
Due: none

Update CHANGELOG
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update pyprojects
  ml-agents-envs/pyproject.toml
  ml-agents/pyproject.toml
  pyproject.toml
Due: none

Fix circular dependency
  ml-agents-envs/setup.py
  ml-agents/setup.py
Due: validate-init-py

Fix pre-commit checks
  ml-agents-envs/setup.py
  ml-agents/setup.py
Due: validate-init-py

Revert docs changes
  docs/Inference-Engine.md
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Learning-Environment-Design-Agents.md
  docs/ML-Agents-Toolkit-Documentation.md
  docs/Migrating.md
  docs/Readme.md
  docs/Training-on-Amazon-Web-Service.md
Due: none

Undo release table in docs
  docs/Readme.md
Due: none

Undo release 23 table
  utils/make_readme_table.py
Due: validate-init-py

Update documentation links
  colab/Colab_UnityEnvironment_1_Run.ipynb
  colab/Colab_UnityEnvironment_2_Train.ipynb
  colab/Colab_UnityEnvironment_3_SideChannel.ipynb
  colab/Colab_UnityEnvironment_4_SB3VectorEnv.ipynb
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
Due: none

Use develop branch for links
  com.unity.ml-agents/Documentation~/TableOfContents.md
  com.unity.ml-agents/Documentation~/Training-ML-Agents.md
  com.unity.ml-agents/Documentation~/Tutorial-Colab.md
  com.unity.ml-agents/Documentation~/index.md
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
Due: none

Fix visual observation tensor indexing for Unity inference.
  com.unity.ml-agents/Runtime/Inference/TensorExtensions.cs
Due: none

add a2c
  Project/Assets/ML-Agents/Examples/WallJump/Scenes/WallJump.meta
  Project/Assets/ML-Agents/Examples/WallJump/Scenes/WallJump/LightingData.asset
  Project/Assets/ML-Agents/Examples/WallJump/Scenes/WallJump/LightingData.asset.meta
  Project/Assets/ML-Agents/Examples/WallJump/Scenes/WallJump/ReflectionProbe-0.exr
  Project/Assets/ML-Agents/Examples/WallJump/Scenes/WallJump/ReflectionProbe-0.exr.meta
  com.unity.ml-agents/package.json
  ml-agents-trainer-plugin/mlagents_trainer_plugin/teste/network.py
  ml-agents-trainer-plugin/mlagents_trainer_plugin/teste/optimizer.py
  ml-agents-trainer-plugin/mlagents_trainer_plugin/teste/policy.py
  ml-agents-trainer-plugin/mlagents_trainer_plugin/teste/settings.py
  ml-agents-trainer-plugin/mlagents_trainer_plugin/teste/trainer.py
  ml-agents-trainer-plugin/setup.py
  ml-agents/mlagents/trainers/torch_entities/action_model.py
  ml-agents/mlagents/trainers/torch_entities/layers.py
Due: validate-init-py

Fix: data on both cuda:0 and cuda:1 when using --torch-device cuda:1
  ml-agents/mlagents/torch_utils/torch.py
Due: validate-init-py

edit setup
  com.unity.ml-agents/package.json
  ml-agents-envs/setup.py
  ml-agents/mlagents/trainers/torch_entities/action_model.py
  ml-agents/mlagents/trainers/torch_entities/layers.py
  ml-agents/setup.py
Due: validate-init-py

update
  config/all/3DBall.yaml
  config/bisac/3DBall.yaml
  config/lsac/3DBall.yaml
  config/masac/3DBall.yaml
  ml-agents/mlagents/plugins/trainer_type.py
  ml-agents/mlagents/trainers/all/trainer.py
  ml-agents/mlagents/trainers/bisac/__init__.py
  ml-agents/mlagents/trainers/bisac/optimizer_torch.py
  ml-agents/mlagents/trainers/bisac/trainer.py
  ml-agents/mlagents/trainers/both/__init__.py
  ml-agents/mlagents/trainers/both/policy.py
  ml-agents/mlagents/trainers/both/trainer.py
  ml-agents/mlagents/trainers/learn.py
  ml-agents/mlagents/trainers/lsac/__init__.py
  ml-agents/mlagents/trainers/lsac/optimizer_torch.py
  ml-agents/mlagents/trainers/lsac/trainer.py
  ml-agents/mlagents/trainers/torch_entities/action_log_probs.py
  ml-agents/mlagents/trainers/torch_entities/action_model.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
Due: validate-versions, validate-init-py

Ensure tensors use default device in torch policy and utils
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/torch_entities/utils.py
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

Ensure tensors are created on default device
  ml-agents/mlagents/trainers/optimizer/torch_optimizer.py
  ml-agents/mlagents/trainers/poca/optimizer_torch.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

Cleanup
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/trainer_controller.py
Due: validate-init-py

Black reformatting
  ml-agents/mlagents/trainers/torch_entities/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch_entities/networks.py
  ml-agents/mlagents/trainers/torch_entities/utils.py
Due: validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$
