Repository Unity-Technologies/ml-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-versions, validate-init-py

Path conditions:
  validate-versions: any of: .*/__init__.py
  validate-init-py: any of: \.py$

Backport AcademyStepper fix in #4532 to verified branch (#4637)
  .github/workflows/pre-commit.yml
  .yamato/com.unity.ml-agents-test.yml
  DevProject/Assets/ML-Agents.meta
  DevProject/Assets/ML-Agents/Scripts.meta
  DevProject/Assets/ML-Agents/Scripts/Tests.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTest.cs
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTest.cs.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTestScene.unity
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/AcademyTest/AcademyStepperTestScene.unity.meta
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/Runtime.asmdef
  DevProject/Assets/ML-Agents/Scripts/Tests/Runtime/Runtime.asmdef.meta
  DevProject/ProjectSettings/EditorBuildSettings.asset
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Tests/Runtime/RuntimeAPITest.cs
Due: none

Update yamato promotion job from templatee (#4566)
  .yamato/com.unity.ml-agents-promotion.yml
Due: none

[release 8] fix promotion job dependencies (#4567)
  .yamato/com.unity.ml-agents-promotion.yml
Due: none

backport fix for recursion in user code (#4638)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/RecursionChecker.cs
  com.unity.ml-agents/Runtime/RecursionChecker.cs.meta
  com.unity.ml-agents/Tests/Editor/MLAgentsEditModeTest.cs
  com.unity.ml-agents/Tests/Editor/RecursionCheckerTests.cs
  com.unity.ml-agents/Tests/Editor/RecursionCheckerTests.cs.meta
Due: none

Fix yamato promotion job (#4639)
  .yamato/com.unity.ml-agents-promotion.yml
Due: none

Use lower scaling value
  ml-agents/mlagents/trainers/torch/layers.py
Due: validate-init-py

Match3 hyperparameters change
  Project/Assets/ML-Agents/Examples/Match3/TFModels/Match3VectorObsSmallerBatch.onnx
  config/ppo/Match3.yaml
Due: none

Added meta file
  Project/Assets/ML-Agents/Examples/Match3/TFModels/Match3VectorObsSmallerBatch.onnx.meta
Due: none

default ActionTuple to None
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents/mlagents/trainers/env_manager.py
Due: validate-init-py

Use linear gain for KaimingHe
  ml-agents/mlagents/trainers/torch/layers.py
Due: validate-init-py

Updated training.md to include note about CLI arguments in the YAML file (#4630)
  docs/Training-ML-Agents.md
Due: none

Bumping versions on master for release_10
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Changing the versions for the release_10
  README.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

default actions are np.array of shape (n_agents, 0)
  ml-agents-envs/mlagents_envs/base_env.py
  ml-agents-envs/mlagents_envs/environment.py
  ml-agents/mlagents/trainers/env_manager.py
Due: validate-init-py

preliminary aciton model tests
  ml-agents/mlagents/trainers/tests/tensorflow/test_simple_rl.py
  ml-agents/mlagents/trainers/tests/test_subprocess_env_manager.py
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
  ml-agents/mlagents/trainers/tests/torch/test_utils.py
  ml-agents/mlagents/trainers/torch/action_model.py
Due: validate-init-py

move AgentAction, ActionLogProbs, and ActionFlattener to separate files
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/ppo/optimizer_torch.py
  ml-agents/mlagents/trainers/sac/optimizer_torch.py
  ml-agents/mlagents/trainers/tests/torch/test_simple_rl.py
  ml-agents/mlagents/trainers/torch/action_model.py
  ml-agents/mlagents/trainers/torch/components/bc/module.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/curiosity_reward_provider.py
  ml-agents/mlagents/trainers/torch/components/reward_providers/gail_reward_provider.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

add action util files
  ml-agents/mlagents/trainers/torch/action_flattener.py
  ml-agents/mlagents/trainers/torch/action_log_probs.py
  ml-agents/mlagents/trainers/torch/agent_action.py
Due: validate-init-py

update barracuda dep to 1.0.4
  com.unity.ml-agents/package.json
Due: none

changelog
  com.unity.ml-agents/CHANGELOG.md
Due: none

Update CHANGELOG.md
  com.unity.ml-agents/CHANGELOG.md
Due: none

update package to 1.0.6
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
Due: none

check nan action for torch
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/tf_policy.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
Due: validate-init-py

step overflow test
  ml-agents/mlagents/trainers/tests/tensorflow/test_nn_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
Due: validate-init-py

Change title
  com.unity.ml-agents.extensions/Documentation~/Match3.md
Due: none

use int tensor for global step in torch
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

action model and network tests
  ml-agents/mlagents/trainers/tests/torch/test_action_model.py
  ml-agents/mlagents/trainers/tests/torch/test_networks.py
Due: validate-init-py

Update barracuda dependency to 1.0.4 (#4644)
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/package.json
Due: none

Update ml-agents/mlagents/trainers/policy/tf_policy.py
  ml-agents/mlagents/trainers/policy/tf_policy.py
Due: validate-init-py

Bumping versions on master for release_10 (#4642)
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/package.json
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

added overvierw, cleaned up structure.
  com.unity.ml-agents.extensions/Documentation~/Match3.md
Due: none

fix torch policy tests
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
Due: validate-init-py

remove actionspec logic simple test env
  ml-agents/mlagents/trainers/tests/simple_test_envs.py
Due: validate-init-py

Updated with getting started, clean up
  com.unity.ml-agents.extensions/Documentation~/Match3.md
Due: none

Check int overflow/ nan action for torch and add tests (#4646)
  ml-agents/mlagents/trainers/policy/policy.py
  ml-agents/mlagents/trainers/policy/tf_policy.py
  ml-agents/mlagents/trainers/policy/torch_policy.py
  ml-agents/mlagents/trainers/tests/tensorflow/test_nn_policy.py
  ml-agents/mlagents/trainers/tests/torch/test_policy.py
  ml-agents/mlagents/trainers/torch/networks.py
Due: validate-init-py

Changing the versions for the release_10 (#4643)
  README.md
  com.unity.ml-agents.extensions/package.json
  com.unity.ml-agents/CHANGELOG.md
  com.unity.ml-agents/Documentation~/com.unity.ml-agents.md
  com.unity.ml-agents/Runtime/Academy.cs
  com.unity.ml-agents/Runtime/Actuators/IActionReceiver.cs
  com.unity.ml-agents/Runtime/Actuators/IDiscreteActionMask.cs
  com.unity.ml-agents/Runtime/Agent.cs
  com.unity.ml-agents/Runtime/Demonstrations/DemonstrationRecorder.cs
  com.unity.ml-agents/Runtime/DiscreteActionMasker.cs
  com.unity.ml-agents/package.json
  docs/Installation-Anaconda-Windows.md
  docs/Installation.md
  docs/Training-on-Amazon-Web-Service.md
  docs/Unity-Inference-Engine.md
  gym-unity/gym_unity/__init__.py
  ml-agents-envs/mlagents_envs/__init__.py
  ml-agents/mlagents/trainers/__init__.py
Due: validate-versions, validate-init-py

Refactoring the code to make it more flexible. Still a hack
  ml-agents/mlagents/trainers/torch/layers.py
  ml-agents/mlagents/trainers/torch/networks.py
  ml-agents/mlagents/trainers/torch/utils.py
Due: validate-init-py

added link to form. added note about playable
  com.unity.ml-agents.extensions/Documentation~/Match3.md
Due: none

clean up
  com.unity.ml-agents.extensions/Documentation~/Match3.md
Due: none

Adding a missing doc on the ObservationWriterExtensions
  com.unity.ml-agents/Runtime/Sensors/ObservationWriter.cs
Due: none
